unpackaged/main/default/flows/Answer_AS_Prefill_Answer_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Answer_From_Related_Object</name>
        <label>Update Answer From Related Object</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>AnswerRelatedObjectUpdater</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>answerId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <elementReference>$Record.Questionnaire_Question__r.Question__r.Related_Object_Field__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intakeId</name>
            <value>
                <elementReference>$Record.Intake__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupObjectName</name>
            <value>
                <elementReference>$Record.Questionnaire_Question__r.Question__r.Lookup_Object__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>$Record.Questionnaire_Question__r.Question__r.Related_Object__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AnswerRelatedObjectUpdater</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Related_Object_and_Field</name>
        <label>Has Related Object and Field?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Questionnaire_Question__r.Question__r.Related_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Questionnaire_Question__r.Question__r.Related_Object_Field__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Questionnaire_Question__r.Question__r.Lookup_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Answer_From_Related_Object</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Answer: AS | Prefill Answer on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Answer: AS | Prefill Answer on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Related_Object_and_Field</targetReference>
        </connector>
        <object>Answer__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
