unpackaged/main/default/flows/BRIO_Intake_Update_Remove_Five9_List_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Did_we_find_a_list_item</name>
        <label>Did we find a list item</label>
        <locationX>275</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Five9_List_Item.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_List_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Intake_Vendor_Saddle_Rock</name>
        <label>Does Intake Vendor = &#39;Saddle Rock&#39;?</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saddle Rock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Five9_List_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Removes Five9 list item if lead moves past retainer sent</description>
    <environments>Default</environments>
    <interviewLabel>BRIO | Intake | Update | Remove Five9 List Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Intake | Update | Remove Five9 List Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_List_Item</name>
        <label>Delete List Item</label>
        <locationX>143</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Five9_List_Item.Id</elementReference>
            </value>
        </filters>
        <object>Five9LSP__Five9_List_Item__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Five9_List_Item</name>
        <label>Get Five9 List Item</label>
        <locationX>275</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_list_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Retainer Agreement Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Retainer Agreement Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Case Verification</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Does_Intake_Vendor_Saddle_Rock</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
