unpackaged/main/default/flows/BRIO_Intake_Update_Create_Five9_List_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>const_flowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BRIO_Intake_Update_Create_Five9_List_Item</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Do_we_have_an_Error_on_File_list_item_already</name>
        <label>Do we have an &#39;Error on File&#39; list item already</label>
        <locationX>530</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>LOG_EOF_List_Item_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Error_on_File_List_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Error_on_File_list_item_for_this_Intake_if_one_exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_EOF_List_Item_Does_Not_Already_Exist_Create</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_Misc_list_item_already_exist</name>
        <label>Does a Misc Five9 List Item already exist?</label>
        <locationX>299</locationX>
        <locationY>2964</locationY>
        <defaultConnector>
            <targetReference>LOG_Misc_List_Item_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Misc_list_item_for_this_Intake_if_one_exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Five9_List_Item_Removal</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Case_Type_List_Item_Already_Exist</name>
        <label>Does Case Type List Item Already Exist?</label>
        <locationX>530</locationX>
        <locationY>2064</locationY>
        <defaultConnector>
            <targetReference>LOG_Yes_Case_Type_List_Item_Already_Exists_END</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Case_Type_List_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_list_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_No_Case_Type_List_Item_Does_Not_Already_Exist_Create</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Case_Type_have_a_related_List</name>
        <label>Does the Case Type have a related List?</label>
        <locationX>728</locationX>
        <locationY>1740</locationY>
        <defaultConnector>
            <targetReference>LOG_No_Case_Type_Does_NOT_Have_Five9_List_Defined_END</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Case_Type__r.Five9_List__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.brioapi__API_External_ID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SRLG-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Yes_Case_Type_Does_Have_Five9_List_Defined</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Intake_qualify_for_the_Error_On_File_Litify_List</name>
        <label>Does the Intake qualify for the &#39;Error On File Litify&#39; List?</label>
        <locationX>728</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Does_the_Case_Type_have_a_related_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_add_to_Error_On_File_Litify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error on File</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Qualifies_for_EOF_List_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Intake_Vendor_Saddle_Rock</name>
        <label>Does the Intake Vendor = &#39;Saddle Rock&#39;?</label>
        <locationX>745</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Log_Intake_Vendor_Saddle_Rock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saddle Rock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Intake_Vendor_Saddle_Rock_02</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Intake meets either of these outcomes, create a Miscellaneous List Item and end the flow.</description>
        <name>Does_this_Intake_qualify_for_the_Miscellaneous_List</name>
        <label>Does this Intake qualify for the Miscellaneous List?</label>
        <locationX>299</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>LOG_Qualifies_for_Miscellaneous_List_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Status_Retainer_Agreement_Sent_Sub_Status_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retainer Agreement Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LOG_Qualifies_for_Misc_List_Yes</targetReference>
            </connector>
            <label>Status = &#39;Retainer Agreement Sent&#39; | Sub-Status=&#39;None&#39;</label>
        </rules>
        <rules>
            <name>Status_Retainer_Agreement_Sent_Sub_Status_Sent_E_Sign_by_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retainer Agreement Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent E-Sign by Mail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Qualifies_for_Misc_List_Yes</targetReference>
            </connector>
            <label>Status = &#39;Retainer Agreement Sent&#39; &amp; Sub-Status = &#39;Sent E-Sign by Mail&#39;</label>
        </rules>
        <rules>
            <name>Status_Retainer_Agreement_Sent_Sub_Status_E_Sign_Retainer_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retainer Agreement Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-Sign Retainer Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Qualifies_for_Misc_List_Yes</targetReference>
            </connector>
            <label>Status = &#39;Retainer Agreement Sent&#39; | Sub-Status=&#39;E-Sign Retainer Sent&#39;</label>
        </rules>
    </decisions>
    <description>2025-31-01: Added 2 new  conditions
2025-02-02: Removed Needs Audit field change kickoff condition
2025-10-04: Added &#39;External&#39; Record Type Exclusion</description>
    <environments>Default</environments>
    <interviewLabel>BRIO | Intake | Update | Create Five9 List Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Intake | Update | Create Five9 List Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Debug_Flow_Starting</name>
        <label>Log: Debug - Flow Starting</label>
        <locationX>745</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Does_the_Intake_Vendor_Saddle_Rock</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flow starting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_EOF_List_Item_Already_Exists</name>
        <label>LOG: EOF List Item Already Exists</label>
        <locationX>662</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Does_the_Case_Type_have_a_related_List</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>EOF List Item Already Exists</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_EOF_List_Item_Does_Not_Already_Exist_Create</name>
        <label>LOG: EOF List Item Does Not Already Exist / Create</label>
        <locationX>398</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Brio_Five9List_Item_Removal_Flow_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>EOF List Item Does Not Already Exist / Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Intake_Vendor_Saddle_Rock</name>
        <label>Log: Intake Vendor != Saddle Rock</label>
        <locationX>1190</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Default Outcome: Intake Vendor != Saddle Rock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Intake_Vendor_Saddle_Rock_02</name>
        <label>LOG: Intake Vendor = Saddle Rock</label>
        <locationX>299</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Does_this_Intake_qualify_for_the_Miscellaneous_List</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Intake Vendor = Saddle Rock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Misc_List_Item_Already_Exists</name>
        <label>LOG: Misc List Item Already Exists</label>
        <locationX>431</locationX>
        <locationY>3072</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Miscellaneous List Item Already Exists</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Misc_List_Item_Does_Not_Exist_Create</name>
        <label>LOG: Misc List Item Does Not Exist / Create</label>
        <locationX>167</locationX>
        <locationY>3180</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Miscellaneous Five Nine List Item Does Not Exist / Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_No_Case_Type_Does_NOT_Have_Five9_List_Defined_END</name>
        <label>LOG: No, Case Type Does NOT Have Five9 List Defined / END</label>
        <locationX>926</locationX>
        <locationY>1848</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>No, Case Type Does NOT Have Five9 List Defined / END</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_No_Case_Type_List_Item_Does_Not_Already_Exist_Create</name>
        <label>LOG: No, Case Type List Item Does Not Already Exist / Create</label>
        <locationX>398</locationX>
        <locationY>2172</locationY>
        <connector>
            <targetReference>Five9_List_Item_Insert</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>No, Case Type List Item Does Not Already Exists / Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Qualifies_for_EOF_List_Yes</name>
        <label>LOG: Qualifies for EOF List = Yes</label>
        <locationX>530</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Get_Error_on_File_list_item_for_this_Intake_if_one_exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Qualifies for EOF List  = Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Qualifies_for_Misc_List_Yes</name>
        <label>LOG: Qualifies for Misc List = Yes</label>
        <locationX>299</locationX>
        <locationY>2748</locationY>
        <connector>
            <targetReference>Get_Misc_list_item_for_this_Intake_if_one_exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Qualifies for Miscellaneous List = Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Qualifies_for_Miscellaneous_List_No</name>
        <label>LOG: Qualifies for Miscellaneous List = No</label>
        <locationX>728</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Does_the_Intake_qualify_for_the_Error_On_File_Litify_List</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Default Outcome: Intake Vendor != Saddle Rock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Yes_Case_Type_Does_Have_Five9_List_Defined</name>
        <label>LOG: Yes, Case Type Does Have Five9 List Defined</label>
        <locationX>530</locationX>
        <locationY>1848</locationY>
        <connector>
            <targetReference>Get_existing_list_item</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Yes, Case Type Does Have Five9 List Defined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Yes_Case_Type_List_Item_Already_Exists_END</name>
        <label>LOG: Yes, Case Type List Item Already Exists / END</label>
        <locationX>662</locationX>
        <locationY>2172</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Yes, Case Type List Item Already Exists / END</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>If a &#39;Error on File&#39; List Item already exists, we do not need to create one and can end the flow.</description>
        <name>Get_Error_on_File_list_item_for_this_Intake_if_one_exists</name>
        <label>Get &#39;Error on File&#39; list item for this Intake if one exists</label>
        <locationX>530</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_an_Error_on_File_list_item_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Five9LSP__Five9_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2bUJ0000004TMnYAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_list_item</name>
        <label>Get existing list item</label>
        <locationX>530</locationX>
        <locationY>1956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Case_Type_List_Item_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Five9LSP__Five9_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Case_Type__r.Five9_List__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If a Misc. List Item already exists, we do not need to create one and can end the flow.</description>
        <name>Get_Misc_list_item_for_this_Intake_if_one_exists</name>
        <label>Get Misc. list item for this Intake if one exists</label>
        <locationX>299</locationX>
        <locationY>2856</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_a_Misc_list_item_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Five9LSP__Five9_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2bUJ0000000NflYAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 11) AND 6 AND 7 AND (8 OR 9 OR 10) AND 12</filterLogic>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retainer Agreement Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retainer Agreement Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Verification</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Case_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012UJ000001ZYCjYAO</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Log_Debug_Flow_Starting</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Brio_Five9List_Item_Removal_Flow_2</name>
        <label>Brio - Five9List Item Removal Flow 2</label>
        <locationX>398</locationX>
        <locationY>1356</locationY>
        <flowName>Brio_Five9List_Item_Insert_and_Removal</flowName>
        <inputAssignments>
            <name>varFive9ListItemId</name>
            <value>
                <stringValue>a2bUJ0000004TMnYAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>BRIO | Intake | Update | Create Five9 List Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIntake</name>
            <value>
                <elementReference>$Record.FX_Id__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Five9_List_Item_Insert</name>
        <label>Five9 List Item Insert</label>
        <locationX>398</locationX>
        <locationY>2280</locationY>
        <flowName>Brio_Five9List_Item_Insert_and_Removal</flowName>
        <inputAssignments>
            <name>varFive9ListItemId</name>
            <value>
                <elementReference>$Record.litify_pm__Case_Type__r.Five9_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>BRIO | Intake | Update | Create Five9 List Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIntake</name>
            <value>
                <elementReference>$Record.FX_Id__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Five9_List_Item_Removal</name>
        <label>Five9 List Item Removal</label>
        <locationX>167</locationX>
        <locationY>3072</locationY>
        <connector>
            <targetReference>LOG_Misc_List_Item_Does_Not_Exist_Create</targetReference>
        </connector>
        <flowName>Brio_Five9List_Item_Insert_and_Removal</flowName>
        <inputAssignments>
            <name>varFive9ListItemId</name>
            <value>
                <stringValue>a2bUJ0000000NflYAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>BRIO | Intake | Update | Create Five9 List Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varIntake</name>
            <value>
                <elementReference>$Record.FX_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDeleteFive9ListItemOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Flow_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BRIO | Intake | Update | Create Five9 List Item</stringValue>
        </value>
    </variables>
</Flow>
