unpackaged/main/default/flows/BRIO_Int_Trans_Create_Set_External_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Intake_Id</name>
        <label>Get Intake Id</label>
        <locationX>182</locationX>
        <locationY>924</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Intake_Exists</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>tt_getIntake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_intakeId_as_External_ID</name>
        <label>Set intakeId as External ID</label>
        <locationX>336</locationX>
        <locationY>600</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>intakeId_Starts_with_a0C</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>var_request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;intakeId&quot;,&quot;order&quot;:0}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_externalId</assignToReference>
            <name>value1</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SetintakeExternalIdasExternalID</name>
        <label>Set intakeExternalId as External ID</label>
        <locationX>754</locationX>
        <locationY>600</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_External_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>var_request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;intakeExternalId&quot;,&quot;order&quot;:0}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_externalId</assignToReference>
            <name>value1</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_JSON_Payload_Formatted_Variable</name>
        <label>Set JSON Payload Formatted Variable</label>
        <locationX>1150</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>var_jsonPayloadFormatted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Json_Formatted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fx_extractedIntegratorMatterId2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Request_Body</name>
        <label>Store Request Body</label>
        <locationX>941</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_request</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.brioapi__Request__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckExternalId</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_flowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BRIO_Int_Trans_Create_Set_External_ID</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckExternalId</name>
        <label>Check External ID</label>
        <locationX>941</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Contains Neither</defaultConnectorLabel>
        <rules>
            <name>Contains_intakeId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_request</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>intakeId</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_intakeId_as_External_ID</targetReference>
            </connector>
            <label>Contains intakeId</label>
        </rules>
        <rules>
            <name>Contains_intakeExternalId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_request</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>intakeExternalId</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetintakeExternalIdasExternalID</targetReference>
            </connector>
            <label>Contains intakeExternalId</label>
        </rules>
        <rules>
            <name>Is_IntakeDesk_NewMatterWebhook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IntakeDesk_NewMatterWebhook</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JSON_Payload_Formatted_Variable</targetReference>
            </connector>
            <label>Is IntakeDesk_NewMatterWebhook</label>
        </rules>
    </decisions>
    <decisions>
        <name>fx_extractedIntegratorMatterId2</name>
        <label>fx_extractedIntegratorMatterId</label>
        <locationX>1150</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>IS NULL</defaultConnectorLabel>
        <rules>
            <name>IS_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NOT_NULL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id_IntakeDesk</targetReference>
            </connector>
            <label>IS NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Exists</name>
        <label>Intake Exists</label>
        <locationX>182</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Set_External_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_Id.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id_And_Intake</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>intakeId_Starts_with_a0C</name>
        <label>intakeId Starts with a0C</label>
        <locationX>336</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>No, DOES NOT Start with a0C</defaultConnectorLabel>
        <rules>
            <name>Yes_Starts_with_a0C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_externalId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fx_var_externalIdLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Debug_Get_Intake_Id_Apex</targetReference>
            </connector>
            <label>Yes, Starts with a0C</label>
        </rules>
    </decisions>
    <description>Updates to also set Intake Lookup and RelatedTo</description>
    <environments>Default</environments>
    <formulas>
        <description>Extract integratorMatterId value from Json_Formatted__c field on Integration Transaction record</description>
        <name>fx_extractedIntegratorMatterId</name>
        <dataType>String</dataType>
        <expression>MID(
  {!var_jsonPayloadFormatted},
  FIND(&quot;integratorMatterId: &quot;, {!var_jsonPayloadFormatted}) + 20,
  6
)</expression>
    </formulas>
    <formulas>
        <name>fx_var_externalIdLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!var_externalId})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>BRIO | Int Trans | Create | Set External ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Int Trans | Create | Set External ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>LOG_Debug_Flow_Starting</name>
        <label>LOG: Debug - Flow Starting</label>
        <locationX>941</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Store_Request_Body</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flow Starting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Debug_Get_Intake_Id_Apex</name>
        <label>LOG: Debug - Get Intake Id Apex</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Get_Intake_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Get Intake Id Apex Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_External_Id</name>
        <label>Set External Id</label>
        <locationX>941</locationX>
        <locationY>1608</locationY>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>var_externalId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_External_Id_And_Intake</name>
        <label>Set External Id  AND  Intake AND RelatedTo</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>var_externalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brioapi__Intake__c</field>
            <value>
                <elementReference>var_externalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brioapi__Related_To_Id__c</field>
            <value>
                <elementReference>var_externalId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_External_Id_IntakeDesk</name>
        <label>Set External Id</label>
        <locationX>1018</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>fx_extractedIntegratorMatterId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>237</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BrioAPI_IntakeWebhook</stringValue>
            </value>
        </filters>
        <filters>
            <field>brioapi__Request__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IntakeDesk_NewMatterWebhook</stringValue>
            </value>
        </filters>
        <filters>
            <field>Json_Formatted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>brioapi__Integration_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>LOG_Debug_Flow_Starting</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_getIntake</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>select
Id
from litify_pm__Intake__c 
where Id = &#39;{!var_externalId}&#39;
AND IsDeleted = FALSE</text>
    </textTemplates>
    <variables>
        <name>var_externalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_jsonPayloadFormatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
