unpackaged/main/default/flows/BRIO_EmailMessage_Update_Set_First_and_LastOpenedDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>FirstOpenedDate_Is_Blank_NULL</name>
        <label>FirstOpenedDate Is Blank/NULL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Opened_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, IS NOT NULL</defaultConnectorLabel>
        <rules>
            <name>Yes_IS_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstOpenedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_and_Last_Opened</targetReference>
            </connector>
            <label>Yes, IS NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BRIO | EmailMessage | Update Set First and LastOpenedDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | EmailMessage | Update Set First and LastOpenedDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_First_and_Last_Opened</name>
        <label>Update First and Last Opened</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>FirstOpenedDate</field>
            <value>
                <elementReference>$Record.Zapier_Last_Update_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastOpenedDate</field>
            <value>
                <elementReference>$Record.Zapier_Last_Update_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Opened_Only</name>
        <label>Update Last Opened Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>LastOpenedDate</field>
            <value>
                <elementReference>$Record.Zapier_Last_Update_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FirstOpenedDate_Is_Blank_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zapier_Last_Update_DateTime__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zapier_Last_Update_DateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
