unpackaged/main/default/flows/BRIO_Monthly_Marketing_Associate_Intakes_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit</name>
        <label>Commit</label>
        <locationX>138</locationX>
        <locationY>1646</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Reset_Variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Intakes</name>
        <label>Get Intakes</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Intakes_Exist</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>tt_intakeQuery</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>138</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>var_number_loopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_col_intakes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_col_emptyIntakes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Type_Multi_PK_Variable</name>
        <label>Set Case Type Multi-PK Variable</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_mms_caseTypeMultiSelectPL_orig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Monthly_Marketing_Record.Case_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Intakes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_Counter</name>
        <label>Set Loop Counter</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_number_loopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Record_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MMS_Rec_Var</name>
        <label>Set MMS Rec Var</label>
        <locationX>226</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>var_rec_mms.Set_Intakes_Last_Run_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_nowDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_rec_mms.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Intakes_Last_Run_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Var</name>
        <label>Set Record Var</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_rec_intake.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_rec_intake.litify_mktgROI__Monthly_Marketing_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_col_intakes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_rec_intake</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Total Number of Intakes</description>
        <name>Set_Total_Counter</name>
        <label>Set Total Counter</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_number_total_intake_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_flowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BRIO_Monthly_Marketing_Associate_Intakes_Screen</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Loop_Counter</name>
        <label>Check Loop Counter</label>
        <locationX>270</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Counter &lt; 10</defaultConnectorLabel>
        <rules>
            <name>Counter_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_number_loopCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Debug_Commit_Update</targetReference>
            </connector>
            <label>Counter &gt; 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intakes_Exist</name>
        <label>Intakes Exist</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>LOG_Debug_No_Matching_Intakes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intakes.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOG_Debug_Intakes_Exist_Begin_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Intake_Collection_NULL</name>
        <label>Is Intake Collection NULL</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>FINAL_Update_Intakes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Intake_Collection_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_col_intakes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>success_intake_count_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update calculation to be based Official Intake Date field instead of CreatedDate field on Intake</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_mms_caseTypeMultiSelectPL_formatted</name>
        <dataType>String</dataType>
        <expression>&quot;&#39;&quot; &amp; SUBSTITUTE({!var_mms_caseTypeMultiSelectPL_orig}, &quot;;&quot;, &quot;&#39;, &#39;&quot;) &amp; &quot;&#39;&quot;</expression>
    </formulas>
    <formulas>
        <name>fx_mms_endDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Monthly_Marketing_Record.End_Date__c})</expression>
    </formulas>
    <formulas>
        <name>fx_mms_startDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Monthly_Marketing_Record.litify_mktgROI__Monthly_Spend_Start_Date__c})</expression>
    </formulas>
    <formulas>
        <name>fx_nowDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>If Intake Value field on MMS = &#39;High Value&#39; THEN &quot;AND FX_Intake_Value__c = &#39;High Value&#39;&quot;</description>
        <name>fx_soqlQueryFinalWhereClause</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!Get_Monthly_Marketing_Record.Intake_Value__c}) = &#39;High Value&#39;,
    &quot;AND FX_Intake_Value__c = &#39;High Value&#39;&quot;,
    IF(
        TEXT({!Get_Monthly_Marketing_Record.Intake_Value__c}) = &#39;Low Value&#39;,
        &quot;AND FX_Intake_Value__c = &#39;Low Value&#39;&quot;,
        &quot;&quot;
    )
)</expression>
    </formulas>
    <interviewLabel>BRIO | Monthly Marketing | Associate Intakes Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Monthly Marketing | Associate Intakes Screen</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Intakes.sObjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Total_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Intake_Collection_NULL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>LOG_Debug_Commit_Update</name>
        <label>LOG: Debug - Commit Update</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Intakes</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Counter &gt; 10, Update Intakes &amp; Commit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Debug_Flow_Starting</name>
        <label>LOG: Debug - Flow Starting</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Set_Case_Type_Multi_PK_Variable</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flow Starting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Debug_Intakes_Exist_Begin_Loop</name>
        <label>LOG: Debug - Intakes Exist / Begin Loop</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Matching Intakes Exist. Begin Loop</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LOG_Debug_No_Matching_Intakes</name>
        <label>LOG: Debug - No Matching Intakes</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>success_no_intakes</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>No Matching Intakes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Monthly_Marketing_Record</name>
        <label>Get Monthly Marketing Record</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>confirm_start_flow_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_mktgROI__Monthly_Marketing_Spend__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>FINAL_Update_Intakes</name>
        <label>FINAL Update Intakes</label>
        <locationX>138</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>success_intake_count_1</targetReference>
        </connector>
        <inputReference>var_col_intakes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Intakes_Last_Run_Date</name>
        <label>Set Intakes Last Run Date</label>
        <locationX>226</locationX>
        <locationY>2630</locationY>
        <inputReference>var_rec_mms</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intakes</name>
        <label>Update Intakes</label>
        <locationX>138</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Commit</targetReference>
        </connector>
        <inputReference>var_col_intakes</inputReference>
    </recordUpdates>
    <screens>
        <name>confirm_start_flow_1</name>
        <label>confirm_start_flow_1</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Exit</backButtonLabel>
        <connector>
            <targetReference>LOG_Debug_Flow_Starting</targetReference>
        </connector>
        <fields>
            <name>confirm_start_flow2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;This automation will search for any Intakes that match this MMS record (based on Official Intake Date, Case Type, Source and Intake Value - if not All Intakes) and set the lookup on Intake to this MMS record.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;To proceed please click &#39;Continue&#39;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;To exit please click the &#39;X&#39; in the upper right corner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success_intake_count_1</name>
        <label>success_intake_count_1</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_MMS_Rec_Var</targetReference>
        </connector>
        <fields>
            <name>success_intake_count_1_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Automation Successful&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!var_number_total_intake_count} Intakes Updated&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success_no_intakes</name>
        <label>success_no_intakes</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_MMS_Rec_Var</targetReference>
        </connector>
        <fields>
            <name>success_no_intakes_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Automation Successful&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;0 Intakes Updated&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;(I.E. No Intakes Found Requiring Update)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Monthly_Marketing_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_intakeQuery</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT
Id,
litify_mktgROI__Monthly_Marketing_Spend__c
FROM litify_pm__Intake__c 
WHERE Official_Intake_Date__c &gt;= {!fx_mms_startDate}
AND Official_Intake_Date__c &lt;= {!fx_mms_endDate}
AND litify_pm__Source__c = &#39;{!Get_Monthly_Marketing_Record.litify_mktgROI__Source__c}&#39;
AND litify_pm__Case_Type__r.Name IN ({!fx_mms_caseTypeMultiSelectPL_formatted})
AND litify_mktgROI__Monthly_Marketing_Spend__c != &#39;{!Get_Monthly_Marketing_Record.Id}&#39; 
{!fx_soqlQueryFinalWhereClause}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_col_emptyIntakes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
    <variables>
        <name>var_col_intakes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
    <variables>
        <name>var_mms_caseTypeMultiSelectPL_orig</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_number_loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_number_total_intake_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_rec_intake</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
    <variables>
        <name>var_rec_mms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_mktgROI__Monthly_Marketing_Spend__c</objectType>
    </variables>
</Flow>
