unpackaged/main/default/flows/BRIO_Integration_Transaction_Set_Intake_Lookup_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Related_To_Record_Type</name>
        <label>Related To Record Type</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.brioapi__Related_To_Id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Intake_Lookup</targetReference>
            </connector>
            <label>Intake</label>
        </rules>
        <rules>
            <name>Matter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.brioapi__Related_To_Id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matter_Lookup</targetReference>
            </connector>
            <label>Matter</label>
        </rules>
    </decisions>
    <description>CS - 06262025 - When an Integration Transaction record is created, set appropriate Intake or Matter lookup based on Related To Id value.</description>
    <environments>Default</environments>
    <interviewLabel>BRIO | Integration Transaction | Set Intake Lookup on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Integration Transaction | Set Intake Lookup on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Intake_Lookup</name>
        <label>Set Intake Lookup</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>brioapi__Intake__c</field>
            <value>
                <elementReference>$Record.brioapi__Related_To_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Matter_Lookup</name>
        <label>Set Matter Lookup</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Matter__c</field>
            <value>
                <elementReference>$Record.brioapi__Related_To_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>brioapi__Related_To_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>brioapi__Integration_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Related_To_Record_Type</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
