unpackaged/main/default/flows/BRIO_Intake_Call_Outbound_ANI_on_Phone_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Values</name>
        <label>Extract Values</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>var_clean_json</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;cdc8fb08-39ac-42b1-ab75-cefe9988d40d&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;6f7aef1e-56d9-435a-8e30-b5dfde9f6320&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;85fed4f1-3bed-410d-9537-93833ae135bf&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;result&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;reason&quot;,&quot;order&quot;:4}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ExtractJSONValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Get_ANI_Info</name>
        <label>Post to Get ANI Info</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <actionName>MakeHTTPCall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clean_Up_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Endpoint</name>
            <value>
                <stringValue>https://app.outboundani.com/4a77d41d-47cf-4f82-8016-ae717dbb3af2/f762d9f9-a07f-46c3-a228-4b68bffe55dd.php</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Headers</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;&quot;,&quot;value&quot;:&quot;&quot;,&quot;order&quot;:0}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Params</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;api_key&quot;,&quot;value&quot;:&quot;9BD0CE03-A6F6-0805-BFCD-8A2BAB4C5FC9&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;campaign_id&quot;,&quot;value&quot;:&quot;{!var_text_Campaign_Id}&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;phone&quot;,&quot;value&quot;:&quot;{!var_text_phone}&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;zip&quot;,&quot;value&quot;:&quot;{!var_text_zip}&quot;,&quot;order&quot;:3}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Timeout</name>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>MakeHTTPCall</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clean_Up_Output</name>
        <label>Clean Up Output</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>var_clean_json</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_cleanUpOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Data</name>
        <label>Get Data</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>var_text_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_text_zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_text_Campaign_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__r.Outbound_ANI_Campaign_Identifier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Get_ANI_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Result</name>
        <label>Check Result</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Update_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Result_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Extract_Values.value4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_intake_with_failure_response</targetReference>
            </connector>
            <label>Result Fail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_cleanUpOutput</name>
        <dataType>String</dataType>
        <expression>&quot;{&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!Post_to_Get_ANI_Info.Body}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;,&quot;&quot;), &quot;{&quot;, &quot;&quot;),&quot;}&quot;, &quot;&quot;) &amp; &quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_phone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.litify_pm__Phone__c}), {!$Record.Caller_Phone__c}, {!$Record.litify_pm__Phone__c})</expression>
    </formulas>
    <formulas>
        <name>formula_zip</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.litify_pm__Client__c}), {!$Record.Caller__r.BillingPostalCode}, {!$Record.litify_pm__Client__r.BillingPostalCode})</expression>
    </formulas>
    <interviewLabel>BRIO | Intake | Call Outbound ANI on Phone Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Intake | Call Outbound ANI on Phone Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>506</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Outbound_ANI_Response__c</field>
            <value>
                <elementReference>Post_to_Get_ANI_Info.Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ani_assigned__c</field>
            <value>
                <elementReference>Extract_Values.value1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ani_identifier__c</field>
            <value>
                <elementReference>Extract_Values.value3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ani_update__c</field>
            <value>
                <elementReference>Extract_Values.value2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_intake_with_failure_response</name>
        <label>Update intake with failure response</label>
        <locationX>242</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Outbound_ANI_Response__c</field>
            <value>
                <elementReference>Post_to_Get_ANI_Info.Body</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>litify_pm__Phone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Caller_Phone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Caller_Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Data</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>var_clean_json</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_text_Campaign_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_text_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_text_zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
