unpackaged/main/default/flows/BRIO_TEMP_Resend_Intakes_to_Tekmir_Prod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_recordId</name>
        <label>Assign recordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BRIO_Referral_Tekmir_Custom_Apex</targetReference>
        </connector>
    </assignments>
    <description>07032025 CS - Temporary flow to do a bulk re-send of Intake&#39;s to Tekmir&#39;s Prod environment.</description>
    <environments>Default</environments>
    <interviewLabel>BRIO | TEMP | Resend Intakes to Tekmir Prod {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | TEMP | Resend Intakes to Tekmir Prod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Temp_ResendToTekmirProd__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Temp_ResendToTekmirProd__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assign_recordId</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>BRIO_Referral_Tekmir_Custom_Apex</name>
        <label>BRIO | Referral | Tekmir Custom Apex</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>BRIO_Referrals_Tekmir_Custom_Apex</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
