unpackaged/main/default/flows/BRIO_Drip_Call_Count_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Outbound_Comm_Records</name>
        <label>Get Outbound Comm Records</label>
        <locationX>974</locationX>
        <locationY>1571</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Comm_Record_Count</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Outbound_Communications__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>tt_outboundCommBaseQuery</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Call_ID</name>
        <label>Assign Call ID</label>
        <locationX>974</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>CallID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Last_Call.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_one_of_these_Call_Count_fields_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Case_Verification_Vars</name>
        <label>Copy 4 of Set Case Verification Vars</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_text_callCountFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CV_Past_Due_Calls__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_nbr_currentCallCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CV_Past_Due_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Verification_Vars</name>
        <label>Set Case Verification Vars</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_text_callCountFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case_Verification_Calls__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_nbr_currentCallCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case_Verification_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Comm_Record_Count</name>
        <label>Set Comm Record Count</label>
        <locationX>974</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>var_nbr_outboundCommRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Outbound_Comm_Records.sObjects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_var_rec_OutboundComms_have_a_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CV_Expired_Calls</name>
        <label>Set CV Expired Calls</label>
        <locationX>1634</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_text_callCountFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DLRS_CV_Expired_Calls__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_nbr_currentCallCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DLRS_CV_Expired_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CV_Expiring_Variables</name>
        <label>Set CV Expiring Variables</label>
        <locationX>1370</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_text_callCountFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DLRS_CV_Expiring_Calls__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_nbr_currentCallCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DLRS_CV_Expiring_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_E_Retainer_Sent_Vars</name>
        <label>Set E-Retainer Sent Vars</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_text_callCountFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E_sign_Retainer_Sent_Calls__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_nbr_currentCallCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.E_sign_Retainer_Sent_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mail_Retainer_Sent_Vars</name>
        <label>Set Mail Retainer Sent Vars</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_text_callCountFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mail_Retainer_Sent_Calls__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_nbr_currentCallCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mail_Retainer_Sent_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Open_and_Working_Vars</name>
        <label>Set Open and Working Vars</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_text_callCountFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open_and_Working_Status_Calls__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_nbr_currentCallCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Open_and_Working_Status_Calls__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Query</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_flowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BRIO_Drip_Call_Count_Automations</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_one_of_these_Call_Count_fields_change</name>
        <label>Did one of these Call Count fields change?</label>
        <locationX>974</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Log_Default_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_and_Working_Status_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Open_and_Working_Status_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Open_and_Working_Status_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Open_and_Working_Decision_Path</targetReference>
            </connector>
            <label>Open and Working Status Calls</label>
        </rules>
        <rules>
            <name>Case_Verification_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Verification_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Case_Verification_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Case_Verification</targetReference>
            </connector>
            <label>Case Verification Calls</label>
        </rules>
        <rules>
            <name>Mail_Retainer_Sent_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mail_Retainer_Sent_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Mail_Retainer_Sent_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Mail_Retainer_Sent</targetReference>
            </connector>
            <label>Mail Retainer Sent Calls</label>
        </rules>
        <rules>
            <name>E_sign_Retainer_Sent_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.E_sign_Retainer_Sent_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.E_sign_Retainer_Sent_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_E_sign_Retainer_Sent</targetReference>
            </connector>
            <label>E-sign Retainer Sent Calls</label>
        </rules>
        <rules>
            <name>CV_Past_Due_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CV_Past_Due_Calls__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CV_Past_Due_Calls__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_CV_Past_Due_Calls</targetReference>
            </connector>
            <label>CV Past Due Calls</label>
        </rules>
        <rules>
            <name>CV_Expiring_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DLRS_CV_Expiring_Calls__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_CV_Expiring_Calls_Changed</targetReference>
            </connector>
            <label>CV Expiring Calls</label>
        </rules>
        <rules>
            <name>CV_Expired_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DLRS_CV_Expired_Calls__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_CV_Expired_Calls_Changed</targetReference>
            </connector>
            <label>CV Expired Calls</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is also where we are checking that this Outbound Comms record is for a Case Type matching the Intake.</description>
        <name>Does_var_rec_OutboundComms_have_a_value</name>
        <label>Does var_rec_OutboundComms have a value?</label>
        <locationX>974</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Log_No_Comm_Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_nbr_outboundCommRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Auto_Comm_Records_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sending_Enabled</name>
        <label>Sending Enabled</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Log_No_Sending_Enabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sending_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SRLG_Automated_Comms_Settings__c.Sending_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Last_Call</targetReference>
            </connector>
            <label>Yes Sending Enabled</label>
        </rules>
        <rules>
            <name>Testing_User_and_Testing_intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Display_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.BRIO_Automated_Comms_Tester</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Testing_User</targetReference>
            </connector>
            <label>Testing User and Testing intake</label>
        </rules>
    </decisions>
    <description>DR: Moved to dynamic SOQl.  Made Last Call Result optional, made status picklist on outbound comma  multiselect.  Removed check on vendor name
DR - 9/13/2024 - Adding partner filter

DR: 5/23/2024 - Added CV Expiring and CV Expired</description>
    <environments>Default</environments>
    <formulas>
        <description>inserted into dynamic soql to enable &quot;active for testing&quot; comm records</description>
        <name>formula_activeForTesting</name>
        <dataType>String</dataType>
        <expression>IF({!$Permission.BRIO_Automated_Comms_Tester}, &quot; Or Active_For_Testing__c = true &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>BRIO | Drip | Call Count Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Drip | Call Count Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Auto_Comm_Records_Found</name>
        <label>Log: Auto Comm Records Found</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Send_Outbound_Comms</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>{!var_nbr_outboundCommRecordCount} Automated Communcation Records Found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Case_Verification</name>
        <label>Log: Case Verification</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Set_Case_Verification_Vars</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Case Verification Decision Path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_CV_Expired_Calls_Changed</name>
        <label>Log: CV Expired Calls Changed</label>
        <locationX>1634</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Set_CV_Expired_Calls</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>CV Expired Calls Changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_CV_Expiring_Calls_Changed</name>
        <label>Log: CV Expiring Calls Changed</label>
        <locationX>1370</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Set_CV_Expiring_Variables</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>CV Expiring Calls Changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_CV_Past_Due_Calls</name>
        <label>Log: CV Past Due Calls</label>
        <locationX>1106</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Copy_4_of_Set_Case_Verification_Vars</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>CV Past Due Calls Decision Path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Default_Outcome</name>
        <label>Log: Default Outcome</label>
        <locationX>1898</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Unknown Field Change - Default decision path executed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_E_sign_Retainer_Sent</name>
        <label>Log: E-sign Retainer Sent</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Set_E_Retainer_Sent_Vars</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>E-sign Retainer Sent Decision Path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Flow_Started</name>
        <label>Log: Flow Started</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Sending_Enabled</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flow Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Mail_Retainer_Sent</name>
        <label>Log: Mail Retainer Sent</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Set_Mail_Retainer_Sent_Vars</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Mail Retainer Sent Decision Path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_No_Comm_Records_Found</name>
        <label>Log: No Comm Records Found</label>
        <locationX>1106</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_Drip_Call_Count_Automations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>No Automated Comm Records Found.  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_No_Sending_Enabled</name>
        <label>Log: No Sending Enabled</label>
        <locationX>1194</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Sending Disabled.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Open_and_Working_Decision_Path</name>
        <label>Log: Open and Working Decision Path</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Set_Open_and_Working_Vars</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Open and Working Decision Path; {!Get_the_Last_Call.CallDisposition}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Query</name>
        <label>Log: Query</label>
        <locationX>974</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Get_Outbound_Comm_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_Drip_Call_Count_Automations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>tt_outboundCommBaseQuery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Testing_User</name>
        <label>Log: Testing User</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_the_Last_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Sending Disabled.  Testing User </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Find the call with the most recent created date. We will refer to its CallDisposition for the GETs below.</description>
        <name>Get_the_Last_Call</name>
        <label>Get the Last Call</label>
        <locationX>974</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Call_ID</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallObject</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Open_and_Working_Status_Calls__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Verification_Calls__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mail_Retainer_Sent_Calls__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>E_sign_Retainer_Sent_Calls__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CV_Past_Due_Calls__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DLRS_CV_Expired_Calls__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DLRS_CV_Expiring_Calls__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Outbound_Comms</name>
        <label>Send Outbound Comms</label>
        <locationX>842</locationX>
        <locationY>2003</locationY>
        <flowName>BRIO_Drip_Comms_Sending_Subflow</flowName>
        <inputAssignments>
            <name>input_col_CommRecords</name>
            <value>
                <elementReference>Get_Outbound_Comm_Records.sObjects</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_IntakeID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_outboundCommBaseQuery</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>select id, name, Call_Count_API_Name__c, Call_Count_Number__c, Applies_to_all_Case_Types__c,Case_Type__c,Record_Type_Name__c,RecordTypeId, BCC__c,CC__c, Email_From__c, Email_Template_ID__c, Intake_Status__c, Intake_Sub_Status__c, Last_Call_Result__c, Open_Email_Template__c, Recipient__c, SMS_Message_to_Client__c, LastModifiedById, LastModifiedDate, CreatedById, CreatedDate, Active__c, Active_For_Testing__c
from Outbound_Communications__c  where record_type_name__c = &#39;Call Count&#39; 
and( Active__c = true {!formula_activeForTesting} )
and Call_Count_API_Name__c = &#39;{!var_text_callCountFieldName}&#39; 
and Call_Count_Number__c = {!var_nbr_currentCallCount} 
and (Case_Type__c Includes (&#39;{!$Record.litify_pm__Case_Type__r.Name}&#39;) or Case_Type__c = null) 
and (Last_Call_Result__c like &#39;%{!Get_the_Last_Call.CallDisposition}%&#39; or Last_Call_Result__c = null) 
and (Intake_Status__c Includes(&#39;{!$Record.litify_pm__Status__c}&#39;) or Intake_Status__c = null) 
and (Intake_Sub_Status__c Includes(&#39;{!$Record.Sub_Status__c}&#39;) or Intake_Sub_Status__c = null)
and (Internal_Name__c = &#39;{!$Record.Internal_Name__c}&#39; or Internal_Name__c = null )
and (Campaign_Partner_Filter__c = &#39;{!$Record.Campaign_Partner__c}&#39; or Campaign_Partner_Filter__c = null)</text>
    </textTemplates>
    <variables>
        <name>CallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_nbr_currentCallCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_nbr_outboundCommRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_rec_OutboundComms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Outbound_Communications__c</objectType>
    </variables>
    <variables>
        <name>var_soql_outboundCommQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>select id, name, Call_Count_API_Name__c, Call_Count_Number__c, Applies_to_all_Case_Types__c,Case_Type__c,Record_Type_Name__c,RecordTypeId, BCC__c,CC__c,Email_From__c,Email_Template_ID__c,Intake_Status__c,Intake_Sub_Status__c,Last_Call_Result__c,Open_Email_Template__c,Recipient__c, SMS_Message_to_Client__c,LastModifiedById,LastModifiedDate,CreatedById,CreatedDate from Outbound_Communications__c  where Call_Count_API_Name__c = &#39;Open_and_Working_Status_Calls__c&#39;  and Call_Count_Number__c = 4 and Active__c = true  </stringValue>
        </value>
    </variables>
    <variables>
        <name>var_text_callCountFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCNT_OutboundComms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
