unpackaged/main/default/flows/BRIO_Create_Custom_Object_from_Case_Type_when_Intake_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Camp_Lejeune_Record_Already_Created</name>
        <label>Camp Lejeune Record Already Created</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Camp_Lejuene__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Camp_LeJuene_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Case</name>
        <label>Campaign Case</label>
        <locationX>820</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Case</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Imported</name>
        <label>Status = Imported</label>
        <locationX>303</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Status != Imported</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Imported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imported</stringValue>
                </rightValue>
            </conditions>
            <label>Yes, Status = Imported</label>
        </rules>
    </decisions>
    <decisions>
        <name>Talcum_Powder_Record_Already_Created</name>
        <label>Talcum Powder Record Already Created</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Talcum_Powder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Talcum_Powder_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Case_Type</name>
        <label>Which Case Type?</label>
        <locationX>820</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Campaign_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Camp_LeJuene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Camp Lejeune</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Camp_Lejeune_Record_Already_Created</targetReference>
            </connector>
            <label>Camp LeJuene</label>
        </rules>
        <rules>
            <name>Talcum_Powder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Talcum Powder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Talcum_Powder_Record_Already_Created</targetReference>
            </connector>
            <label>Talcum Powder</label>
        </rules>
        <rules>
            <name>Tylenol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tylenol</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Case</targetReference>
            </connector>
            <label>Tylenol</label>
        </rules>
        <rules>
            <name>Hair_Relaxer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hair Relaxers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Case</targetReference>
            </connector>
            <label>Hair Relaxer</label>
        </rules>
    </decisions>
    <description>Create Campaign Cases that are then attached to the Intake in order to store questionnaire values put in by Agents.
Updated to work for all case types and expand functionality of Cases using a single Campaign Case Object. (removed HR campaign) | Updated trigger event from formula to be more logic based. 1/23/25 | Added Eaton 2/325</description>
    <environments>Default</environments>
    <formulas>
        <name>UpdatingCampaign</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Case_Type.Name} = &quot;Hair Relaxers&quot;, &quot;a2qUJ0000005NP2YAM&quot;,
IF({!Get_Case_Type.Name} = &quot;NEC&quot;, &quot;a2qUJ0000005NP1YAM&quot;,
IF({!Get_Case_Type.Name} = &quot;Talcum Powder&quot;, &quot;a2qDn000000KTRgIAO&quot;,
IF({!Get_Case_Type.Name} = &quot;Tylenol&quot;, &quot;a2qUJ0000005NOzYAM&quot;,
IF({!Get_Case_Type.Name} = &quot;Paraquat&quot;, &quot;a2qUJ0000005NP3YAM&quot;,
IF({!Get_Case_Type.Name} = &quot;Round Up&quot;, &quot;a2qUJ0000005NP0YAM&quot;,
IF({!Get_Case_Type.Name} = &quot;Zantac&quot;, &quot;a2qUJ000000Nry5YAC&quot;,
IF({!Get_Case_Type.Name} = &quot;Depo-Provera&quot;, &quot;a2qUJ000000TbtpYAC&quot;,
IF({!Get_Case_Type.Name} = &quot;Camp Lejeune&quot;, &quot;a2qDn000000KSwMIAW&quot;,
IF({!Get_Case_Type.Name} = &quot;LA Wildfires&quot;, &quot;a2qUJ000000ctDBYAY&quot;,
&quot;&quot;
))))))))))</expression>
    </formulas>
    <interviewLabel>BRIO - Create Custom Object from Case Type when Intake is Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO - Create Custom Object Record from Case Type when Intake is Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Camp_LeJuene_Record</name>
        <label>Create Camp LeJuene Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Intake</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Camp_Lejeune__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Case</name>
        <label>Create Campaign Case</label>
        <locationX>688</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Update_Intake_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Get_Case_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Talcum_Powder_Record</name>
        <label>Create Talcum Powder Record</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Intake_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Talcum_Powder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Type</name>
        <label>Get Case Type</label>
        <locationX>820</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Case_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Case_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>952</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>UpdatingCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_0</name>
        <label>Update Campaign</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>UpdatingCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_0_0</name>
        <label>Update Campaign</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>UpdatingCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Camp_Lejuene__c</field>
            <value>
                <elementReference>Create_Camp_LeJuene_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>UpdatingCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_0</name>
        <label>Update Intake</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>UpdatingCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talcum_Powder__c</field>
            <value>
                <elementReference>Create_Talcum_Powder_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Values</name>
        <label>Update Intake Values</label>
        <locationX>688</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Campaign_Case__c</field>
            <value>
                <elementReference>Create_Campaign_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>UpdatingCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>177</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Imported</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND ((3 AND 5) OR 4)</filterLogic>
        <filters>
            <field>litify_pm__Case_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Case_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Talcum_Powder__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Case__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a03Dn0000054CCKIA2</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
