unpackaged/main/default/flows/BRIO_Intake_Tekmir_Send_Autolaunch_V4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Submit_to_Tekmir</name>
        <label>Apex: Submit to Tekmir</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Tekmir_SendToTekmirInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileIds</name>
            <value>
                <elementReference>var_col_fileIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intakeId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tekmir_SendToTekmirInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Get_all_file_Ids</name>
        <label>Get all file Ids</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>var_col_fileIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFileInfoRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_Submit_to_Tekmir</targetReference>
        </connector>
    </assignments>
    <description>Submit data and retainer to Tekmir</description>
    <environments>Default</environments>
    <interviewLabel>BRIO Intake Tekmir Send Autolaunch V4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO Intake Tekmir Send Autolaunch V4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_file_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_col_fileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFileInfoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
