unpackaged/main/default/flows/BRIO_Litify_Note_Create_Update_Intake_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Remove HTML markup from the Notes Body (since it is being copied from a Rich Text field to a Long Text field).</description>
        <name>Remove_HTML_Markup</name>
        <label>Remove HTML Markup From Note Body</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <actionName>RemoveHtmlMarkup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Intake_Note</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richText</name>
            <value>
                <elementReference>$Record.litify_pm__lit_Note__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveHtmlMarkup</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>const_flowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BRIO_Litify_Note_Create_Update_Intake_Note</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Intake_Status_Imported</name>
        <label>Intake Status != Imported</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Remove_HTML_Markup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status != Imported</defaultConnectorLabel>
        <rules>
            <name>Status_Imported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__lit_Intake__r.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imported</stringValue>
                </rightValue>
            </conditions>
            <label>Status = Imported</label>
        </rules>
    </decisions>
    <description>On creation of a Litify Note record associated to an intake, stamp the Note field on the related Intake&#39;s Intake Note field.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_Note_Plain_FINAL</name>
        <dataType>String</dataType>
        <expression>
LEFT({!fx_Note_Plain_Text_LEFT_CUT}, (FIND(&quot;&lt;&quot;, {!fx_Note_Plain_Text_LEFT_CUT}))-1
)</expression>
    </formulas>
    <formulas>
        <name>fx_Note_Plain_Text_LEFT_CUT</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.litify_pm__lit_Note__c}, LEFT({!$Record.litify_pm__lit_Note__c}, FIND(&quot;&gt;&quot;, {!$Record.litify_pm__lit_Note__c})), &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>BRIO | Litify Note | Create | Update Intake Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Litify Note | Create | Update Intake Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>LOG_Error_updating_Intake_Note_field_on_related_Intake</name>
        <label>LOG: Error updating Intake Note field on related Intake</label>
        <locationX>770</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Error Setting Intake Note field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Intake_Note</name>
        <label>Update Intake Note</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <faultConnector>
            <targetReference>LOG_Error_updating_Intake_Note_field_on_related_Intake</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Intake_Note__c</field>
            <value>
                <elementReference>Remove_HTML_Markup</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.litify_pm__lit_Intake__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__lit_Note__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__lit_Intake__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>litify_pm__lit_Note__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Intake_Status_Imported</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
