unpackaged/main/default/flows/BRIO_Send_Referral_Open_Matter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_External_Link</name>
        <label>Create External Link</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <actionName>SaddleRockDocrioExternalLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Campaign_Partner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>External_Link_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>expirationDate</name>
            <value>
                <elementReference>fx_expiration_date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SaddleRockDocrioExternalLink</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Launch_Bridge_Legal_Flow</name>
        <label>Launch Bridge Legal Flow</label>
        <locationX>930</locationX>
        <locationY>1862</locationY>
        <actionName>LaunchFlowDynamically</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Was_this_Intake_already_converted</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Get_Campaign_Partner.Delivery_Flow_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param1Name</name>
            <value>
                <stringValue>IntakeID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param1Value</name>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param2Name</name>
            <value>
                <stringValue>input_external_link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param2Value</name>
            <value>
                <elementReference>Create_External_Link.message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param3Name</name>
            <value>
                <stringValue>RetainerFileInfoID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>param3Value</name>
            <value>
                <elementReference>RetainerFileInfoID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFutureLaunch</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LaunchFlowDynamically</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Matter</name>
        <label>Open Matter</label>
        <locationX>2008</locationX>
        <locationY>2762</locationY>
        <actionName>litify_pm__PBOpenMatter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_this_Intake_Qualified</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorExplained</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>case_type</name>
            <value>
                <elementReference>screenCaseType.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_owner</name>
            <value>
                <elementReference>MatterOwnerScreen.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>override_matter_plan</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record_id</name>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>litify_pm__PBOpenMatter</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_File_Info_ID</name>
        <label>Assign File Info ID</label>
        <locationX>1590</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>RetainerFileInfoID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signedretainers.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Partner_Flow_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Questionnaire_ID</name>
        <label>Assign Questionnaire ID</label>
        <locationX>1986</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>QuestionnaireID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickQuestionnaire.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Filevine</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Option</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_Option</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <collectionProcessors>
        <name>Filter_to_eliminate_Signed_Retainer_docs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to eliminate Signed Retainer docs</label>
        <locationX>1986</locationX>
        <locationY>1862</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Signed_Retainer_docs_only</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_File_Info_recs_related_to_this_Intake</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Signed_Retainer_docs_only.FX_Is_Retainer__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Pick_Questionnaire</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Signed_Retainer_docs_only</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Signed Retainer docs only</label>
        <locationX>1590</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Signed_Retainer_docs_only</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_File_Info_recs_related_to_this_Intake</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Signed_Retainer_docs_only.FX_Is_Retainer__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>pickSignedRetainer</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Admin_or_QC_Check</name>
        <label>Admin or QC Check</label>
        <locationX>600</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Get_New_Matter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_admin_or_QC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Product Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resend_Choice</targetReference>
            </connector>
            <label>Is admin or QC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Partner_Flow_Name</name>
        <label>Campaign Partner Flow Name</label>
        <locationX>1590</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Was_this_Intake_already_converted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BRIO_Referrals_Send_Intakes_to_Bridge_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRIO_Referrals_Send_Intakes_to_Bridge_Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Bridge_Legal_Flow</targetReference>
            </connector>
            <label>Bridge Legal</label>
        </rules>
        <rules>
            <name>Simply_Convert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRIO_Referrals_Send_Intakes_to_Simply_Convert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Simply_Convert_Flow</targetReference>
            </connector>
            <label>Simply Convert</label>
        </rules>
        <rules>
            <name>TekmirApex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRIO_Referrals_Tekmir_Custom_Apex</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BRIO_Referral_Tekmir_Custom_Apex</targetReference>
            </connector>
            <label>TekmirApex</label>
        </rules>
        <rules>
            <name>Tekmir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROD_BRIO_Intake_Tekmir_Send_Autolaunch_V3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PROD_BRIO_Intake_Tekmir_Send_Autolaunch_V3</targetReference>
            </connector>
            <label>Tekmir</label>
        </rules>
        <rules>
            <name>Filevine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRIO_Send_to_Filevine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_eliminate_Signed_Retainer_docs</targetReference>
            </connector>
            <label>Filevine</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there is already a value in the Matter field on the Intake, then it has already been converted. If that&#39;s the case, we will jump straight to the email-composing component.</description>
        <name>Copy_1_of_Was_this_Intake_already_converted</name>
        <label>Copy 1 of Was this Intake already converted?</label>
        <locationX>1590</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Open_Matter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_already_converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_ID.litify_pm__Matter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of Yes already converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionDoNotReferOut</name>
        <label>decisionDoNotReferOut</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Documents_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Refer_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_ID.FX_Do_Not_Refer_Out__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Not_Refer_Out_Screen</targetReference>
            </connector>
            <label>Do Not Refer Out</label>
        </rules>
    </decisions>
    <decisions>
        <description>If we already sent them the Intake via API, we do NOT need to send them an email and can end the flow.</description>
        <name>Do_we_need_to_send_a_referral_email_to_the_Campaign_Partner</name>
        <label>Do we need to send a referral email to the Campaign Partner?</label>
        <locationX>1304</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>Does_this_Campaign_Partner_have_a_its_own_Email_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_NOT_need_to_send_email</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Delivery_Flow_Name_c_is_not_null</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BRIO_Referrals_Send_Intakes_to_Simply_Convert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PROD_BRIO_Intake_Tekmir_Send_Autolaunch_V3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BRIO_Referrals_Tekmir_Custom_Apex</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>success_ref</targetReference>
            </connector>
            <label>Do NOT need to send email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Documents_found</name>
        <label>Documents found?</label>
        <locationX>1304</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_File_Info_recs_related_to_this_Intake</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_External_Link</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Campaign Partner uses a custom API (aka Delivery_Flow_Name__c != &#39;&#39;), we will run the flow that calls it instead of sending a referral email.</description>
        <name>Does_this_Campaign_Partner_have_a_custom_API</name>
        <label>Does this Campaign Partner have a custom API?</label>
        <locationX>2008</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Open_Matter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Delivery_Flow_Name_c_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Delivery_Flow_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_Signed_Retainer_docs_only</targetReference>
            </connector>
            <label>Yes Delivery_Flow_Name__c is not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Email Template field is not null on the Campaign Partner record, we use that Template. Otherwise, we use a default Template.</description>
        <name>Does_this_Campaign_Partner_have_a_its_own_Email_Template</name>
        <label>Does this Campaign Partner have a its own Email Template?</label>
        <locationX>1579</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>EmailScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Unique_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Partner.Email_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Yes Unique Template</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking to make sure the intake is already qualified.</description>
        <name>Is_this_Intake_Qualified</name>
        <label>Is this Intake Qualified?</label>
        <locationX>2008</locationX>
        <locationY>2870</locationY>
        <defaultConnector>
            <targetReference>Update_Intake_when_Qualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome Assumed Qualified</defaultConnectorLabel>
        <rules>
            <name>Is_Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_ID.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred Out</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_ID.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_when_Disqualified</targetReference>
            </connector>
            <label>Is Disqualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Resend</name>
        <label>Verify Resend</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Get_New_Matter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Option</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>InputValues</targetReference>
            </connector>
            <label>Resend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_Email_Template_found</name>
        <label>Was the Email Template found?</label>
        <locationX>1425</locationX>
        <locationY>3686</locationY>
        <defaultConnector>
            <targetReference>EmailScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Email_Template</targetReference>
            </connector>
            <label>Template Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there is already a value in the Matter field on the Intake, then it has already been converted. If that&#39;s the case, we will jump straight to the email-composing component.</description>
        <name>Was_this_Intake_already_converted</name>
        <label>Was this Intake already converted?</label>
        <locationX>1304</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>InputValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_already_converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_ID.litify_pm__Matter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_External_Link_on_Intake</targetReference>
            </connector>
            <label>Yes already converted</label>
        </rules>
    </decisions>
    <description>RE 06/12/2025 - Added a decision tree &quot;Is Disqualified&quot; check with different updates. 
CS 06092025 - Update to decision node for sending email to include new Tekmir Apex flow name
CS 06062025 - Updates to use new custom apex for Tekmir PFAS
Updates to email flow
Added update to set Referred Out User, so API Error notifications can be sent to them.
DR - 7/17/24 - Updated from email to use custom setting in Automated Comm Settings
MC - 8/13 - including referred out sub-status for new filters.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_expiration_date</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <formulas>
        <name>fx_Subject</name>
        <dataType>String</dataType>
        <expression>&#39;Referral from Saddle Rock Legal Group LLC&#39;&amp;&#39; | &#39;&amp;{!Get_New_Matter.litify_pm__Client__r.Name}&amp;&#39; | &#39;&amp;{!Get_New_Matter.litify_pm__Case_Type__r.Name}</expression>
    </formulas>
    <formulas>
        <name>MatterPlanPlaceholder</name>
        <dataType>String</dataType>
        <expression>&#39;a0FDn000000NurbMAC&#39;</expression>
    </formulas>
    <interviewLabel>BRIO | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | &#39;Send Referral&#39; Open Matter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaign_Partner</name>
        <label>Get Campaign Partner</label>
        <locationX>1304</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_this_Intake_already_converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Campaign_Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>1425</locationX>
        <locationY>3578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_the_Email_Template_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Partner.Email_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Info_recs_related_to_this_Intake</name>
        <label>Get File Info recs related to this Intake</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionDoNotReferOut</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_docs__Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Delete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_ID</name>
        <label>Get Intake ID</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_File_Info_recs_related_to_this_Intake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Matter</name>
        <label>Get New Matter</label>
        <locationX>1304</locationX>
        <locationY>3254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_need_to_send_a_referral_email_to_the_Campaign_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Primary_Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Matter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_External_Link_on_Intake</name>
        <label>Update External Link on Intake</label>
        <locationX>600</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Admin_or_QC_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Link_URL__c</field>
            <value>
                <elementReference>Create_External_Link.message</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_when_Disqualified</name>
        <label>Update Intake when Disqualified</label>
        <locationX>1876</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Get_New_Matter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Link_URL__c</field>
            <value>
                <elementReference>Create_External_Link.message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Referred_Out_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ref_Referred_Out_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_when_Qualified</name>
        <label>Update Intake when Qualified</label>
        <locationX>2140</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Get_New_Matter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Link_URL__c</field>
            <value>
                <elementReference>Create_External_Link.message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Partner Firm Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Referred_Out_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ref_Referred_Out_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <screens>
        <name>Do_Not_Refer_Out_Screen</name>
        <label>Do Not Refer Out Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InconsistentDataError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;THIS INTAKE CANNOT BE REFERRED OUT AT THIS TIME BECAUSE:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayDoNotReferOut</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Intake_ID.FX_Do_Not_Refer_Out__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InconsistentDataInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please address this data inconsistency and re-send.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmailScreen</name>
        <label>Email Screen</label>
        <locationX>1579</locationX>
        <locationY>4178</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SendEmailScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Send Email to {!Get_Intake_ID.Campaign_Partner__r.Partner__r.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailComposerScreen</name>
            <extensionName>Email_Composer:FlowEmailComposer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bccAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_BCC_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_To_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ccAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_CC_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailBody</name>
                <value>
                    <elementReference>EmailBody</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromAddress</name>
                <value>
                    <elementReference>$Setup.SRLG_Automated_Comms_Settings__c.Default_Org_Wide_Email_From_Address__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subject</name>
                <value>
                    <elementReference>fx_Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whatId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideTemplateSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logEmail</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>whatId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendEmailWarningScreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;NOTE&lt;/strong&gt;: In order to send the email, you must click the &#39;Send&#39; button above. Closing the flow before clicking &#39;Send&#39; will end the flow without sending the email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorExplained</name>
        <label>Error Explained</label>
        <locationX>2602</locationX>
        <locationY>2870</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpenMatterError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please correct the error in order to continue the flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>External_Link_Error</name>
        <label>External Link Error</label>
        <locationX>1304</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExternalLinkError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 3, 3);&quot;&gt;Please correct the error in order to continue the flow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InputValues</name>
        <label>Input Values</label>
        <locationX>2008</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_this_Campaign_Partner_have_a_custom_API</targetReference>
        </connector>
        <fields>
            <name>Explain_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You are converting this Intake to a Matter for referral.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MatterOwnerScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Matter Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>litify_pm__Matter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screenCaseType</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>litify_pm__Case_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>litify_pm__Matter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Intake_ID.litify_pm__Case_Type__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pick_Questionnaire</name>
        <label>Pick Questionnaire</label>
        <locationX>1986</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Questionnaire_ID</targetReference>
        </connector>
        <fields>
            <name>SelectQuestionnaire</name>
            <fieldText>&lt;p&gt;Select the SLRG Questionnaire Output document you want to send to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Intake_ID.Campaign_Partner__r.Partner__r.Name}&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PickQuestionnaire</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>litify_docs__File_Info__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_to_eliminate_Signed_Retainer_docs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fabc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;File Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-c3e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pickSignedRetainer</name>
        <label>Pick Signed Retainer</label>
        <locationX>1590</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_File_Info_ID</targetReference>
        </connector>
        <fields>
            <name>SelectRetainerDT</name>
            <fieldText>&lt;p&gt;Select the Retainer document you want to send to &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Intake_ID.Campaign_Partner__r.Partner__r.Name}&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>signedretainers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>litify_docs__File_Info__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_to_Signed_Retainer_docs_only</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fabc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;File Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-c3e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resend_Choice</name>
        <label>Resend Choice</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Resend</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_resend</name>
            <choiceReferences>Yes_Option</choiceReferences>
            <choiceReferences>No_Option</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to resend?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Email_Template</name>
        <label>Show Email Template</label>
        <locationX>1293</locationX>
        <locationY>3794</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SendEmailScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Send Email to {!Get_Intake_ID.Campaign_Partner__r.Partner__r.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TemplateEmailScreen</name>
            <extensionName>Email_Composer:FlowEmailComposer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bccAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_BCC_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ccAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_CC_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_To_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideTemplateSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailTemplateId</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Email_Template__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whatId</name>
                <value>
                    <elementReference>Get_Intake_ID.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromAddress</name>
                <value>
                    <elementReference>$Setup.SRLG_Automated_Comms_Settings__c.Default_Org_Wide_Email_From_Address__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logEmail</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CloseScreenWarning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;NOTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: In order to send the email, you must click the &#39;Send&#39; button above. Closing the flow before clicking &#39;Send&#39; will end the flow without sending the email.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success_ref</name>
        <label>Success for Referral Partner</label>
        <locationX>1029</locationX>
        <locationY>3470</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirm_sent_to_ref_partner</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Intake has successfully been sent to &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Intake_ID.Campaign_Partner__r.Partner__r.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>BRIO_Referral_Tekmir_Custom_Apex</name>
        <label>BRIO | Referral | Tekmir Custom Apex</label>
        <locationX>1458</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Copy_1_of_Was_this_Intake_already_converted</targetReference>
        </connector>
        <flowName>BRIO_Referrals_Tekmir_Custom_Apex</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Launch_Simply_Convert_Flow</name>
        <label>Launch Simply Convert Flow</label>
        <locationX>1194</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Copy_1_of_Was_this_Intake_already_converted</targetReference>
        </connector>
        <flowName>BRIO_Referrals_Send_Intakes_to_Simply_Convert</flowName>
        <inputAssignments>
            <name>IntakeID</name>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RetainerFileInfoID</name>
            <value>
                <elementReference>RetainerFileInfoID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PROD_BRIO_Intake_Tekmir_Send_Autolaunch_V3</name>
        <label>PROD BRIO Intake Tekmir Send Autolaunch V3</label>
        <locationX>1722</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Copy_1_of_Was_this_Intake_already_converted</targetReference>
        </connector>
        <flowName>PROD_BRIO_Intake_Tekmir_Send_Autolaunch_V3</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFileInfoRecordId</name>
            <value>
                <elementReference>RetainerFileInfoID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_to_Filevine</name>
        <label>Send to Filevine</label>
        <locationX>1986</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>Copy_1_of_Was_this_Intake_already_converted</targetReference>
        </connector>
        <flowName>BRIO_Send_to_Filevine</flowName>
        <inputAssignments>
            <name>input_FileInfo_QuestionnaireID</name>
            <value>
                <elementReference>QuestionnaireID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_FileInfo_RetainerID</name>
            <value>
                <elementReference>RetainerFileInfoID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_IntakeID</name>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Good news! Saddle Rock Legal Group LLC has referred you: {!Get_New_Matter.litify_pm__Client__r.Name}. Please download/review the details, reply with any questions you may have and provide us with your internal tracking or case number for our records to confirm appropriate receipt of this referral.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&lt;u&gt;Referral Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 13.3333px; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_New_Matter.litify_pm__Client__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Case Type:&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; {!Get_New_Matter.litify_pm__Case_Type__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Mobile Phone #: &lt;/strong&gt;&lt;span style=&quot;font-size: 13.3333px; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_New_Matter.litify_pm__Client__r.litify_pm__Phone_Mobile__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Home Phone #:&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; {!Get_New_Matter.litify_pm__Client__r.litify_pm__Phone_Home__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Business Phone #:&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 13.3333px; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_New_Matter.litify_pm__Client__r.litify_pm__Phone_Work__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Email:&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; {!Get_New_Matter.litify_pm__Client__r.litify_pm__Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;State:&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; {!Get_Intake_ID.litify_pm__Case_State__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Case Description:&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; {!Get_Intake_ID.litify_pm__Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Intake Name:&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 13.3333px; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_New_Matter.litify_pm__Primary_Intake__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Intake ID (i.e. unique identifier):&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; {!Get_New_Matter.litify_pm__Primary_Intake__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Create_External_Link.message}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to files associated with the referral&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Any questions?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Contact:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Work Sans&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;(888) 463-0699&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SimplyConvertBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;SFDC_SimplyConvert Case Referral,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is an alert to inform you we just sent a new case referral for {!Get_Intake_ID.Client_Name__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to us for any further needs or questions concerning this referral,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Linzee Martin&lt;/p&gt;&lt;p&gt;l.martin@saddlerocklegal.com&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>col_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_to_only_signed_documents</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_docs__File_Info__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Signed_Retainer_docs_only</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_docs__File_Info__c</objectType>
    </variables>
    <variables>
        <name>QuestionnaireID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetainerFileInfoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
