unpackaged/main/default/flows/BRIO_Disconnected_Number_Intakes_Turn_Down.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decisionCallDisposition</name>
        <label>decisionCallDisposition</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refused_Help</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refused Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRefusedHelp</targetReference>
            </connector>
            <label>Refused Help</label>
        </rules>
        <rules>
            <name>Disconnected_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disconnected Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDisconnectedNumber</targetReference>
            </connector>
            <label>Disconnected Number</label>
        </rules>
        <rules>
            <name>Wrong_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateWrongNumber</targetReference>
            </connector>
            <label>Wrong Number</label>
        </rules>
    </decisions>
    <description>2306-56686 - Call log disposition Refused Help</description>
    <environments>Default</environments>
    <interviewLabel>BRIO - Disconnected Number - Intakes Turn Down {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO - Disconnected Number - Intakes Turn Down</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateDisconnectedNumber</name>
        <label>updateDisconnectedNumber</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Turn_Down_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Turned Down</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turn_Down_Reason__c</field>
            <value>
                <stringValue>Disconnected Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turned_Down_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRefusedHelp</name>
        <label>updateRefusedHelp</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Turn_Down_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Turned Down</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turn_Down_Reason__c</field>
            <value>
                <stringValue>Client Refused Help</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turned_Down_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateWrongNumber</name>
        <label>updateWrongNumber</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Turn_Down_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Turned Down</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turn_Down_Reason__c</field>
            <value>
                <stringValue>Wrong Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turned_Down_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decisionCallDisposition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a0c</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
