unpackaged/main/default/flows/Brio_Location_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Output_Collection</name>
        <label>Add To Output Collection</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCMLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionCreateAnotherHealthcareFacility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigMedicalFacility</name>
        <label>assigMedicalFacility</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varCMLocation.Medical_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Category_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Diagnosing (DX)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Name_of_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenName_of_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFacilityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenName_of_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMedicalType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocation.Medical_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formFacilityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createRoundUpCaseLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Record_Input</name>
        <label>Assign to Record Input</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIntake</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionCaseType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDepoDoctor</name>
        <label>assignDepoDoctor</label>
        <locationX>1029</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>varCMLocationII.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Medical_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Provider_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenLocation2Provider_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Provider_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenLocation2Provider_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Category_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Diagnosing (DX)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocationII.Provider_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocationII.Provider_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMedicalType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocationII.Medical_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formProvider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseLocationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCMLocationII</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionAnotherDepoDoctor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDepoDoctorNULL</name>
        <label>assignDepoDoctorNULL</label>
        <locationX>798</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>varCMLocationII.Category_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Business_CompoundAddress__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Provider_First_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Provider_Last_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Primary_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Business_CompoundAddress__City__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Business_CompoundAddress__Street__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Business_CompoundAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Business_CompoundAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationII.Business_CompoundAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DepoDiagnosingProvider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDepoFacility</name>
        <label>assignDepoFacility</label>
        <locationX>1458</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Medical_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Name_of_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenLocation4Name_of_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Category_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Administering</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFacilityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocationIV.Name_of_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMedicalType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocationIV.Medical_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formFacilityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseLocationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCMLocationIV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionAnotherDepoMedicalFacility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDepoFacilityNULL</name>
        <label>assignDepoFacilityNULL</label>
        <locationX>1326</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Category_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Business_CompoundAddress__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Name_of_Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Primary_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Business_CompoundAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Business_CompoundAddress__Street__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Business_CompoundAddress__City__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Business_CompoundAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIV.Business_CompoundAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DepoAdministeringFacility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDepoHealthcareProvider</name>
        <label>assignDepoHealthcareProvider</label>
        <locationX>781</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varCMLocation.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Medical_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Provider_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenLocation1Provider_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Provider_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenLocation1Provider_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Category_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prescribing (RX)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocation.Provider_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocation.Provider_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMedicalType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocation.Medical_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formProvider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseLocationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCMLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionAnotherHealthcareProvider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignHealthcareFacilityNULL</name>
        <label>assignHealthcareFacilityNULL</label>
        <locationX>1062</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Category_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Business_CompoundAddress__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Name_of_Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Primary_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Business_CompoundAddress__City__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Business_CompoundAddress__Street__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Business_CompoundAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Business_CompoundAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Business_CompoundAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DepoDiagnosingFacility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignHealthcareProviderNULL</name>
        <label>assignHealthcareProviderNULL</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varCMLocation.Intake__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Business_CompoundAddress__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Provider_First_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Provider_Last_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Primary_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Business_CompoundAddress__Street__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Business_CompoundAddress__City__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Business_CompoundAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Business_CompoundAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Business_CompoundAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DepoPrescibingProvider</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMedicalFacilityIII</name>
        <label>assignMedicalFacilityIII</label>
        <locationX>1260</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Medical_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Name_of_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenLocation3Name_of_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Category_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Diagnosing (DX)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFacilityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocationIII.Name_of_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMedicalType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCMLocationIII.Medical_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocationIII.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formFacilityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseLocationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCMLocationIII</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionAnotherDiagnosingMedicalFacility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRUMedicalFacilityNULL</name>
        <label>assignRUMedicalFacilityNULL</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varCMLocation.Intake__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Business_CompoundAddress__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Name_of_Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCMLocation.Primary_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Round_Up_Medical_Facility</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_9</name>
        <label>Decision 9</label>
        <locationX>1029</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>does_exist_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>does exist 3</defaultConnectorLabel>
        <rules>
            <name>Does_not_exist_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Locations_3.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Another_Depo_Doctor</targetReference>
            </connector>
            <label>Does not exist 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionAnotherDepoDoctor</name>
        <label>decisionAnotherDepoDoctor</label>
        <locationX>1029</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>DepoDiagnosingFacility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Depo_Doctor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_screenDoes_another_healthcare_provider_need_to_be_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDepoDoctorNULL</targetReference>
            </connector>
            <label>Create Depo Doctor</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionAnotherDepoMedicalFacility</name>
        <label>decisionAnotherDepoMedicalFacility</label>
        <locationX>1458</locationX>
        <locationY>3902</locationY>
        <defaultConnector>
            <targetReference>createDepoCaseLocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Another_Depo_Medical_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_another_healthcare_facility_need_to_be_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDepoFacilityNULL</targetReference>
            </connector>
            <label>Create Another Depo Medical Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionAnotherDiagnosingMedicalFacility</name>
        <label>decisionAnotherDiagnosingMedicalFacility</label>
        <locationX>1260</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>DepoAdministeringFacility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Another_Diagnosing_Medical_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenDoes_another_healthcare_provider_need_to_be_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignHealthcareFacilityNULL</targetReference>
            </connector>
            <label>Create Another Diagnosing Medical Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionAnotherHealthcareProvider</name>
        <label>decisionAnotherHealthcareProvider</label>
        <locationX>781</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>DepoDiagnosingProvider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Another_Healthcare_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenDoes_another_healthcare_provider_need_to_be_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignHealthcareProviderNULL</targetReference>
            </connector>
            <label>Create Another Healthcare Provider</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionCaseType</name>
        <label>decisionCaseType</label>
        <locationX>1018</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Round_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.litify_pm__Case_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Round Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Round_Up_Medical_Facility</targetReference>
            </connector>
            <label>Round Up</label>
        </rules>
        <rules>
            <name>Depo_Provera</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.litify_pm__Case_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Depo-Provera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.litify_pm__Case_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Depo Provera</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DepoPrescibingProvider</targetReference>
            </connector>
            <label>Depo Provera</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionCreateAnotherHealthcareFacility</name>
        <label>decisionCreateAnotherHealthcareFacility</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Another_RU_Healthcare_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenRUDoes_another_healthcare_facility_need_to_be_created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRUMedicalFacilityNULL</targetReference>
            </connector>
            <label>Create Another RU Healthcare Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>does_exist_4</name>
        <label>does exist 4</label>
        <locationX>1260</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>does_exist_4screeen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does exist 4</defaultConnectorLabel>
        <rules>
            <name>does_not_exist_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Locations_4.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Diagnosing_Medical_Facility</targetReference>
            </connector>
            <label>does not exist 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>does_exist_5</name>
        <label>does exist 5</label>
        <locationX>1458</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>does_exist_5_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>does exist 5</defaultConnectorLabel>
        <rules>
            <name>does_not_exist_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Locations_5.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAnotherDepoMedicalFacility</targetReference>
            </connector>
            <label>does not exist 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Location_Exist</name>
        <label>Does Location Exist</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Record_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Exist</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Locations.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Another_Healthcare_Facility</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Location_Exist_2</name>
        <label>Does Location Exist 2</label>
        <locationX>781</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Record_Exists_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Exist 2</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Locations_2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Another_Medical_Healthcare_Professional</targetReference>
            </connector>
            <label>Does Not Exist 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Id_Var_Provided</name>
        <label>Intake Id Var Provided?</label>
        <locationX>1018</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>getIntake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provided</defaultConnectorLabel>
        <rules>
            <name>Not_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intakeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_CM_Location</targetReference>
            </connector>
            <label>Not Provided</label>
        </rules>
    </decisions>
    <description>3/21/25 VP change some wording for the help text to facility
3/20/25 - CS - Added help text as display text to facility questions
3/19/25 - CS - Added help text to facility questions
3/10/25 - changed so each getRecord matched on address/intake/medicalType</description>
    <environments>Default</environments>
    <formulas>
        <name>formFacilityName</name>
        <dataType>String</dataType>
        <expression>LEFT({!varFacilityName}, 69) &amp; &quot; | &quot; &amp; {!varMedicalType}</expression>
    </formulas>
    <formulas>
        <name>formProvider</name>
        <dataType>String</dataType>
        <expression>LEFT({!varFirstName} &amp; &quot; &quot; &amp; {!varLastName}, 68) &amp; &quot; | &quot; &amp; {!varMedicalType}</expression>
    </formulas>
    <interviewLabel>Brio - Location Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brio - Location Questions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createDepoCaseLocations</name>
        <label>createDepoCaseLocations</label>
        <locationX>1590</locationX>
        <locationY>4010</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>varCaseLocationCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createRoundUpCaseLocation</name>
        <label>createRoundUpCaseLocation</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Add_To_Output_Collection</targetReference>
        </connector>
        <inputReference>varCMLocation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Locations</name>
        <label>Get Existing Locations</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Location_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_CompoundAddress__City__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocation.Business_CompoundAddress__City__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocation.Business_CompoundAddress__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__Street__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocation.Business_CompoundAddress__Street__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Locations_2</name>
        <label>Get Existing Locations 2</label>
        <locationX>781</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Location_Exist_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_CompoundAddress__City__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocation.Business_CompoundAddress__City__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__Street__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocation.Business_CompoundAddress__Street__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocation.Business_CompoundAddress__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Locations_3</name>
        <label>Get Existing Locations 3</label>
        <locationX>1029</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_CompoundAddress__City__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationII.Business_CompoundAddress__City__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__Street__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationII.Business_CompoundAddress__Street__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationII.Business_CompoundAddress__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Locations_4</name>
        <label>Get Existing Locations 4</label>
        <locationX>1260</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_exist_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_CompoundAddress__City__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationIII.Business_CompoundAddress__City__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__Street__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationIII.Business_CompoundAddress__Street__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationIII.Business_CompoundAddress__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Locations_5</name>
        <label>Get Existing Locations 5</label>
        <locationX>1458</locationX>
        <locationY>3278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_exist_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_CompoundAddress__City__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationIV.Business_CompoundAddress__City__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__Street__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationIII.Business_CompoundAddress__Street__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_CompoundAddress__PostalCode__s</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCMLocationIV.Business_CompoundAddress__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Locations_5.Intake__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIntake</name>
        <label>getIntake</label>
        <locationX>1150</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Record_Input</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Another_Depo_Doctor</name>
        <label>Create Another Depo Doctor</label>
        <locationX>1029</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignDepoDoctor</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_screenDoes_another_healthcare_provider_need_to_be_created</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does another healthcare provider need to be created?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Another_Healthcare_Facility</name>
        <label>Create Another Healthcare Facility</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assigMedicalFacility</targetReference>
        </connector>
        <fields>
            <name>screenRUDoes_another_healthcare_facility_need_to_be_created</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does another healthcare facility need to be created?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Another_Medical_Healthcare_Professional</name>
        <label>Create Another Medical Healthcare Professional</label>
        <locationX>781</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignDepoHealthcareProvider</targetReference>
        </connector>
        <fields>
            <name>screenDoes_another_healthcare_provider_need_to_be_created</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does another healthcare provider need to be created?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Diagnosing_Medical_Facility</name>
        <label>Create Another Diagnosing Medical Facility</label>
        <locationX>1260</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignMedicalFacilityIII</targetReference>
        </connector>
        <fields>
            <name>screenDoes_another_healthcare_facility_need_to_be_created</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does another healthcare facility need to be created?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateAnotherDepoMedicalFacility</name>
        <label>Create Another Depo Medical Facility</label>
        <locationX>1458</locationX>
        <locationY>3686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignDepoFacility</targetReference>
        </connector>
        <fields>
            <name>Does_another_healthcare_facility_need_to_be_created</name>
            <choiceReferences>choiceYes</choiceReferences>
            <choiceReferences>choiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does another healthcare facility need to be created?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DepoAdministeringFacility</name>
        <label>DepoAdministeringFacility</label>
        <locationX>1458</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Locations_5</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_displayHealthcareProvider</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;What is the name and address of the facility where you received your Depo shots?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screenLocation4Name_of_Location</name>
            <dataType>String</dataType>
            <fieldText>What is the name of the facility where you received your Depo-Provera shots?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;DO NOT INCLUDE ADDRESS OR PROVIDER NAME IN CM LOCATION NAME&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>doNotIncludeAddressHelpText3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;DO NOT INCLUDE ADDRESS OR PROVIDER NAME IN CM LOCATION NAME&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayDPFacilityType</name>
            <fieldText>&lt;p&gt;Can you please specify the type of medical facility where your Depo-Provera shots were administered?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCMLocationIV.Facility_Type__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCMLocationIV.Business_CompoundAddress__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DepoDiagnosingFacility</name>
        <label>DepoDiagnosingFacility</label>
        <locationX>1260</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Locations_4</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_2_of_displayHealthcareProvider</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;At what medical center were you diagnosed with meningioma?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DepoDiagnosingFacility_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DepoDiagnosingFacility_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screenLocation3Name_of_Location</name>
                    <dataType>String</dataType>
                    <fieldText>What is the name of the facility you were diagnosed at?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;DO NOT INCLUDE ADDRESS OR PROVIDER NAME IN CM LOCATION NAME&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>doNotIncludeAddressHelpText2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;DO NOT INCLUDE ADDRESS OR PROVIDER NAME IN CM LOCATION NAME&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>displayDPDiagnosedFacilityType</name>
                    <fieldText>&lt;p&gt;Can you please specify the type of medical facility where you were diagnosed with your cancer?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varCMLocationIII.Facility_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varCMLocationIII.Business_CompoundAddress__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DepoDiagnosingProvider</name>
        <label>DepoDiagnosingProvider</label>
        <locationX>1029</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Locations_3</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_displayHealthcareProvider</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;What is the name of the doctor that officially diagnosed you with meningioma?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DepoDiagnosingProvider_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DepoDiagnosingProvider_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screenLocation2Provider_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>What is the first name of the doctor that officially diagnosed you with meningioma?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DepoDiagnosingProvider_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screenLocation2Provider_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>What is the last name of the doctor that officially diagnosed you with meningioma?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCMLocationII.Business_CompoundAddress__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DepoPrescibingProvider</name>
        <label>DepoPrescibingProvider</label>
        <locationX>781</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Locations_2</targetReference>
        </connector>
        <fields>
            <name>displayHealthcareProvider</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Could you please provide the name(s) of the healthcare professional who prescribed your Depo-Provera?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DepoPrescibingProvider_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DepoPrescibingProvider_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screenLocation1Provider_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>What is the first name of the healthcare provider that prescribed this product to you?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DepoPrescibingProvider_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screenLocation1Provider_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>What is the last name of the healthcare provider that prescribed this product to you?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCMLocation.Business_CompoundAddress__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>does_exist_3</name>
        <label>does exist 3</label>
        <locationX>1117</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Another_Depo_Doctor</targetReference>
        </connector>
        <fields>
            <name>locationExistingMessage3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(240, 14, 14);&quot;&gt;The Provider that you entered is already saved on this Intake. Either edit on previous screen or click &#39;Next&#39;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>does_exist_4screeen</name>
        <label>does exist 4</label>
        <locationX>1348</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Diagnosing_Medical_Facility</targetReference>
        </connector>
        <fields>
            <name>locationExistingMessage4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 14, 14); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;The Location that you entered is already saved on this Intake. Either edit on previous screen or click &#39;Next&#39;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>does_exist_5_Screen</name>
        <label>does exist 5 Screen</label>
        <locationX>1546</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateAnotherDepoMedicalFacility</targetReference>
        </connector>
        <fields>
            <name>locationExistingMessage5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(240, 14, 14);&quot;&gt;The Location that you entered is already saved on this Intake. Either edit on previous screen or click &#39;Next&#39;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Record_Exists</name>
        <label>Duplicate Record Exists</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Another_Healthcare_Facility</targetReference>
        </connector>
        <fields>
            <name>locationExistingMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(240, 14, 14);&quot;&gt;Duplicate Record Found, you cannot proceed with creating this record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Record_Exists_2</name>
        <label>Duplicate Record Exists 2</label>
        <locationX>869</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Another_Medical_Healthcare_Professional</targetReference>
        </connector>
        <fields>
            <name>locationExistingMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 14, 14); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;The Provider that you entered is already saved on this Intake. Either edit on previous screen or click &#39;Next&#39;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Round_Up_Medical_Facility</name>
        <label>Round Up Medical Facility</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Locations</targetReference>
        </connector>
        <fields>
            <name>displayMedicalFacility</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;What is the name of the facility and address you were diagnosed at?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Round_Up_Medical_Facility_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Round_Up_Medical_Facility_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>doNotIncludeAddressHelpText1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;DO NOT INCLUDE ADDRESS OR DR NAME IN HOSPITAL/CLINIC NAME&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>screenName_of_Location</name>
                    <dataType>String</dataType>
                    <fieldText>What is the name of the hospital/clinic you were diagnosed at? (DX Facility)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Examples: Memorial Medical Center, Intermountain Health, CareNow Urgent Care, Foothill Family Clinic...&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>displayRounduPFacilityType</name>
                    <fieldText>&lt;p&gt;Can you please specify the type of medical facility where you were diagnosed with your cancer?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varCMLocation.Facility_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varCMLocation.Business_CompoundAddress__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_CM_Location</name>
        <label>Start CM Location</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionCaseType</targetReference>
        </connector>
        <fields>
            <name>buttonCreateNewLocation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add New CM Location&quot;,&quot;value&quot;:&quot;Add New CM Location&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1018</locationX>
        <locationY>4604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaySuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;CM Location records have been created. Please continue the questionnaire&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Intake_Id_Var_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>intakeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseLocationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CM_Location__c</objectType>
    </variables>
    <variables>
        <name>varCMLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CM_Location__c</objectType>
    </variables>
    <variables>
        <name>varCMLocationII</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CM_Location__c</objectType>
    </variables>
    <variables>
        <name>varCMLocationIII</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CM_Location__c</objectType>
    </variables>
    <variables>
        <name>varCMLocationIV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CM_Location__c</objectType>
    </variables>
    <variables>
        <name>varFacilityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMedicalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
