unpackaged/main/default/flows/BRIO_Drip_Status_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Comm_Records</name>
        <label>Get Comm Records</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Comm_Record_Count</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Outbound_Communications__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>tt_SOQL_outboundCommQuery</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set count that we got from comm records</description>
        <name>Comm_Record_Count</name>
        <label>Comm Record Count</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>var_nbr_commRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Comm_Records.sObjects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comm_Record_Count_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_flowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BRIO_Drip_Status_Automations</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comm_Record_Count_0</name>
        <label>Comm Record Count &gt; 0</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Log_No_Comm_Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_nbr_commRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Comm_Records_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Intake_new_or_was_the_Status_Sub_Status_field_updated</name>
        <label>Is the Intake new or was the Status/Sub Status field updated?</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Log_Path_Not_Handled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intake_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_New_Intake</targetReference>
            </connector>
            <label>Intake is new</label>
        </rules>
        <rules>
            <name>Status_or_Sub_Status_was_changed_on_an_existing_Intake</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Status_Changed</targetReference>
            </connector>
            <label>Status or Sub Status was changed on an existing Intake</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sending_Enabled_or_Test_User</name>
        <label>Sending Enabled or Test User</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Log_Sending_Disabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sending_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SRLG_Automated_Comms_Settings__c.Sending_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Intake_new_or_was_the_Status_Sub_Status_field_updated</targetReference>
            </connector>
            <label>Sending Enabled</label>
        </rules>
        <rules>
            <name>Testing_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.BRIO_Automated_Comms_Tester</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Display_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Testing_User</targetReference>
            </connector>
            <label>Testing User</label>
        </rules>
    </decisions>
    <description>When Status is updated and conditions align with an Outbound Comms record.
DR - 5/16/24 - changed entry conditions
DR - 5/21/24 - Added Active for Testing flag logic
DR - 6/4/24 - Updated sub flow to contain loop and accept record collection.  Added filter for Internal Name
DR - 8/15/24 - Altering logic to account for which field changed and filters for &quot;Include All&quot; vs. Blank.
DR - 9/13/24 - Adding Campaign Partner Filter</description>
    <environments>Default</environments>
    <formulas>
        <description>inserted into dynamic soql to enable &quot;active for testing&quot; comm records</description>
        <name>formula_activeForTesting</name>
        <dataType>String</dataType>
        <expression>IF({!$Permission.BRIO_Automated_Comms_Tester}, &quot; Or Active_For_Testing__c = true &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_SOQL_Status_Where_Clause</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.litify_pm__Status__c}), &quot; and (Intake_Status__c Includes(&#39;&quot; &amp; TEXT({!$Record.litify_pm__Status__c}) &amp; &quot;&#39;) or Include_All_Statuses__c = true )&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_SOQL_Sub_Status_Where_Clause</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.Sub_Status__c}), &quot; and (Intake_Sub_Status__c  Includes(&#39;&quot; &amp; TEXT({!$Record.Sub_Status__c}) &amp; &quot;&#39;) or Include_all_Sub_Statueses__c = true )&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>BRIO | Drip | Status Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Drip | Status Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Comm_Records_Found</name>
        <label>Log: Comm Records Found</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Send_Outbound_Comms</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>{!var_nbr_commRecordCount} Outbound Comm Records Found.  Calling Sending Subflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Flow_Started</name>
        <label>Log: Flow Started</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Sending_Enabled_or_Test_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flow started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_New_Intake</name>
        <label>Log: New Intake</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Log_Query_to_Execute</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Intake is new</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_No_Comm_Records_Found</name>
        <label>Log: No Comm Records Found</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Default outcome; No matching Outbound Comm record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Path_Not_Handled</name>
        <label>Log: Path Not Handled</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_Drip_Status_Automations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Path Not Handled: Status Not Changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Query_to_Execute</name>
        <label>Log: Query to Execute</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Get_Comm_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>tt_SOQL_outboundCommQuery</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Sending_Disabled</name>
        <label>Log: Sending Disabled</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Sending Disabled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Status_Changed</name>
        <label>Log: Status Changed</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Log_Query_to_Execute</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Status or sub status was changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Testing_User</name>
        <label>Log: Testing User</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Is_the_Intake_new_or_was_the_Status_Sub_Status_field_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>const_flowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Sending Disabled, but Testing User: {!$User.Username} ({!$User.Id})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Flow_Started</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.litify_pm__Status__c}) || ISCHANGED({!$Record.Sub_Status__c})</filterFormula>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Outbound_Comms</name>
        <label>Send Outbound Comms</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <flowName>BRIO_Drip_Comms_Sending_Subflow</flowName>
        <inputAssignments>
            <name>input_col_CommRecords</name>
            <value>
                <elementReference>Get_Comm_Records.sObjects</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_IntakeID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_SOQL_outboundCommQuery</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>select id, name, Call_Count_API_Name__c, Call_Count_Number__c, Applies_to_all_Case_Types__c,Case_Type__c,Record_Type_Name__c,RecordTypeId, BCC__c,CC__c, Email_From__c, Email_Template_ID__c, Intake_Status__c, Intake_Sub_Status__c, Last_Call_Result__c, Open_Email_Template__c, Recipient__c, SMS_Message_to_Client__c, LastModifiedById, LastModifiedDate, CreatedById, CreatedDate, Active__c, Active_For_Testing__c
from Outbound_Communications__c  
where record_type_name__c = &#39;Status&#39; 
and ( Active__c = true {!formula_activeForTesting} )
and (Case_Type__c Includes (&#39;{!$Record.litify_pm__Case_Type__r.Name}&#39;) or Include_All_Case_Types__c = true) 
and (Intake_Status__c Includes(&#39;{!$Record.litify_pm__Status__c}&#39;) or Include_All_Statuses__c = true ) 
and (Intake_Sub_Status__c  Includes(&#39;{!$Record.Sub_Status__c}&#39;) or Include_all_Sub_Statueses__c = true )
and (Internal_Name__c = &#39;{!$Record.Internal_Name__c}&#39; or Internal_Name__c = null )
and (Campaign_Partner_Filter__c = &#39;{!$Record.Campaign_Partner__c}&#39; or Campaign_Partner_Filter__c = null)</text>
    </textTemplates>
    <variables>
        <name>var_nbr_commRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
