unpackaged/main/default/flows/BRIO_Intake_Assign_Intake_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>match_found</name>
        <label>match found?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>screenMatch_not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMatchFoundBoolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_Info</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Campbell - Runs Screen flow that auto assigns a Campaign Partner based on a secondary flow for Campaign Partner Assignment rules.
2/17/24, Adding E-Sign Form Criteria to assign out a value to a text field onto the Intake form for sending.</description>
    <environments>Default</environments>
    <formulas>
        <description>Pulls data to determine the packet that should be assigned based on criteria.</description>
        <name>FormulaForPacket</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Assigned_Campaign_Partner.E_Sign_Packet_Criteria__c})
|| {!Get_Assigned_Campaign_Partner.Campaign_Name__c} != &quot;Camp Lejeune&quot;,
(IF(
ISPICKVAL({!get_intake.Calling_on_behalf_of_you_or_loved_one__c}, &#39;Self&#39;),
CASESAFEID({!Get_Assigned_Campaign_Partner.Standard_E_Sig_Packet_Self__c}),

IF(
AND(
ISPICKVAL({!get_intake.Calling_on_behalf_of_you_or_loved_one__c}, &#39;Loved one&#39;),
NOT(ISPICKVAL({!get_intake.Is_your_loved_one_still_living__c}, &#39;Yes&#39;)) || ISPICKVAL({!get_intake.Is_your_loved_one_still_living__c}, &#39;&#39;)
),
CASESAFEID({!Get_Assigned_Campaign_Partner.Standard_E_Sig_Packet_Other__c}),

IF(
AND(
ISPICKVAL({!get_intake.Calling_on_behalf_of_you_or_loved_one__c}, &#39;Loved one&#39;),
ISPICKVAL({!get_intake.Is_your_loved_one_still_living__c}, &#39;Yes&#39;)
),
CASESAFEID({!Get_Assigned_Campaign_Partner.Standard_E_Sig_Packet_POA__c}),

&#39;&#39;)
)
)
),
{!Get_Assigned_Campaign_Partner.E_Sign_Packet_Criteria__c})</expression>
    </formulas>
    <interviewLabel>BRIO | Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Intake | Assign Intake Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assigned_Campaign_Partner</name>
        <label>Get Assigned Campaign Partner</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>match_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIntakeAssignedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_intake</name>
        <label>get intake</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Campaign_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Intake e-sign packet info from Campaign Partners</description>
        <name>Update_Intake_Info</name>
        <label>Update Intake Info</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>screenMatch_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_E_Sign_Packet_ID__c</field>
            <value>
                <elementReference>FormulaForPacket</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <screens>
        <name>screenMatch_Found</name>
        <label>Match Found</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayMatchFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This Intake has been Assigned!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenMatch_not_Found</name>
        <label>Match not Found</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayMatchNotFound</name>
            <fieldText>&lt;p&gt;This intake does not match the criteria for any Campaign Partner for the assigned Campaign and has been turned down. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_intake</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Assign_Campaign_Partner</name>
        <label>Assign Campaign Partner</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Assigned_Campaign_Partner</targetReference>
        </connector>
        <flowName>BRIO_Intake_Campaign_Partner_Distribution</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varIntakeAssignedId</assignToReference>
            <name>varAssignedIntakeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMatchFoundBoolean</assignToReference>
            <name>varMatchFoundBoolean</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIntakeAssignedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMatchFoundBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
