unpackaged/main/default/flows/BRIO_Int_Trans_Create_Set_External_ID_IntakeDesk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_JSON_Payload_Formatted_Variable</name>
        <label>Set JSON Payload Formatted Variable</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>var_jsonPayloadFormatted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Json_Formatted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_fx_extractedIntegratorMatterId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_fx_extractedIntegratorMatterId</name>
        <label>Check fx_extractedIntegratorMatterId</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>IS NULL</defaultConnectorLabel>
        <rules>
            <name>IS_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_extractedIntegratorMatterId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_External_Id</targetReference>
            </connector>
            <label>IS NOT NULL</label>
        </rules>
    </decisions>
    <description>Record triggered flow that parses the integratorMatterId value out of the Json_Formatted__c field on the Integration Transaction record and sets The External Id field to that value.</description>
    <environments>Default</environments>
    <formulas>
        <description>Extract integratorMatterId value from Json_Formatted__c field on Integration Transaction record</description>
        <name>fx_extractedIntegratorMatterId</name>
        <dataType>String</dataType>
        <expression>MID(
  {!var_jsonPayloadFormatted},
  FIND(&quot;integratorMatterId: &quot;, {!var_jsonPayloadFormatted}) + 20,
  6
)</expression>
    </formulas>
    <interviewLabel>BRIO | Int Trans | Create | Set External ID (IntakeDesk) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Int Trans | Create | Set External ID (IntakeDesk)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_External_Id</name>
        <label>Set External Id</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>fx_extractedIntegratorMatterId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IntakeDesk_NewMatterWebhook</stringValue>
            </value>
        </filters>
        <filters>
            <field>Json_Formatted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>brioapi__Integration_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Set_JSON_Payload_Formatted_Variable</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_jsonPayloadFormatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
