unpackaged/main/default/flows/Brio_Intake_Add_Intake_to_Miscellaneous_List_24_Hours_Later.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignMiscelleneousList</name>
        <label>assignMiscelleneousList</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varFive9ListItem.Five9LSP__Five9_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFive9ListItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFive9ListItem.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopIntakes.FX_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFive9ListItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFive9ListItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopIntakes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionHasIntakes</name>
        <label>decisionHasIntakes</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Intakes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIntakes</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopIntakes</targetReference>
            </connector>
            <label>Has Intakes</label>
        </rules>
    </decisions>
    <description>6/27- AV: Added a condition to the &quot;Get Records&quot; so that it&#39;ll only get records for any intake vendor EXCEPT Etech per Mike Fisher&#39;s request. He instructed that Etech has their own call back system.
Adds an intake to the miscellaneous Five9 List 24 hours after Retainer Agreement Sent Status</description>
    <environments>Default</environments>
    <formulas>
        <name>formRetainerAgreementSentDateMinus1</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>Brio | Intake | Add Intake to Miscellaneous List 24 Hours Later {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brio | Intake | Add Intake to Miscellaneous List 24 Hours Later</label>
    <loops>
        <name>loopIntakes</name>
        <label>loopIntakes</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>getIntakes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignMiscelleneousList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createMiscFive9ListItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createMiscFive9ListItems</name>
        <label>createMiscFive9ListItems</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputReference>varFive9ListItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getFive9ListItem</name>
        <label>getFive9ListItem</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getIntakes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Miscellaneous Statuses Litify</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIntakes</name>
        <label>getIntakes</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionHasIntakes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retainer Agreement Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Retainer_Agreement_Sent_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formRetainerAgreementSentDateMinus1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Intake_VendorName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Etech</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getFive9ListItem</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-25</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varFive9ListItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Five9LSP__Five9_List_Item__c</objectType>
    </variables>
    <variables>
        <name>varFive9ListItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Five9LSP__Five9_List_Item__c</objectType>
    </variables>
</Flow>
