unpackaged/main/default/flows/Brio_Five9List_Item_Insert_and_Removal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decisionIntakeHasFive9ListItems</name>
        <label>decisionIntakeHasFive9ListItems</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>decisionNewCreateFive9List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Five9_List_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFive9ListItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteFive9ListItems</targetReference>
            </connector>
            <label>Has Five9 List Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionNewCreateFive9List</name>
        <label>decisionNewCreateFive9List</label>
        <locationX>314</locationX>
        <locationY>590</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Five9_List_Item</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDeleteFive9ListItemOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeleteFive9ListItemOnly</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createFive9ListItem</targetReference>
            </connector>
            <label>Create New Five9 List Item</label>
        </rules>
    </decisions>
    <description>Subflow that makes sure only 1 Five9 List Item is related to an Intake at one time</description>
    <environments>Default</environments>
    <interviewLabel>Brio - Five9List Item Insert and Removal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brio - Five9List Item Removal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createFive9ListItem</name>
        <label>createFive9ListItem</label>
        <locationX>50</locationX>
        <locationY>698</locationY>
        <faultConnector>
            <targetReference>createLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Five9LSP__Five9_List__c</field>
            <value>
                <elementReference>varFive9ListItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>varFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>varIntake</elementReference>
            </value>
        </inputAssignments>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLog</name>
        <label>createLog</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>varFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Error: Creation of Five9 List Item Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>varIntake</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>deleteFive9ListItems</name>
        <label>deleteFive9ListItems</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>decisionNewCreateFive9List</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>decisionNewCreateFive9List</targetReference>
        </faultConnector>
        <inputReference>getFive9ListItems</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getFive9ListItems</name>
        <label>getFive9ListItems</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionIntakeHasFive9ListItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIntake</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getFive9ListItems</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDeleteFive9ListItemOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFive9ListItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIntake</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
