unpackaged/main/default/flows/BRIO_3P_Send_Email_Platform_Event_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_NOT_OrgWideAddress</name>
        <label>Send Email</label>
        <locationX>710</locationX>
        <locationY>494</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_to_Update_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_error_log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <elementReference>$Record.BCC__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>$Record.CC__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>$Record.Contact_Lead_User_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <elementReference>$Record.Email_Template_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_OrgWideAddress</name>
        <label>Send Email</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Field_to_Update_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_error_log_OrgWide</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <elementReference>$Record.BCC__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>$Record.CC__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>$Record.Contact_Lead_User_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateId</name>
            <value>
                <elementReference>$Record.Email_Template_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>$Record.Org_Wide_Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>314</locationX>
        <locationY>1982</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Record.SMS__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Intake.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Field_to_Update_Name</name>
        <label>Field to Update Name</label>
        <locationX>446</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Is_there_an_SMS_to_send_to_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No fields to update</defaultConnectorLabel>
        <rules>
            <name>Date_3P_CV_Past_Due_Notification_Sent_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_to_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Date_3P_CV_Past_Due_Notification_Sent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Date_3P_CV_Past_Due_Notification_Sent_c_with_current_datetime</targetReference>
            </connector>
            <label>Date_3P_CV_Past_Due_Notification_Sent__c</label>
        </rules>
        <rules>
            <name>Date_3P_EOF_7_Day_Sent_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_to_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Date_3P_EOF_7_Day_Sent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Date_3P_EOF_7_Day_Sent_c_with_current_datetime</targetReference>
            </connector>
            <label>Date_3P_EOF_7_Day_Sent__c</label>
        </rules>
        <rules>
            <name>Date_3P_EOF_Final_Email_Sent_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Field_to_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Date_3P_EOF_Final_Email_Sent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Date_3P_EOF_Final_Email_Sent_c_with_current_datetime</targetReference>
            </connector>
            <label>Date_3P_EOF_Final_Email_Sent__c</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there is, it will need to be passed into the email action. If not, the action should be populated differently.</description>
        <name>Is_there_a_value_in_Org_Wide_Email_Address</name>
        <label>Is there a value in Org Wide Email Address?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_NO_org_wide_address_log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Org_Wide_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_org_wide_address_log</targetReference>
            </connector>
            <label>Yes, it is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_SMS_to_send_to_Client</name>
        <label>Is there an SMS to send to Client?</label>
        <locationX>446</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Create_log0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_send_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SMS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_log</targetReference>
            </connector>
            <label>Yes, send SMS</label>
        </rules>
    </decisions>
    <description>Used for 3P and Drip builds by Brio. Adding SMS to flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_EmailFault</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}&amp;&#39; | Contact ID = &#39;&amp;{!$Record.Contact_Lead_User_ID__c}</expression>
    </formulas>
    <interviewLabel>BRIO | 3P | Send Email Platform Event Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Send Email Platform Event Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EOF_Five9_List_Item</name>
        <label>Create EOF Five9 List Item</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>EOF_List_Item_log</targetReference>
        </connector>
        <inputAssignments>
            <field>Five9LSP__Five9_List__c</field>
            <value>
                <elementReference>Get_Error_On_File_Litify_List.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_flow_start_log</name>
        <label>Create flow start log</label>
        <locationX>446</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Is_there_a_value_in_Org_Wide_Email_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Flow has started.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_log</name>
        <label>Create log</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Yes, send SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_log0</name>
        <label>Create log</label>
        <locationX>578</locationX>
        <locationY>1766</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>SMS send to client; Default Outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_NO_org_wide_address_log</name>
        <label>Create NO org wide address log</label>
        <locationX>710</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Send_Email_NOT_OrgWideAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>PE does NOT contain an Org Wide Email Address.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_org_wide_address_log</name>
        <label>Create org wide address log</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Send_Email_OrgWideAddress</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>PE contains an Org Wide Email Address.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Date_3P_CV_Past_Due_Notification_Sent_c_log</name>
        <label>Date_3P_CV_Past_Due_Notification_Sent__c log</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Is_there_an_SMS_to_send_to_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Date_3P_CV_Past_Due_Notification_Sent__c decision path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Date_3P_EOF_7_Day_Sent_c_log</name>
        <label>Date_3P_EOF_7_Day_Sent_c log</label>
        <locationX>314</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Is_there_an_SMS_to_send_to_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Date_3P_EOF_7_Day_Sent_c decision path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Date_3P_EOF_Final_Email_Sent_c_log</name>
        <label>Date_3P_EOF_Final_Email_Sent__c log</label>
        <locationX>578</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Get_Error_On_File_Litify_List</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Date_3P_EOF_Final_Email_Sent__c decision path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_error_log</name>
        <label>Email error log</label>
        <locationX>974</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>fx_EmailFault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Email_error_log_OrgWide</name>
        <label>Email error log</label>
        <locationX>446</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>fx_EmailFault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>EOF_List_Item_log</name>
        <label>EOF List Item log</label>
        <locationX>578</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Is_there_an_SMS_to_send_to_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>BRIO_3P_Send_Email_Platform_Event_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>debug</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>EOF List Item created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>BRIO_Log_Platform_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Error_On_File_Litify_List</name>
        <label>Get &#39;Error_On_File_Litify&#39; List</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_EOF_Five9_List_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error_On_File_Litify</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake</name>
        <label>Get Intake</label>
        <locationX>314</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_Date_3P_CV_Past_Due_Notification_Sent_c_with_current_datetime</name>
        <label>Stamp Date_3P_CV_Past_Due_Notification_Sent__c with current datetime</label>
        <locationX>50</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Date_3P_CV_Past_Due_Notification_Sent_c_log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_3P_CV_Past_Due_Notification_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Date_3P_EOF_7_Day_Sent_c_with_current_datetime</name>
        <label>Stamp Date_3P_EOF_7_Day_Sent_c with current datetime</label>
        <locationX>314</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Date_3P_EOF_7_Day_Sent_c_log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_3P_EOF_7_Day_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Date_3P_EOF_Final_Email_Sent_c_with_current_datetime</name>
        <label>Stamp Date_3P_EOF_Final_Email_Sent__c with current datetime</label>
        <locationX>578</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Date_3P_EOF_Final_Email_Sent_c_log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_To_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_3P_EOF_Final_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_flow_start_log</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Send_Email__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Fail_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.FaultMessage}&amp;amp;&#39; | {!$Record}Contact ID = &#39;&amp;amp;{!$Record.Contact_Lead_User_ID__c}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
