unpackaged/main/default/flows/Brio_Create_E_Sig_Packet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_URL</name>
        <label>Navigate to URL</label>
        <locationX>644</locationX>
        <locationY>950</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>https://saddlerock.lightning.force.com/lightning/n/litify_docs__Direct_Packet_Merge?litify_docs__autoMerge=true&amp;litify_docs__objectApiName=litify_pm__Intake__c&amp;litify_docs__packetIds={!getIntake.FX_Campaign_Partner_Packet_Id__c}&amp;litify_docs__recordId={!getIntake.Id}&amp;_self</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decisionOverride</name>
        <label>decisionOverride</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PD_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSplitFeeDefinitions</targetReference>
            </connector>
            <label>PD Team</label>
        </rules>
        <rules>
            <name>All_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getSplitFeeDefinitions</targetReference>
            </connector>
            <label>All Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Split_Fee_Definitions</name>
        <label>Has Split Fee Definitions</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Split_Fee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Split_Fee_Is_Null_or_Zero</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getIntake.Split_Fee_Percentage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getIntake.Split_Fee_Percentage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Fee_is_zero_or_blank</targetReference>
            </connector>
            <label>Split/Fee Is Null or Zero</label>
        </rules>
        <rules>
            <name>Has_Split_Fees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSplitFeeDefinitions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_URL</targetReference>
            </connector>
            <label>Has Split Fees</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Brio - Create E-Sig Packet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brio - Create E-Sig Packet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getIntake</name>
        <label>getIntake</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionOverride</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSplitFeeDefinitions</name>
        <label>getSplitFeeDefinitions</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Split_Fee_Definitions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getIntake.Campaign_Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Split_Fee_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Split_Fee</name>
        <label>No Split/Fee</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaySplitFee</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 55, 55); font-size: 14px;&quot;&gt;{!getIntake.Campaign_Partner__r.Campaign_Name__c} does not have any related Split/Fee records. Add Split/Fee records in order to send a referral. Please contact PD team for correction.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Split_Fee_is_zero_or_blank</name>
        <label>Split/Fee is zero or blank</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_displaySplitFee</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(244, 0, 0);&quot;&gt;The Split/Fee Percentage field on the intake is set to zero or is blank. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 55, 55); background-color: rgb(255, 255, 255);&quot;&gt;Please contact PD team for correction.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getIntake</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>https://saddlerock--full.sandbox.lightning.force.com/lightning/n/litify_docs__Direct_Packet_Merge?litify_docs__autoMerge=true&amp;litify_docs__objectApiName=litify_pm__Intake__c&amp;litify_docs__packetIds={!getIntake.Campaign_Partner_Packet_Id__c}&amp;litify_docs__recordId={!getIntake.Id}</description>
        <name>varURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
