unpackaged/main/default/flows/BRIO_Send_Proof_of_Id_Email_Or_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Proof_of_Id_SMS</name>
        <label>Send Proof of Id SMS - PFAS</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMSSent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>tt_smsBody_PFAS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Intake_ID.litify_pm__Client__r.litify_pm__Phone_Mobile__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Proof_of_Id_SMS</name>
        <label>Send Proof of Id SMS</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMSSent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromNumber</name>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>tt_smsBodyPlainText_Wildfires</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Intake_ID.litify_pm__Client__r.litify_pm__Phone_Mobile__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>SMS</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Send_Proof_Of_Id_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LA Wildfires</defaultConnectorLabel>
        <rules>
            <name>PFAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_ID.litify_pm__Case_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Proof_Of_Id_Email</targetReference>
            </connector>
            <label>PFAS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Case_Type</name>
        <label>Case Type?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Send_Proof_of_Id_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LA Wildfires</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_PFAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_ID.litify_pm__Case_Type__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Proof_of_Id_SMS</targetReference>
            </connector>
            <label>PFAS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_or_SMS</name>
        <label>Email or SMS</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SMS</defaultConnectorLabel>
        <rules>
            <name>SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_method_to_send_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <description>5/9/25: Added Path for LA Wildfires and PFAS

Screenflow - Gives user the option to send Email or SMS for Proof of Id request. Both options include a link to a Dropbox File Request folder where documents can be uploaded.</description>
    <environments>Default</environments>
    <interviewLabel>BRIO | Send Proof of Id Email Or SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Send Proof of Id Email Or SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Intake_ID</name>
        <label>Get Intake ID</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_or_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Send_Proof_Of_Id_Email</name>
        <label>Send Proof Of Id Email - PFAS</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_SendEmailScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Send Request for Proof of Identification Email to {!Get_Intake_ID.litify_pm__Client__r.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_RequestProofOfIdEmail</name>
            <extensionName>Email_Composer:FlowEmailComposer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideTemplateSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whatId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logEmail</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromAddress</name>
                <value>
                    <elementReference>$Setup.SRLG_Automated_Comms_Settings__c.Default_Org_Wide_Email_From_Address__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subject</name>
                <value>
                    <stringValue>Action Required: Saddle Rock Legal Group is requesting Proof of Water Bill Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toAddresses</name>
                <value>
                    <elementReference>Get_Intake_ID.litify_pm__Client__r.litify_pm__Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailBody</name>
                <value>
                    <elementReference>tt_emailBodyRichText_PFAS</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_CloseScreenWarning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;NOTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: In order to send the email, you must click the &#39;Send&#39; button above. Closing the flow before clicking &#39;Send&#39; will end the flow without sending the email.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmailOrSMS</name>
        <label>EmailOrSMS</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Intake_ID</targetReference>
        </connector>
        <fields>
            <name>Please_select_method_to_send_request</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>SMS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select method to send request:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_Proof_Of_Id_Email</name>
        <label>Send Proof Of Id Email</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SendEmailScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Send Request for Proof of Identification Email to {!Get_Intake_ID.litify_pm__Client__r.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RequestProofOfIdEmail</name>
            <extensionName>Email_Composer:FlowEmailComposer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideTemplateSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whatId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logEmail</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromAddress</name>
                <value>
                    <elementReference>$Setup.SRLG_Automated_Comms_Settings__c.Default_Org_Wide_Email_From_Address__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subject</name>
                <value>
                    <stringValue>Action Required: Saddle Rock Legal Group is requesting a Proof of Identification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toAddresses</name>
                <value>
                    <elementReference>Get_Intake_ID.litify_pm__Client__r.litify_pm__Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailBody</name>
                <value>
                    <elementReference>tt_emailBodyRichText_Wildfires</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CloseScreenWarning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;NOTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: In order to send the email, you must click the &#39;Send&#39; button above. Closing the flow before clicking &#39;Send&#39; will end the flow without sending the email.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SMSSent</name>
        <label>SMSSent</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SMSSucces</name>
            <fieldText>&lt;p&gt;SMS Sent (see twilio)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EmailOrSMS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_emailBodyRichText_PFAS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Dear {!Get_Intake_ID.litify_pm__Client__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Thank you for working with &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Saddle Rock Legal Group!&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; We’re dedicated to providing you with exceptional support and making this process as smooth as possible.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;As part of your case review, we kindly ask that you upload a copy of your &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Water Bill&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; document. Please follow the instructions below to complete this step. If you have any questions, please contact our office at &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;888-686-6454&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;How to Upload Your Water Bill(s):&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;1. Go to the Upload Link: &lt;/strong&gt;&lt;a href=&quot;https://www.dropbox.com/request/2GYic5UJqQdtDeckfmYI&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&lt;strong&gt;CLICK HERE TO UPLOAD DOCUMENT&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;2. Prepare Your Identification Document:&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Ensure the document image or scan is &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;clear and legible&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;File format must be &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;PDF, JPG, or PNG&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;3. Name Your File Correctly:&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Include your &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;phone number&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; in the file name.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Example: WaterBill1_5551234567.pdf&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;4. Upload Your Document:&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Follow the on-screen instructions to submit your file.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;If you encounter any issues, please contact us at &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;888-686-6454&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; for immediate assistance.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Thank you for your prompt attention to this request!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Best regards,&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Saddle Rock Legal Group&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Emoji_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI Emoji_MSFontService&amp;quot;, sans-serif;&quot;&gt;📞&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Need Help?&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; Contact us at &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;888-686-6454 or email us at &lt;/strong&gt;&lt;a href=&quot;mailto:mintake@saddlerocklegal.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(70, 120, 134);&quot;&gt;&lt;strong&gt;&lt;u&gt;intake@saddlerocklegal.com&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Email Body for Request for Proof of Identification Email</description>
        <name>tt_emailBodyRichText_Wildfires</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Dear {!Get_Intake_ID.litify_pm__Client__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Thank you for working with &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Saddle Rock Legal Group!&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; We’re committed to providing you with world class support and ensuring a smooth process during this legal process. As part of our verification procedure, we need you to upload a proof of identification document. Please follow the instructions below to complete this step. If you have any questions, please contact our office at &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;888-686-6454&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;How to Upload Your Proof of Identification:&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;1. Go to the Upload Link: &lt;/strong&gt;&lt;a href=&quot;https://www.dropbox.com/request/hLS5EFEUbHpMZDbJl4t8&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&lt;strong&gt;CLICK HERE TO UPLOAD DOCUMENT&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;2. Prepare Your Identification Document:&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Ensure the document image is &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;clear and legible&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Accepted document types:&amp;nbsp;&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Driver’s license or State ID&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Passport&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Utility bill&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; (must include your name and address)&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Other government-issued ID&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;File format must be &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;PDF, JPG, or PNG&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;3. Name Your File Correctly:&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Include your &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;phone number&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; in the file name.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Example: If your phone number is &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;555-123-4567&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;, name your file:&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: WordVisiCarriageReturn_MSFontService, Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;ProofOfId_5551234567.pdf&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Including your phone number in the file name&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; helps us match your document to your record quickly.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;4. Upload Your Document:&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Follow the on-screen instructions to submit your file.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;If you encounter any issues, please contact us at &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;888-686-6454&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; for immediate assistance.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Thank you for your prompt attention to this request!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Best regards,&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Saddle Rock Legal Group&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Emoji_EmbeddedFont&amp;quot;, &amp;quot;Segoe UI Emoji_MSFontService&amp;quot;, sans-serif;&quot;&gt;📞&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Need Help?&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; Contact us at &lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;888-686-6454 or email us at &lt;/strong&gt;&lt;a href=&quot;mailto:mintake@saddlerocklegal.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(70, 120, 134);&quot;&gt;&lt;strong&gt;&lt;u&gt;intake@saddlerocklegal.com&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_smsBody_PFAS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please upload a copy of your water bill as proof of residency using the link below:
Click here:
https://www.dropbox.com/request/2GYic5UJqQdtDeckfmYI
– Saddle Rock Legal Group | 888-686-6454</text>
    </textTemplates>
    <textTemplates>
        <name>tt_smsBodyPlainText_Wildfires</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please click the link below to upload proof of residency in the burn area, such as a utility bill, valid driver’s license, or similar document.

Click Here: 
https://www.dropbox.com/request/hLS5EFEUbHpMZDbJl4t8

Saddle Rock Legal Group
888-686-6454</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
