unpackaged/main/default/flows/BRIO_3P_Confirm_From_Email_is_Org_Wide_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Throw_Error_Message</name>
        <label>Throw Error Message</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <customErrorMessages>
            <errorMessage>You cannot save the record with the &#39;3P From Email&#39; value {!$Record.X3P_From_Email__c}. In order to use this as your &#39;From&#39; email, you need to first add it as an Org Wide Address.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>If there is a match, we can end the flow because we do not need to throw an error message.</description>
        <name>Does_the_entered_3P_From_Email_value_match_this_Org_Wide_Address</name>
        <label>Does the entered &#39;3P From Email&#39; value match this Org Wide Address?</label>
        <locationX>396</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Loop_these_addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, this Org Wide Address does not match the entered value</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_these_addresses.Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.X3P_From_Email__c</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BRIO | 3P | Confirm From Email is Org Wide Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | 3P | Confirm From Email is Org Wide Address</label>
    <loops>
        <description>To compare them each against the entered &quot;From&quot; email value on the Intake Vendor record.</description>
        <name>Loop_these_addresses</name>
        <label>Loop these addresses</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_all_Org_Wide_Email_Addresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_entered_3P_From_Email_value_match_this_Org_Wide_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Throw_Error_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Org_Wide_Email_Addresses</name>
        <label>Get all Org Wide Email Addresses</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_these_addresses</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Org_Wide_Email_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X3P_From_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Intake_Vendor__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
