unpackaged/main/default/flows/BRIO_PROD_Tekmir_Manual_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>SENDS TO TEKMIR PROD
12/9/2024 - Fix to sublfow
Record triggered flow to test Tekmir Integration. Triggered by checking/unchecking Send Tekmir Test Boolean on Intake</description>
    <environments>Default</environments>
    <interviewLabel>BRIO | PROD | Tekmir Manual Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROD BRIO Intake Tekmir Manual Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_File_Info_Record</name>
        <label>Get File Info Record</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Prod_Subflow_v3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_docs__Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FX_Is_Signed_Retainer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Tekmir_Test_API_Post__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_File_Info_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Call_Prod_Subflow_v3</name>
        <label>Call Prod Subflow v3</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <flowName>PROD_BRIO_Intake_Tekmir_Send_Autolaunch_V3</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFileInfoRecordId</name>
            <value>
                <elementReference>Get_File_Info_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
