unpackaged/main/default/flows/Brio_Stamp_Note_Plain_Text_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Remove HTML markup from the Notes field</description>
        <name>Remove_HTML_Markup</name>
        <label>Remove HTML Markup</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>RemoveHtmlMarkup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Stamp_Plain_Text</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richText</name>
            <value>
                <elementReference>$Record.litify_pm__lit_Note__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RemoveHtmlMarkup</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Note value needs to be in plain text for use in doc templates | HTML markup | long text test</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_Note_Plain_FINAL</name>
        <dataType>String</dataType>
        <expression>
LEFT({!fx_Note_Plain_Text_LEFT_CUT}, (FIND(&quot;&lt;&quot;, {!fx_Note_Plain_Text_LEFT_CUT}))-1
)</expression>
    </formulas>
    <formulas>
        <name>fx_Note_Plain_Text_LEFT_CUT</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.litify_pm__lit_Note__c}, LEFT({!$Record.litify_pm__lit_Note__c}, FIND(&quot;&gt;&quot;, {!$Record.litify_pm__lit_Note__c})), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>LEFT_TRIM_Text_from_Remove_HTML_Markup</name>
        <dataType>String</dataType>
        <expression>LEFT({!Remove_HTML_Markup}, 255)</expression>
    </formulas>
    <interviewLabel>Brio | Stamp Note_Plain_Text field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brio | Stamp Note_Plain_Text field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stamp_Plain_Text</name>
        <label>Stamp Plain Text</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Long_Text_test__c</field>
            <value>
                <elementReference>Remove_HTML_Markup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note_Plain_Text__c</field>
            <value>
                <elementReference>LEFT_TRIM_Text_from_Remove_HTML_Markup</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__lit_Note__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__lit_Note__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>litify_pm__lit_Note__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Remove_HTML_Markup</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
