unpackaged/main/default/flows/BRIO_Intake_Remove_Five9_List_Item_if_Intake_Vendor_is_changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>List_Item_found</name>
        <label>List Item found?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_List_Item_for_this_Intake</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_List_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Intake Vendor is no longer &#39;Saddle Rock&#39;, delete the corresponding List Item if it exists.</description>
        <name>Was_Intake_Vendor_changed_and_no_longer_equal_Saddle_Rock</name>
        <label>Was Intake Vendor changed and no longer equal &#39;Saddle Rock&#39;?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Saddle Rock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_List_Item_for_this_Intake</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If Intake Vendor is not Saddle Rock, delete the List Item | Added &#39;External&#39; Record Type Exclusion</description>
    <environments>Default</environments>
    <interviewLabel>BRIO | Intake | Remove Five9 List Item if Intake Vendor is changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Intake | Remove Five9 List Item if Intake Vendor is changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Because the Intake Vendor is no longer Saddle Rock, we want to remove this Intake from our call list</description>
        <name>Delete_List_Item</name>
        <label>Delete List Item</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_List_Item_for_this_Intake.Id</elementReference>
            </value>
        </filters>
        <object>Five9LSP__Five9_List_Item__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_List_Item_for_this_Intake</name>
        <label>Get List Item for this Intake</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_Item_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Five9LSP__Five9_List_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Intake_Vendor_changed_and_no_longer_equal_Saddle_Rock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012UJ000001ZYCjYAO</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
