unpackaged/main/default/flows/Brio_Field_Updates_for_Intake_API_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>A_Missing_Source_For_Intake</name>
        <label>A Missing Source For Intake</label>
        <locationX>687</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Intake_Vendor_Name_c_not_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>b.cottrell@saddlerocklegal.com,l.masciotti@saddlerocklegal.com,l.paulson@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Intake Without A Source</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Campaign_lookup</name>
        <label>Assign Campaign lookup</label>
        <locationX>467</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>var_rec_Intake.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_existing_Campaign_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Case_Type_Name_c_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Type_Lookup</name>
        <label>Assign Case Type Lookup</label>
        <locationX>467</locationX>
        <locationY>2616</locationY>
        <assignmentItems>
            <assignToReference>var_rec_Intake.litify_pm__Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_existing_Case_Type_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_var_rec_Intake_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intake_ID_to_var_rec_Intake</name>
        <label>Assign Intake ID to var_rec_Intake</label>
        <locationX>621</locationX>
        <locationY>3000</locationY>
        <assignmentItems>
            <assignToReference>var_rec_Intake.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_var_rec_Intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intake_Vendor_lookup</name>
        <label>Assign Intake Vendor lookup</label>
        <locationX>423</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>var_rec_Intake.Intake_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_existing_Intake_Vendor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Name_c_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intake_Vendor_Lookup_0</name>
        <label>Assign Intake Vendor Lookup</label>
        <locationX>687</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>var_rec_Intake.Intake_Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Intake_Vendor_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Name_c_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_lookup</name>
        <label>Assign Source lookup</label>
        <locationX>423</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>var_rec_Intake.litify_pm__Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_for_existing_Source_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Intake_Vendor_Name_c_not_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_found</name>
        <label>Campaign found?</label>
        <locationX>599</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Type_Name_c_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_existing_Campaign_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_lookup</targetReference>
            </connector>
            <label>Yes Campaign found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Name_c_not_null</name>
        <label>Is Campaign_Name__c not null?</label>
        <locationX>753</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Type_Name_c_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_Name_c_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_existing_Campaign_record</targetReference>
            </connector>
            <label>Yes Campaign_Name__c not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_found</name>
        <label>Case Type found?</label>
        <locationX>599</locationX>
        <locationY>2508</locationY>
        <defaultConnector>
            <targetReference>Is_var_rec_Intake_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Type_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_existing_Case_Type_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Type_Lookup</targetReference>
            </connector>
            <label>Yes Case Type found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Vendor_found</name>
        <label>Intake Vendor found?</label>
        <locationX>555</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Create_Intake_Vendor_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Intake_Vendor_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_existing_Intake_Vendor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intake_Vendor_lookup</targetReference>
            </connector>
            <label>Yes Intake Vendor found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Type_Name_c_not_null</name>
        <label>Is Case_Type_Name__c not null?</label>
        <locationX>753</locationX>
        <locationY>2292</locationY>
        <defaultConnector>
            <targetReference>Is_var_rec_Intake_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Type_Name_c_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_existing_Case_Type_record</targetReference>
            </connector>
            <label>Yes Case_Type_Name__c not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Intake_Vendor_Name_c_not_null</name>
        <label>Is Intake_Vendor_Name__c not null?</label>
        <locationX>753</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Campaign_Name_c_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intake_Vendor_Name_c_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_existing_Intake_Vendor</targetReference>
            </connector>
            <label>Intake_Vendor_Name__c is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Source_Name_c_not_null</name>
        <label>Is Source_Name__c not null?</label>
        <locationX>753</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Is_Intake_Vendor_Name_c_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_Name_c_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_existing_Source_record</targetReference>
            </connector>
            <label>Source_Name__c not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_var_rec_Intake_not_null</name>
        <label>Is var_rec_Intake not null?</label>
        <locationX>753</locationX>
        <locationY>2892</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_rec_Intake</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Intake_ID_to_var_rec_Intake</targetReference>
            </connector>
            <label>Yes not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_found</name>
        <label>Source found?</label>
        <locationX>555</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>A_Missing_Source_For_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Source_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_existing_Source_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Source_lookup</targetReference>
            </connector>
            <label>Yes Source found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Check</name>
        <label>User Check</label>
        <locationX>456</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_Source_Name_c_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User != Lexi</defaultConnectorLabel>
        <rules>
            <name>User_Lexi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>l.masciotti@saddlerocklegal.com</stringValue>
                </rightValue>
            </conditions>
            <label>User = Lexi</label>
        </rules>
    </decisions>
    <description>2024-01-17: Removed the create campaign record action if campaign is not found
2024-07-08: Removed the create case type actions if a case type is not found. 
2024-06-25: Removed the ry guy from these missing source emails and added logan paulson!
2024-06-20: added b.cottrell@saddlerocklegal.com,l.masciotti@saddlerocklegal.com,r.evans@saddlerocklegal.com as recipients and owners of the missing source data</description>
    <environments>Default</environments>
    <formulas>
        <name>emailText</name>
        <dataType>String</dataType>
        <expression>&quot;This is the record that came in without a source: &quot; + {!intakeLinkGenerator}</expression>
    </formulas>
    <formulas>
        <name>fx_BillingStreet</name>
        <dataType>String</dataType>
        <expression>{!$Record.Street_Address_1__c}&amp;
{!$Record.Street_Address_2__c}</expression>
    </formulas>
    <formulas>
        <name>fx_BillingStreetConcat</name>
        <dataType>String</dataType>
        <expression>{!$Record.Street_Address_1__c}&amp;{!fx_LineBreak}&amp;{!$Record.Street_Address_2__c}</expression>
    </formulas>
    <formulas>
        <name>fx_LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>intakeLinkGenerator</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_560, FIND( &#39;/services&#39;, $Api.Partner_Server_URL_560)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Brio - Field Updates for Intake API - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brio - Field Updates for Intake API - Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Intake_Vendor_Record</name>
        <label>Create Intake Vendor Record</label>
        <locationX>687</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Assign_Intake_Vendor_Lookup_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Intake_API__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Intake_Vendor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Intake_Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Search_for_existing_Campaign_record</name>
        <label>Search for existing Campaign record</label>
        <locationX>599</locationX>
        <locationY>1800</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_existing_Case_Type_record</name>
        <label>Search for existing Case Type record</label>
        <locationX>599</locationX>
        <locationY>2400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case_Type_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Case_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_existing_Intake_Vendor</name>
        <label>Search for existing Intake Vendor</label>
        <locationX>555</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_Vendor_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intake_Vendor_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Intake_Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>See if there is already a Source record in the system by the same name as the Source_Name__c on the Intake.</description>
        <name>Search_for_existing_Source_record</name>
        <label>Search for existing Source record</label>
        <locationX>555</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Affiliate_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Source__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_var_rec_Intake</name>
        <label>Update var_rec_Intake</label>
        <locationX>621</locationX>
        <locationY>3108</locationY>
        <inputReference>var_rec_Intake</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</filterLogic>
        <filters>
            <field>Source_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Source_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>User_Check</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>StreetAddressConcat</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Street_Address_1__c}&lt;/p&gt;&lt;p&gt;{!$Record.Street_Address_2__c}&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1030</triggerOrder>
    <variables>
        <name>var_new_Campaign_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_new_Intake_Vendor_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_new_Source_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_rec_Intake</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
</Flow>
