unpackaged/main/default/flows/Brio_Twilio_Stop_do_not_text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Customer_replied_ONLY_stop</name>
        <label>Customer replied ONLY stop</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_TextBody_Lower</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>stop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Intakes_with_Same_Caller_Mobile_Phone_Do_Not_Text_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When an incoming Twilio Message = stop, then set all intakes from this caller to Do Not Text.</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_TextBody_Lower</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.TwilioSF__Body__c})</expression>
    </formulas>
    <interviewLabel>Brio | Twilio | Stop - do not text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brio | Twilio | Stop - do not text</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_All_Intakes_with_Same_Caller_Mobile_Phone_Do_Not_Text_true</name>
        <label>Set All Intakes with Same Caller Mobile Phone  -  Do Not Text</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caller_Phone_Mobile_Formatted__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TwilioSF__From_Number_Unformatted__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Text_Intake__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_replied_ONLY_stop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TwilioSF__Direction__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>inbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>TwilioSF__Body__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Stop</stringValue>
            </value>
        </filters>
        <object>TwilioSF__Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
