unpackaged/main/default/flows/Brio_Intakes_Error_On_File_After_11_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Schedule flow that runs daily that will update the Intake Status to Error On File</description>
    <environments>Default</environments>
    <interviewLabel>Brio | Intakes | Error On File After 11 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brio | Intakes | Error On File After 11 Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCaseVerificationRecordType</name>
        <label>getCaseVerificationRecordType</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateIntake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>litify_pm__Intake__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSaddleRockIntakeVendor</name>
        <label>getSaddleRockIntakeVendor</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCaseVerificationRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Saddle Rock</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Intake_Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateIntake</name>
        <label>updateIntake</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Intake_Vendor__c</field>
            <value>
                <elementReference>getSaddleRockIntakeVendor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getCaseVerificationRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Error on File</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSaddleRockIntakeVendor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Error_On_File_Greater_Than_11_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Third Party Error on File</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-10-28</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
