unpackaged/main/default/flows/BRIO_Resend_Files.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_External_Link</name>
        <label>Create External Link</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>SaddleRockDocrioExternalLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_External_Link_on_Intake</targetReference>
        </connector>
        <faultConnector>
            <targetReference>External_Link_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>expirationDate</name>
            <value>
                <elementReference>fx_expiration_date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SaddleRockDocrioExternalLink</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No_Option</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_Option</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Documents_found</name>
        <label>Documents found?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Documents Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Documents_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_File_Info_recs_related_to_this_Intake</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_External_Link</targetReference>
            </connector>
            <label>Yes, Documents Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Resend</name>
        <label>Verify Resend</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Resend = No</defaultConnectorLabel>
        <rules>
            <name>Resend_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Option</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_File_Info_recs_related_to_this_Intake</targetReference>
            </connector>
            <label>Resend = Yes</label>
        </rules>
    </decisions>
    <description>Screenflow - Button available on Intake. When pressed will re-generate an external link for all files associated with the intake and bring up an email template to share that link with the Referral Partner</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_expiration_date</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <formulas>
        <name>fx_ResendLabel</name>
        <dataType>String</dataType>
        <expression>&quot;Would you like to resend files to the Campaign Partner - &quot; + {!Get_Intake_ID.Campaign_Partner__r.Partner__r.Name} + &quot;?&quot;</expression>
    </formulas>
    <formulas>
        <name>MatterPlanPlaceholder</name>
        <dataType>String</dataType>
        <expression>&#39;a0FDn000000NurbMAC&#39;</expression>
    </formulas>
    <interviewLabel>BRIO | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BRIO | Resend Files</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaign_Partner</name>
        <label>Get Campaign Partner</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Campaign_Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Info_recs_related_to_this_Intake</name>
        <label>Get File Info recs related to this Intake</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Documents_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_docs__Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Delete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_ID</name>
        <label>Get Intake ID</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resend_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_External_Link_on_Intake</name>
        <label>Update External Link on Intake</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Campaign_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Link_URL__c</field>
            <value>
                <elementReference>Create_External_Link.message</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <screens>
        <name>External_Link_Error</name>
        <label>External Link Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExternalLinkError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 3, 3);&quot;&gt;Please correct the error in order to continue the flow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resend_Choice</name>
        <label>Resend Choice</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Resend</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Would_you_like_to_resend</name>
            <choiceReferences>Yes_Option</choiceReferences>
            <choiceReferences>No_Option</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!fx_ResendLabel}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Email_Template</name>
        <label>Show Email Template</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SendEmailScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Send Email to {!Get_Intake_ID.Campaign_Partner__r.Partner__r.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TemplateEmailScreen</name>
            <extensionName>Email_Composer:FlowEmailComposer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bccAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_BCC_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ccAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_CC_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toAddresses</name>
                <value>
                    <elementReference>Get_Campaign_Partner.Referral_Email_To_Address_es__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideTemplateSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whatId</name>
                <value>
                    <elementReference>Get_Intake_ID.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logEmail</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailTemplateId</name>
                <value>
                    <elementReference>var_defaultEmailTemplateId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CloseScreenWarning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;NOTE&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: In order to send the email, you must click the &#39;Send&#39; button above. Closing the flow before clicking &#39;Send&#39; will end the flow without sending the email.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SimplyConvertBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;SFDC_SimplyConvert Case Referral,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is an alert to inform you we just sent a new case referral for {!Get_Intake_ID.Client_Name__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to us for any further needs or questions concerning this referral,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Linzee Martin&lt;/p&gt;&lt;p&gt;l.martin@saddlerocklegal.com&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>col_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_to_only_signed_documents</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_docs__File_Info__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Signed_Retainer_docs_only</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_docs__File_Info__c</objectType>
    </variables>
    <variables>
        <name>QuestionnaireID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetainerFileInfoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_defaultEmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Campaign_Partner.Resend_Files_Email_Template__c</elementReference>
        </value>
    </variables>
</Flow>
