unpackaged/main/default/flows/Campaign_Case_AS_Create_or_Update_Injured_Party_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Injured_Party</name>
        <label>Has Injured Party?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Injured Party</defaultConnectorLabel>
        <rules>
            <name>Has_Injured_Party_Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake__r.Injured_Party__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Injured_Party</targetReference>
            </connector>
            <label>Has Injured Party Relationship</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Campaign Case: AS | Create or Update Injured Party Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Case: AS | Create or Update Injured Party Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Related_Injured_Party</name>
        <label>Update Related Injured Party</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>State_Of_Death__c</field>
            <value>
                <elementReference>$Record.State_Death_Occurred__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Intake__r.Injured_Party__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Injured_Party</targetReference>
        </connector>
        <filterFormula>AND(
ISCHANGED({!$Record.State_Death_Occurred__c}),
OR(
{!$Record.Intake__r.litify_pm__Case_Type__r.Name} = &#39;Round Up&#39;, 
{!$Record.Intake__r.litify_pm__Case_Type__r.Name} = &#39;PFAS&#39;))</filterFormula>
        <object>Campaign_Case__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSSNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
