unpackaged/main/default/flows/Case_Verification_Expiring_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>713</locationX>
        <locationY>828</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Legal Case Follow-Up</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0</name>
        <label>Send Email</label>
        <locationX>943</locationX>
        <locationY>795</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Legal Case Follow-Up</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0</name>
        <label>Send Email</label>
        <locationX>1176</locationX>
        <locationY>832</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Legal Case Follow-Up</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Case Verification Expiring - Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Verification Expiring - Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Email</name>
        <label>Log Email</label>
        <locationX>722</locationX>
        <locationY>1097</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Legal Case Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0</name>
        <label>Log Email</label>
        <locationX>935</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Legal Case Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0</name>
        <label>Log Email</label>
        <locationX>1174</locationX>
        <locationY>1149</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Legal Case Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>827</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expiring</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>three_hours</name>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>three hours</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>one_day</name>
            <connector>
                <targetReference>Send_Email_0</targetReference>
            </connector>
            <label>one day</label>
            <offsetNumber>26</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>one_and_a_half_days</name>
            <connector>
                <targetReference>Send_Email_0_0</targetReference>
            </connector>
            <label>one and a half days</label>
            <offsetNumber>32</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>SendEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.litify_pm__First_Name__c},&lt;br&gt;
&lt;br&gt;
I hope all is well today! This is Saddle Rock Legal Group, the law firm currently working on your {!$Record.Case_Type_Name_del__c} case. We have been trying to reach you for some time regarding some missing information on your file. We, unfortunately, will have to reject your claim preventing you from receiving a potential cash settlement if we do not get a response. Call us back at {!$Organization.Phone} as soon as possible; it should be a quick 5-10 minute phone call. Thanks!&lt;br&gt;
&lt;br&gt;
Regards,&lt;br&gt;
Saddle Rock Legal Group&lt;br&gt;
Office: {!$Organization.Phone}&lt;br&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>SMS - Case Verification Expiring</description>
        <name>SMS_Case_Verification_Expiring</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This is Saddle Rock Legal Group, the firm working on your {!$Record.Case_Type_Name_del__c} case. Call us at {!$Organization.Phone} as quickly as possible, thanks!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
