unpackaged/main/default/flows/Client_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>767</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>Loop.Client_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_INTAKES</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Client Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Email</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>550</locationX>
        <locationY>577</locationY>
        <collectionReference>Get_Intakes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Intakes</name>
        <label>Get Intakes</label>
        <locationX>550</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD_INTAKES</name>
        <label>UPD INTAKES</label>
        <locationX>770</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputReference>Loop</inputReference>
    </recordUpdates>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Intakes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
