unpackaged/main/default/flows/Contact_Day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0</name>
        <label>Send SMS</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0</name>
        <label>Send SMS</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0</name>
        <label>Send SMS</label>
        <locationX>1634</locationX>
        <locationY>648</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>2162</locationX>
        <locationY>648</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>2690</locationX>
        <locationY>648</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>3218</locationX>
        <locationY>648</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>3746</locationX>
        <locationY>648</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Sendemail</name>
        <label>Sendemail</label>
        <locationX>50</locationX>
        <locationY>432</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>ContactDay1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail2</name>
        <label>SendEmail2</label>
        <locationX>578</locationX>
        <locationY>432</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail2_0</name>
        <label>SendEmail2</label>
        <locationX>1106</locationX>
        <locationY>432</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail2_0_0</name>
        <label>SendEmail2</label>
        <locationX>1634</locationX>
        <locationY>432</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail2_0_0_0</name>
        <label>SendEmail2</label>
        <locationX>2162</locationX>
        <locationY>432</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail2_0_0_0_0</name>
        <label>SendEmail2</label>
        <locationX>2690</locationX>
        <locationY>432</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail2_0_0_0_0_0</name>
        <label>SendEmail2</label>
        <locationX>3218</locationX>
        <locationY>432</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail2_0_0_0_0_0_0</name>
        <label>SendEmail2</label>
        <locationX>3746</locationX>
        <locationY>432</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>FinalEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Email</name>
        <label>Has Email</label>
        <locationX>182</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FX_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sendemail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_0</name>
        <label>Has Email</label>
        <locationX>1766</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FX_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail2_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_0_0</name>
        <label>Has Email</label>
        <locationX>2294</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FX_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail2_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_0_0_0</name>
        <label>Has Email</label>
        <locationX>2822</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FX_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail2_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_0_0_0_0</name>
        <label>Has Email</label>
        <locationX>3350</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FX_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail2_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_0_0_0_0_0</name>
        <label>Has Email</label>
        <locationX>3878</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FX_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail2_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_0_0_0_0_0_0</name>
        <label>Has Email</label>
        <locationX>710</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FX_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Email_0_0_0_0_0_0_0</name>
        <label>Has Email</label>
        <locationX>1238</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FX_Client_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail2_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DR - 6/24/24 - Replacing with call count based Automated Outbound Comm records</description>
    <environments>Default</environments>
    <interviewLabel>Contact follow up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEPRECATE Contact Day #</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Email</name>
        <label>Log Email</label>
        <locationX>50</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>ContactDay1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0</name>
        <label>Log Email</label>
        <locationX>578</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Send_SMS_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0</name>
        <label>Log Email</label>
        <locationX>1106</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Send_SMS_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0</name>
        <label>Log Email</label>
        <locationX>1634</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Send_SMS_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>2162</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Send_SMS_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>2690</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Send_SMS_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>3218</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Send_SMS_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>ContactDay2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>3746</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Send_SMS_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>FinalEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS</name>
        <label>Log SMS</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0</name>
        <label>Log SMS</label>
        <locationX>578</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0</name>
        <label>Log SMS</label>
        <locationX>1106</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0</name>
        <label>Log SMS</label>
        <locationX>1634</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>2162</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>2690</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>3218</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>3746</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SendSMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1904</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Has_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>contact_day_2</name>
            <connector>
                <targetReference>Has_Email_0_0_0_0_0_0</targetReference>
            </connector>
            <label>contact day 2</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>contact_day_3</name>
            <connector>
                <targetReference>Has_Email_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>contact day 3</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>contact_day_4</name>
            <connector>
                <targetReference>Has_Email_0</targetReference>
            </connector>
            <label>contact day 4</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>contact_day_5</name>
            <connector>
                <targetReference>Has_Email_0_0</targetReference>
            </connector>
            <label>contact day 5</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>contact_day_7</name>
            <connector>
                <targetReference>Has_Email_0_0_0</targetReference>
            </connector>
            <label>contact day 7</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>contact_day_15</name>
            <connector>
                <targetReference>Has_Email_0_0_0_0</targetReference>
            </connector>
            <label>contact day 15</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Final</name>
            <connector>
                <targetReference>Has_Email_0_0_0_0_0</targetReference>
            </connector>
            <label>Final</label>
            <offsetNumber>16</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ContactDay1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.litify_pm__First_Name__c},
&lt;br&gt;&lt;br&gt;
Thanks so much for contacting Saddle Rock Legal Group. We have been trying to contact you about the possible {!$Record.Case_Type_Name_del__c} case. Please reach out to us as soon as possible. We can be reached at {!$Organization.Phone}.
&lt;br&gt;&lt;br&gt;
Best Regards,
{!Signature}</text>
    </textTemplates>
    <textTemplates>
        <name>ContactDay2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.litify_pm__First_Name__c},
&lt;br&gt;&lt;br&gt;
Thanks so much for contacting Saddle Rock Legal Group
&lt;br&gt;&lt;br&gt;
Wehave been trying to contact you about the possible {!$Record.Case_Type_Name_del__c} case. When would be a good time to reach out to go through our intake process? Or you can reach out to usanytime at {!$Organization.Phone}.
&lt;br&gt;&lt;br&gt;
Best Regards,&lt;br&gt;
{!Signature}</text>
    </textTemplates>
    <textTemplates>
        <name>FinalEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.litify_pm__First_Name__c},
&lt;br&gt;&lt;br&gt;
Thanks so much for contacting Saddle Rock Legal Group
&lt;br&gt;&lt;br&gt;
This is Saddle Rock Legal Group. Wehave been trying to contact you about the possible {!$Record.Case_Type_Name_del__c} case. At this point we will be closing the inquiry unless we hear from you. Please let us know if you would like to pursue any litigation.
&lt;br&gt;&lt;br&gt;
Best Regards,&lt;br&gt;
{!Signature}</text>
    </textTemplates>
    <textTemplates>
        <name>SendSMS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.litify_pm__First_Name__c}, this is Saddle Rock Legal Group, calling for a possible {!$Record.Case_Type_Name_del__c} case. Call 888-463-0699!</text>
    </textTemplates>
    <textTemplates>
        <name>Signature</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;body style=&quot;margin: 0; padding: 0;&quot;&gt;
  &lt;table border=&quot;0&quot; width=&quot;100%&quot; role=&quot;presentation&quot;&gt;
    &lt;tr&gt;
        &lt;td&gt;
          &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100&quot; role=&quot;presentation&quot;&gt;
            &lt;tr&gt;
                &lt;td&gt;
                  &lt;a href=&quot;https://www.saddlerocklegal.com/&quot;&gt;
                    &lt;img src=&quot;https://i.imgur.com/zZGyoQQ.png&quot; width=&quot;145&quot; style=&quot;border:none;display:block;width:165px;height:auto&quot; /&gt;
                  &lt;/a&gt;
                &lt;/td&gt;
                &lt;td style=&quot;font-family:Arial, sans-serif;font-size:12pt;line-height:14pt;color:#000;text-align:left&quot;&gt;
                  &lt;strong&gt;intake@saddlerocklegal.com&lt;/strong&gt;&lt;br /&gt;
                  &lt;a href=&quot;tel:+18886866454&quot; style=&quot;color:#283f3f;text-decoration:none;&quot;&gt;(888) 686-6454&lt;/a&gt;&lt;br /&gt;
                  &lt;a href=&quot;mailto:intake@saddlerocklegal.com&quot; style=&quot;text-decoration:none;color:#b29649&quot;&gt;intake@saddlerocklegal.com&lt;/a&gt;&lt;br /&gt;
                  &lt;a href=&quot;https://www.saddlerocklegal.com/&quot;style=&quot;text-decoration:none;color:#b29649&quot;&gt;www.saddlerocklegal.com&lt;/a&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
          &lt;/table&gt;
        &lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;
  &lt;p style=&quot;font-size: 14px; margin-top: 0; margin-bottom: 0;&quot;&gt;This message is intended only for the use of the Addressee
    and may contain information that is PRIVILEGED and CONFIDENTIAL. If you are not the intended recipient, you are hereby
    notified that any dissemination of this communication is strictly prohibited. If you have received this communication
    in error, please erase all copies of the message and its attachments and notify us immediately. Your receipt of this
    email in no way creates an attorney-client relationship as such will be done by formal written agreement between you
    and Saddle Rock Legal Group LLC., or referring co-counsel, if applicable.&lt;/p&gt;
&lt;/body&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.litify_pm__First_Name__c}, Important Notice from Saddle Rock Legal Group</text>
    </textTemplates>
</Flow>
