unpackaged/main/default/flows/Custom_Intake_API_Add_New_Vendor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Create_new_vendor</name>
        <label>Apex - Create new vendor</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>SaddleRockVendorHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>active</name>
            <value>
                <elementReference>Active</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>integration</name>
            <value>
                <elementReference>Integration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorName</name>
            <value>
                <elementReference>Vendor_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorSFOrgId</name>
            <value>
                <elementReference>Vendor_Salesforce_Org_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SaddleRockVendorHandler</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Custom intake API: Add new vendor and generate API credentials</description>
    <dynamicChoiceSets>
        <name>rcs_Integration</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Integration__mdt</object>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Custom Intake API | Add New Vendor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Intake API | Add New Vendor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>New_Vendor_Screen</name>
        <label>New Vendor Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Apex_Create_new_vendor</targetReference>
        </connector>
        <fields>
            <name>Vendor_Name</name>
            <dataType>String</dataType>
            <fieldText>Vendor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Vendor_Salesforce_Org_ID</name>
            <dataType>String</dataType>
            <fieldText>Vendor Salesforce Org ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Active</name>
            <dataType>Boolean</dataType>
            <fieldText>Active?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Integration</name>
            <choiceReferences>rcs_Integration</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Integration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Vendor_Screen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
