unpackaged/main/default/flows/Dropbox_Sign_API_Test_Connection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Test_Connection</name>
        <label>Apex: Test Connection</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>DropboxSignAPITestConnection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Callout_is_successful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>DropboxSignAPITestConnection</nameSegment>
        <outputParameters>
            <assignToReference>output_apex_message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>output_apex_success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_error_message</name>
        <label>Set error message</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>output_apex_message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Result_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_message</name>
        <label>Set message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Congrats! Connection is successful!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Result_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Callout_is_successful</name>
        <label>Callout is successful?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUCCESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>output_apex_success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_message</targetReference>
            </connector>
            <label>SUCCESS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Dropbox Sign API - Test Connection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dropbox Sign API - Test Connection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Result_Screen</name>
        <label>Display Result Screen</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!var_message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apex_Test_Connection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>output_apex_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_apex_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
