unpackaged/main/default/flows/Dropbox_Sign_API_Send_Signature_Request_with_Role_Edits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Submit_Signature_Request</name>
        <label>Apex: Submit Signature Request</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <actionName>DropboxSignAPISendSignatureRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Callout_is_successful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ccEmailAddresses</name>
            <value>
                <elementReference>var_col_ccEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documents</name>
            <value>
                <elementReference>DocumentsDatatable.selectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>This is a test. Please ignore.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendViaSMS</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>signer</name>
            <value>
                <elementReference>recSelectedRole</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Dropbox Sign API - This is a test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testMode</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Dropbox Sign API - This is a test</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DropboxSignAPISendSignatureRequest</nameSegment>
        <outputParameters>
            <assignToReference>output_apex_message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>output_apex_success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CC_email_address</name>
        <label>Add CC-email address</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>var_col_ccEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>briolabs@gobrio.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_Submit_Signature_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_and_Email</name>
        <label>Assign Phone and Email</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>recSelectedRole.Party_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenMobilePhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSelectedRole.Party_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CC_email_address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Role_to_Variable</name>
        <label>Assign Selected Role to Variable</label>
        <locationX>246</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recSelectedRole.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RolesDataTableEdit.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSelectedRole.Party_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RolesDataTableEdit.outputSelectedRow.Party_Mobile_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSelectedRole.Party_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RolesDataTableEdit.outputSelectedRow.Party_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_or_Phone_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Role_Record_Variable</name>
        <label>Assign to Role Record Variable</label>
        <locationX>206</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recSelectedRole.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Edited_Rows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSelectedRole.Party_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Edited_Rows.Party_Mobile_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSelectedRole.Party_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Edited_Rows.Party_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_or_Phone_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Edited_Rows</name>
        <label>Count Edited Rows</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>countEditedRows</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RolesDataTableEdit.outputEditedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Selected_Row_Edited</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_message</name>
        <label>Set error message</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>var_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>output_apex_message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edited_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_message</name>
        <label>Set message</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>var_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signature request has been successfully sent!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edited_Rows</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceEmailOnly</name>
        <choiceText>Email Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailAndSMS</name>
        <choiceText>Email and SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email and SMS</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Callout_is_successful</name>
        <label>Callout is successful?</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Set_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUCCESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>output_apex_success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_message</targetReference>
            </connector>
            <label>SUCCESS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edited_Rows</name>
        <label>Edited Rows?</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Display_Result_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_edited_rows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countEditedRows</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Roles</targetReference>
            </connector>
            <label>yes, edited rows</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_or_Phone_is_Null</name>
        <label>Email or Phone is Null?</label>
        <locationX>182</locationX>
        <locationY>1424</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_CC_email_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_email_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recSelectedRole.Party_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenPhoneAndEmail</targetReference>
            </connector>
            <label>yes, email is null</label>
        </rules>
        <rules>
            <name>yes_email_and_phone_are_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenSendMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailAndSMS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recSelectedRole.Party_Mobile_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenPhoneAndEmail</targetReference>
            </connector>
            <label>yes, email and phone are null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Item_from_Loop_the_Selected_Row</name>
        <label>Is Current Item from Loop the Selected Row?</label>
        <locationX>338</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Edited_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_selected_row_is_current_item_in_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Edited_Rows.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RolesDataTableEdit.outputSelectedRow.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Role_Record_Variable</targetReference>
            </connector>
            <label>yes, selected row is current item in loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected_Row_Edited</name>
        <label>Is Selected Row Edited?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Role_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_selected_row_is_edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxIsSelectedRowEdited</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Edited_Rows</targetReference>
            </connector>
            <label>yes, selected row is edited</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxIsSelectedRowEdited</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!RolesDataTableEdit.outputEditedRowsString}, {!RolesDataTableEdit.outputSelectedRow.Id})</expression>
    </formulas>
    <interviewLabel>Dropbox Sign API - Send Signature Request with Role Edits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dropbox Sign API - Send Signature Request with Role Edits</label>
    <loops>
        <name>Loop_Edited_Rows</name>
        <label>Loop Edited Rows</label>
        <locationX>118</locationX>
        <locationY>782</locationY>
        <collectionReference>RolesDataTableEdit.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Item_from_Loop_the_Selected_Row</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_or_Phone_is_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_related_files</name>
        <label>Get related files</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_docs__Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Delete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_docs__Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FX_Is_DropBox_Sign_Esig_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_roles</name>
        <label>Get related roles</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Files_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_pm__Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Role_Again</name>
        <label>Get Selected Role Again</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Result_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RolesDataTableEdit.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>litify_pm__Role__c</object>
        <outputReference>recSelectedRole</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Party_Mobile_Phone__c</queriedFields>
        <queriedFields>Party_Email__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Roles</name>
        <label>Update Roles</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Get_Selected_Role_Again</targetReference>
        </connector>
        <inputReference>RolesDataTableEdit.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Result_Screen</name>
        <label>Display Result Screen</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;{!var_message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenPhoneAndEmail</name>
        <label>Phone and Email</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Phone_and_Email</targetReference>
        </connector>
        <fields>
            <name>screenEmailandPhoneDisplayText</name>
            <fieldText>&lt;p&gt;Enter email and/or mobile phone below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screenPhoneAndEmail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenPhoneAndEmail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screenEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recSelectedRole.Party_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>yes_email_is_null</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>screenMobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>recSelectedRole.Party_Mobile_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>yes_email_and_phone_are_null</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>toggleDoNotSendSMS.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenPhoneAndEmail_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>toggleDoNotSendSMS</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Send SMS?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>screenSendMethod</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EmailAndSMS</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Files_Screen</name>
        <label>Select Files Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Signer_Screen</targetReference>
        </connector>
        <fields>
            <name>DocumentsDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>litify_docs__File_Info__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_related_files</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-af46&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;File Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;litify_docs__File_Type__c&quot;,&quot;guid&quot;:&quot;column-d47f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;File Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Latest Version File Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;litify_docs__Updated_By_Name__c&quot;,&quot;guid&quot;:&quot;column-f489&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Updated By&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Updated By Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;litify_docs__Updated_On__c&quot;,&quot;guid&quot;:&quot;column-0c50&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Update Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Updated On&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Signer_Screen</name>
        <label>Select Signer Screen</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Edited_Rows</targetReference>
        </connector>
        <fields>
            <name>RolesDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>litify_pm__Role__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_related_roles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;litify_pm__Party_Name__c&quot;,&quot;guid&quot;:&quot;column-bea6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Party Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;litify_pm__Party_Email__c&quot;,&quot;guid&quot;:&quot;column-096d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Party Email&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;litify_pm__Party_Phone__c&quot;,&quot;guid&quot;:&quot;column-7a00&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Party Phone&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;litify_pm__Role__c&quot;,&quot;guid&quot;:&quot;column-f9c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Role Category&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RolesDataTableEdit</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>litify_pm__Role__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>litify_pm__Role__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_related_roles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Party_Email__c:true, Party_Mobile_Phone__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>litify_pm__Party__c,Party_Email__c,Party_Mobile_Phone__c,litify_pm__Role__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>litify_pm__Party__c:364, Party_Email__c:364, Party_Mobile_Phone__c:364, litify_pm__Role__c:364</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screenSendMethod</name>
            <choiceReferences>choiceEmailOnly</choiceReferences>
            <choiceReferences>EmailAndSMS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Send Method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_files</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>countEditedRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>output_apex_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_apex_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSelectedRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Role__c</objectType>
    </variables>
    <variables>
        <name>var_col_ccEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
