unpackaged/main/default/flows/Duplicate_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>129</locationX>
        <locationY>974</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SRLGduplicatenotification_BL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0</name>
        <label>Send Email</label>
        <locationX>640</locationX>
        <locationY>975</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>MT_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bridge_Legal</name>
        <label>Bridge Legal</label>
        <locationX>117</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>Mass_Tort</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqNIAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mass_Tort</name>
        <label>Mass Tort</label>
        <locationX>620</locationX>
        <locationY>717</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqBIAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DR - 6/24/24 - Replaced by outbound comm records</description>
    <environments>Default</environments>
    <interviewLabel>Duplicate Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEPRECATED Duplicate Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Email</name>
        <label>Log Email</label>
        <locationX>129</locationX>
        <locationY>1233</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SRLGduplicatenotification_BL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0</name>
        <label>Log Email</label>
        <locationX>640</locationX>
        <locationY>1238</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>MT_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Bridge_Legal</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>MT_Email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Kelly, Sean, and Tim,
&lt;br&gt;&lt;br&gt;
Please be advised that we have already retained {!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c} for a {!$Record.Case_Type_Name_del__c} case. This client has been provided to us by another source prior to receiving a file from your team.
&lt;br&gt;&lt;br&gt;
Please note that this email serves as notice that this case either needs to be credited or replaced based on the terms of the governing IO and MSA
&lt;br&gt;&lt;br&gt;
Thank you for your attention to this urgent issue.
&lt;br&gt;&lt;br&gt;
Best regards,&lt;br&gt;
Saddle Rock Legal Group &lt;br&gt;
(888) 327-1194</text>
    </textTemplates>
    <textTemplates>
        <name>SRLGduplicatenotification_BL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Meghan,
&lt;br&gt;&lt;br&gt;
Please be advised that we have already retained {!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c} for a {!$Record.Case_Type_Name_del__c} case. This client has been provided to us by another source prior to receiving a file from your team.
&lt;br&gt;&lt;br&gt;
Please note that this email serves as notice that this case either needs to be credited or replaced based on the terms of the governing IO and MSA
&lt;br&gt;&lt;br&gt;
Thank you for your attention to this urgent issue.
&lt;br&gt;&lt;br&gt;
Best regards,&lt;br&gt;
Saddle Rock Legal Group &lt;br&gt;
(888) 327-1194</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c}: Duplicate</text>
    </textTemplates>
</Flow>
