unpackaged/main/default/flows/Exposure_Scheduled_Daily_Matching.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Zip_Code_Found</name>
        <label>Zip Code Found?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Update_To_Not_Matching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ZipCode_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zip_Code_Qualifications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Zip_Code_Qualifications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V1 This flow runs daily to process exposure records where PWS Id or PWS Name or Exposure Location Matched is not null.</description>
    <environments>Default</environments>
    <interviewLabel>Exposure | Scheduled Daily Matching {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exposure | Scheduled Daily Matching</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Upsert_EZCQ_Records</name>
        <label>Upsert EZCQ Records</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Update_To_Matching</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Map_Zip_Code_Qualifications</inputReference>
        <upsertExternalIdField>Unique_Id__c</upsertExternalIdField>
    </recordCreates>
    <recordLookups>
        <name>Get_Zip_Code_Qualifications</name>
        <label>Get Zip Code Qualifications</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Zip_Code_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PWS_Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Exposure_Location_Address__PostalCode__s</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intake__r.litify_pm__Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Zip_Code_Qualification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_To_Matching</name>
        <label>Update To Matching</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>Exposure_Location_Matched__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Not_Matching</name>
        <label>Update To Not Matching</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Exposure_Location_Matched__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Zip_Code_Qualifications</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Exposure_Location_Matched__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>srlg_Exposure__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-05</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Map_Zip_Code_Qualifications</name>
        <label>Map Zip Code Qualifications</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Upsert_EZCQ_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Exposure_Zip_Code_Qualification__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Unique_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!$Record.Id}&amp;{!Get_Zip_Code_Qualifications[$EachItem].Id}</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Zip_Code_Qualification__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Zip_Code_Qualifications[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Exposure__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
