unpackaged/main/default/flows/HubSpot_Form_PFAS_Create_Intake_with_CPL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Within_30_Days</name>
        <label>Check If Within 30 Days</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Search_for_Intakes_with_Same_Source_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Than 30 Days</defaultConnectorLabel>
        <rules>
            <name>Less_Than_30_Days_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Thirty_Days_Ago</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Rejected_1</targetReference>
            </connector>
            <label>Less Than 30 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Most_Recent_Intake_Date</name>
        <label>Check Most Recent Intake Date</label>
        <locationX>974</locationX>
        <locationY>1529</locationY>
        <defaultConnector>
            <targetReference>Lead_Disposition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Than 30 Days</defaultConnectorLabel>
        <rules>
            <name>Less_Than_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Most_Recent_Intake_30_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Rejected_2</targetReference>
            </connector>
            <label>Less Than 30 Days</label>
        </rules>
    </decisions>
    <decisions>
        <description>Distributes off of the &quot;HS Intake Vendor&quot; field. This is auto assigned in HubSpot workflows when a form is filled.</description>
        <name>CPL_Intake_Vendor_Distro</name>
        <label>CPL - Intake Vendor Distro</label>
        <locationX>1238</locationX>
        <locationY>1745</locationY>
        <defaultConnector>
            <targetReference>CPL_SRLG_Create_PFAS_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CPL - Saddle Rock</defaultConnectorLabel>
        <rules>
            <name>CPL_Etech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPL_Etech_Create_PFAS_Intake</targetReference>
            </connector>
            <label>CPL - Etech</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPL_Tier_2</name>
        <label>CPL - Tier 2</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Lead_Accepted_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-CPL</defaultConnectorLabel>
        <rules>
            <name>CPL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Marketing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>114</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Rejected</targetReference>
            </connector>
            <label>CPL</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPL_Vendor</name>
        <label>Sold - CPL Vendor?</label>
        <locationX>1205</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CPL_Tier_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Sold_CPL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_Intakes_with_Same_Phone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Phone_Match_Exists</name>
        <label>Intake Phone Match Exists?</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Search_for_Intakes_with_Same_Source_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Phone Match Found</defaultConnectorLabel>
        <rules>
            <name>Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Intakes_with_Same_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Within_30_Days</targetReference>
            </connector>
            <label>Phone Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Source_Match_Exist</name>
        <label>Intake Source Match Exist?</label>
        <locationX>644</locationX>
        <locationY>1313</locationY>
        <defaultConnector>
            <targetReference>Get_Most_Recent_Associated_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Source Match Found</defaultConnectorLabel>
        <rules>
            <name>Source_Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_for_Intakes_with_Same_Source_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Rejected_Same_Source</targetReference>
            </connector>
            <label>Source Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Distributes off of the &quot;HS Intake Vendor&quot; field. This is auto assigned in HubSpot workflows when a form is filled.</description>
        <name>No_CPL_Intake_Vendor_Distro</name>
        <label>No CPL - Intake Vendor Distro</label>
        <locationX>710</locationX>
        <locationY>1745</locationY>
        <defaultConnector>
            <targetReference>No_CPL_SRLG_Create_PFAS_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CPL - Saddle Rock</defaultConnectorLabel>
        <rules>
            <name>No_CPL_Etech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_CPL_Etech_Create_PFAS_Intake</targetReference>
            </connector>
            <label>No CPL - Etech</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recent_PFAS_Intake</name>
        <label>Recent PFAS Intake</label>
        <locationX>627</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CPL_Vendor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - More than 14 Days</defaultConnectorLabel>
        <rules>
            <name>Yes_14_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PFAS_Recent_Intake__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Party_Triggers_to_False</targetReference>
            </connector>
            <label>Yes - 14 Days</label>
        </rules>
    </decisions>
    <description>When a form is submitted in HubSpot, HubSpot will create/update the party in Salesforce. When &quot;Create Intake Trigger&quot; is TRUE, this flow will create the intake and associate it to the party that triggered it. Finalized by unchecking the &quot;Create Intake Trigger&quot; field (if a new intake is triggered in the future)</description>
    <environments>Default</environments>
    <formulas>
        <description>Finds if the most recent intake associated with a Party and if it is within 30 days or not.</description>
        <name>Most_Recent_Intake_30_Days</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Most_Recent_Associated_Intake.Official_Intake_Date__c} &gt;= TODAY() - 30</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Thirty_Days_Ago</name>
        <dataType>Boolean</dataType>
        <expression>{!Search_for_Intakes_with_Same_Phone.Official_Intake_Date__c} &gt;= TODAY() - 30</expression>
    </formulas>
    <interviewLabel>HubSpot Form | PFAS | Create Intake Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HubSpot Form | PFAS | Create Intake with CPL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an intake with the data received from HubSpot on the Party.</description>
        <name>CPL_Etech_Create_PFAS_Intake</name>
        <label>CPL - Etech - Create PFAS Intake</label>
        <locationX>1106</locationX>
        <locationY>1853</locationY>
        <connector>
            <targetReference>Update_Party_Triggers_to_False_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Ad_ID__c</field>
            <value>
                <elementReference>$Record.HS_Ad_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_1__c</field>
            <value>
                <elementReference>$Record.HS_A1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_2__c</field>
            <value>
                <elementReference>$Record.HS_A2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_3__c</field>
            <value>
                <elementReference>$Record.HS_A3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_6__c</field>
            <value>
                <elementReference>$Record.HS_A6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPL_Sold__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_HubSpot__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Score__c</field>
            <value>
                <elementReference>$Record.HS_Lead_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Vendor__c</field>
            <value>
                <stringValue>a2pUJ000002ngL7YAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jornaya_Lead_ID__c</field>
            <value>
                <elementReference>$Record.HS_Jornaya_Lead_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Medium__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_1__c</field>
            <value>
                <elementReference>$Record.HS_Q1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_2__c</field>
            <value>
                <elementReference>$Record.HS_Q2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_3__c</field>
            <value>
                <elementReference>$Record.HS_Q3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_6__c</field>
            <value>
                <stringValue>Form Submission Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Name__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_1__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_2__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_3__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_4__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_5__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Intake__c</field>
            <value>
                <elementReference>$Record.HS_Test_Intake__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Form_Certificate_URL__c</field>
            <value>
                <elementReference>$Record.HS_Trusted_Form_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Channel__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Click_ID__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_with_another_law_firm__c</field>
            <value>
                <elementReference>$Record.HS_Working_with_another_law_firm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brioapi__API_External_ID__c</field>
            <value>
                <elementReference>$Record.HS_API_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_Type__c</field>
            <value>
                <stringValue>a03UJ00000SEzjSYAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Email__c</field>
            <value>
                <elementReference>$Record.litify_pm__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Medium__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Source__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Term__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an intake with the data received from HubSpot on the Party.</description>
        <name>CPL_SRLG_Create_PFAS_Intake</name>
        <label>CPL - SRLG - Create PFAS Intake</label>
        <locationX>1370</locationX>
        <locationY>1853</locationY>
        <connector>
            <targetReference>Update_Party_Triggers_to_False_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Ad_ID__c</field>
            <value>
                <elementReference>$Record.HS_Ad_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_1__c</field>
            <value>
                <elementReference>$Record.HS_A1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_2__c</field>
            <value>
                <elementReference>$Record.HS_A2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_3__c</field>
            <value>
                <elementReference>$Record.HS_A3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_6__c</field>
            <value>
                <elementReference>$Record.HS_A6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPL_Sold__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_HubSpot__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Score__c</field>
            <value>
                <elementReference>$Record.HS_Lead_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Vendor__c</field>
            <value>
                <stringValue>a2pUJ000004d2PRYAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jornaya_Lead_ID__c</field>
            <value>
                <elementReference>$Record.HS_Jornaya_Lead_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Medium__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_1__c</field>
            <value>
                <elementReference>$Record.HS_Q1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_2__c</field>
            <value>
                <elementReference>$Record.HS_Q2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_3__c</field>
            <value>
                <elementReference>$Record.HS_Q3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_6__c</field>
            <value>
                <stringValue>Form Submission Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Name__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_1__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_2__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_3__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_4__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_5__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Intake__c</field>
            <value>
                <elementReference>$Record.HS_Test_Intake__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Form_Certificate_URL__c</field>
            <value>
                <elementReference>$Record.HS_Trusted_Form_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Channel__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Click_ID__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_with_another_law_firm__c</field>
            <value>
                <elementReference>$Record.HS_Working_with_another_law_firm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brioapi__API_External_ID__c</field>
            <value>
                <elementReference>$Record.HS_API_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_Type__c</field>
            <value>
                <stringValue>a03UJ00000SEzjSYAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Email__c</field>
            <value>
                <elementReference>$Record.litify_pm__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Medium__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Source__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Term__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an intake with the data received from HubSpot on the Party.</description>
        <name>No_CPL_Etech_Create_PFAS_Intake</name>
        <label>No CPL - Etech - Create PFAS Intake</label>
        <locationX>578</locationX>
        <locationY>1853</locationY>
        <connector>
            <targetReference>Update_Party_Triggers_to_False_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Ad_ID__c</field>
            <value>
                <elementReference>$Record.HS_Ad_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_1__c</field>
            <value>
                <elementReference>$Record.HS_A1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_2__c</field>
            <value>
                <elementReference>$Record.HS_A2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_3__c</field>
            <value>
                <elementReference>$Record.HS_A3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_6__c</field>
            <value>
                <elementReference>$Record.HS_A6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_HubSpot__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Score__c</field>
            <value>
                <elementReference>$Record.HS_Lead_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Vendor__c</field>
            <value>
                <stringValue>a2pUJ000002ngL7YAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jornaya_Lead_ID__c</field>
            <value>
                <elementReference>$Record.HS_Jornaya_Lead_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Medium__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_1__c</field>
            <value>
                <elementReference>$Record.HS_Q1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_2__c</field>
            <value>
                <elementReference>$Record.HS_Q2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_3__c</field>
            <value>
                <elementReference>$Record.HS_Q3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_6__c</field>
            <value>
                <stringValue>Form Submission Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Name__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_1__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_2__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_3__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_4__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_5__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Intake__c</field>
            <value>
                <elementReference>$Record.HS_Test_Intake__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Form_Certificate_URL__c</field>
            <value>
                <elementReference>$Record.HS_Trusted_Form_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Channel__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Click_ID__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_with_another_law_firm__c</field>
            <value>
                <elementReference>$Record.HS_Working_with_another_law_firm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brioapi__API_External_ID__c</field>
            <value>
                <elementReference>$Record.HS_API_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_Type__c</field>
            <value>
                <stringValue>a03UJ00000SEzjSYAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Email__c</field>
            <value>
                <elementReference>$Record.litify_pm__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Medium__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Source__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Term__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an intake with the data received from HubSpot on the Party.</description>
        <name>No_CPL_SRLG_Create_PFAS_Intake</name>
        <label>No CPL - SRLG - Create PFAS Intake</label>
        <locationX>842</locationX>
        <locationY>1853</locationY>
        <connector>
            <targetReference>Update_Party_Triggers_to_False_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Ad_ID__c</field>
            <value>
                <elementReference>$Record.HS_Ad_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_1__c</field>
            <value>
                <elementReference>$Record.HS_A1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_2__c</field>
            <value>
                <elementReference>$Record.HS_A2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_3__c</field>
            <value>
                <elementReference>$Record.HS_A3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_6__c</field>
            <value>
                <elementReference>$Record.HS_A6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_HubSpot__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Score__c</field>
            <value>
                <elementReference>$Record.HS_Lead_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Vendor__c</field>
            <value>
                <stringValue>a2pUJ000004d2PRYAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jornaya_Lead_ID__c</field>
            <value>
                <elementReference>$Record.HS_Jornaya_Lead_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Medium__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_1__c</field>
            <value>
                <elementReference>$Record.HS_Q1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_2__c</field>
            <value>
                <elementReference>$Record.HS_Q2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_3__c</field>
            <value>
                <elementReference>$Record.HS_Q3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_6__c</field>
            <value>
                <stringValue>Form Submission Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Name__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_1__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_2__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_3__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_4__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_5__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Intake__c</field>
            <value>
                <elementReference>$Record.HS_Test_Intake__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Form_Certificate_URL__c</field>
            <value>
                <elementReference>$Record.HS_Trusted_Form_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Channel__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Click_ID__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_with_another_law_firm__c</field>
            <value>
                <elementReference>$Record.HS_Working_with_another_law_firm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brioapi__API_External_ID__c</field>
            <value>
                <elementReference>$Record.HS_API_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_Type__c</field>
            <value>
                <stringValue>a03UJ00000SEzjSYAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Email__c</field>
            <value>
                <elementReference>$Record.litify_pm__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Medium__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Source__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Term__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Most_Recent_Associated_Intake</name>
        <label>Get Most Recent Associated Intake</label>
        <locationX>974</locationX>
        <locationY>1421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Most_Recent_Intake_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Name_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PFAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <sortField>Official_Intake_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Intakes_with_Same_Phone</name>
        <label>Search for Intakes with Same Phone</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_Phone_Match_Exists</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>litify_pm__Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Phone_Mobile__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Phone_Home__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Phone_Other__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Name_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PFAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <sortField>Official_Intake_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Intakes_with_Same_Source_ID</name>
        <label>Search for Intakes with Same Source ID</label>
        <locationX>644</locationX>
        <locationY>1205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_Source_Match_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Name_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PFAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <sortField>Official_Intake_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Lead_Accepted_1</name>
        <label>Lead Accepted</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>No_CPL_Intake_Vendor_Distro</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <stringValue>accepted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Disposition</name>
        <label>Lead Accepted</label>
        <locationX>1238</locationX>
        <locationY>1637</locationY>
        <connector>
            <targetReference>CPL_Intake_Vendor_Distro</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <stringValue>accepted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Rejected</name>
        <label>Lead Rejected</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>No_CPL_Intake_Vendor_Distro</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake_Creation_Unqualifying_Reason__c</field>
            <value>
                <stringValue>CPL - Tier 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <stringValue>rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Rejected_1</name>
        <label>Lead Rejected</label>
        <locationX>358</locationX>
        <locationY>863</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>No_CPL_Intake_Vendor_Distro</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake_Creation_Unqualifying_Reason__c</field>
            <value>
                <stringValue>PFAS intake with same phone number in last 30 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <stringValue>rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Rejected_2</name>
        <label>Lead Rejected</label>
        <locationX>710</locationX>
        <locationY>1637</locationY>
        <connector>
            <targetReference>No_CPL_Intake_Vendor_Distro</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake_Creation_Unqualifying_Reason__c</field>
            <value>
                <stringValue>PFAS intake for same party in last 30 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <stringValue>rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Rejected_Same_Source</name>
        <label>Lead Rejected - Same Source</label>
        <locationX>314</locationX>
        <locationY>1421</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>No_CPL_Intake_Vendor_Distro</targetReference>
        </connector>
        <inputAssignments>
            <field>Intake_Creation_Unqualifying_Reason__c</field>
            <value>
                <stringValue>Source provided the same PFAS lead before</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <stringValue>rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unchecks the field &quot;Create Intake Trigger&quot; on the triggering party to reset the intake creation process if a new intake needs to be created in the future for the same party.</description>
        <name>Update_Party_Triggers_to_False</name>
        <label>Update Party Triggers to False</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Create_Intake_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Sold_CPL__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Test_Intake__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Creation_Unqualifying_Reason__c</field>
            <value>
                <stringValue>PFAS intake in last 14 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Disposition__c</field>
            <value>
                <stringValue>rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unchecks the field &quot;Create Intake Trigger&quot; on the triggering party to reset the intake creation process if a new intake needs to be created in the future for the same party.</description>
        <name>Update_Party_Triggers_to_False_1</name>
        <label>Update Party Triggers to False</label>
        <locationX>974</locationX>
        <locationY>2129</locationY>
        <inputAssignments>
            <field>Create_Intake_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Sold_CPL__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HS_Test_Intake__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>501</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recent_PFAS_Intake</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Intake_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hubspot_Campaign_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PFAS</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IntakeCreationUnqualifyingReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
