unpackaged/main/default/flows/HubSpot_Form_Depo_Create_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Distributes off of the &quot;HS Intake Vendor&quot; field. This is auto assigned in HubSpot workflows when a form is filled.</description>
        <name>Intake_Vendor_Distro</name>
        <label>Intake Vendor Distro</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>SRLG_Create_Depo_Intake</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Saddle Rock</defaultConnectorLabel>
        <rules>
            <name>Etech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Etech_Create_Depo_Intake</targetReference>
            </connector>
            <label>Etech</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recent_Depo_Intake</name>
        <label>Recent Depo Intake?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Intake_Vendor_Distro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Recent_Depo_Intake_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Depo_Recent_Intake__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Create_Intake_Trigger</targetReference>
            </connector>
            <label>Recent Depo Intake</label>
        </rules>
    </decisions>
    <decisions>
        <description>If &quot;HS Test Intake&quot; is True then uncheck, else do nothing.</description>
        <name>Test_Intake</name>
        <label>Test Intake?</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Update_Create_Intake_Trigger2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HS_Test_Intake__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_HS_Test_Intake</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>&quot;If &#39;Create Intake Trigger&#39; is True and &#39;HubSpot Campaign Name&#39; is &#39;Depo Provera&#39;, initiate an Intake. This occurs after a form submission, when HubSpot creates or updates the Party record and syncs it to Salesforce.&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>HubSpot Form | Depo | Create Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HubSpot Form | Depo | Create Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an intake with the data received from HubSpot on the Party.</description>
        <name>Etech_Create_Depo_Intake</name>
        <label>Etech - Create Depo Intake</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Test_Intake</targetReference>
        </connector>
        <inputAssignments>
            <field>Ad_ID__c</field>
            <value>
                <elementReference>$Record.HS_Ad_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_1__c</field>
            <value>
                <elementReference>$Record.HS_A1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_2__c</field>
            <value>
                <elementReference>$Record.HS_A2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_3__c</field>
            <value>
                <elementReference>$Record.HS_A3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_4__c</field>
            <value>
                <elementReference>$Record.HS_A4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_6__c</field>
            <value>
                <elementReference>$Record.HS_A6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_HubSpot__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Score__c</field>
            <value>
                <elementReference>$Record.HS_Lead_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Vendor__c</field>
            <value>
                <stringValue>a2pUJ000002ngL7YAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jornaya_Lead_ID__c</field>
            <value>
                <elementReference>$Record.HS_Jornaya_Lead_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Medium__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_1__c</field>
            <value>
                <elementReference>$Record.HS_Q1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_2__c</field>
            <value>
                <elementReference>$Record.HS_Q2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_3__c</field>
            <value>
                <elementReference>$Record.HS_Q3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_4__c</field>
            <value>
                <elementReference>$Record.HS_Q4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_6__c</field>
            <value>
                <stringValue>Form Submission Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Name__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_1__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_2__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_3__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_4__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_5__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Intake__c</field>
            <value>
                <elementReference>$Record.HS_Test_Intake__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Form_Certificate_URL__c</field>
            <value>
                <elementReference>$Record.HS_Trusted_Form_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Channel__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Click_ID__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_with_another_law_firm__c</field>
            <value>
                <elementReference>$Record.HS_Working_with_another_law_firm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brioapi__API_External_ID__c</field>
            <value>
                <elementReference>$Record.HS_API_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_Type__c</field>
            <value>
                <stringValue>a03UJ00000Nx22KYAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Email__c</field>
            <value>
                <elementReference>$Record.litify_pm__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Medium__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Source__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Term__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an intake with the data received from HubSpot on the Party.</description>
        <name>SRLG_Create_Depo_Intake</name>
        <label>SRLG - Create Depo Intake</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Test_Intake</targetReference>
        </connector>
        <inputAssignments>
            <field>Ad_ID__c</field>
            <value>
                <elementReference>$Record.HS_Ad_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_1__c</field>
            <value>
                <elementReference>$Record.HS_A1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_2__c</field>
            <value>
                <elementReference>$Record.HS_A2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_3__c</field>
            <value>
                <elementReference>$Record.HS_A3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_4__c</field>
            <value>
                <elementReference>$Record.HS_A4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_6__c</field>
            <value>
                <elementReference>$Record.HS_A6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_HubSpot__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Score__c</field>
            <value>
                <elementReference>$Record.HS_Lead_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Vendor__c</field>
            <value>
                <stringValue>a2pUJ000004d2PRYAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jornaya_Lead_ID__c</field>
            <value>
                <elementReference>$Record.HS_Jornaya_Lead_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Channel__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Medium__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Source__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_1__c</field>
            <value>
                <elementReference>$Record.HS_Q1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_2__c</field>
            <value>
                <elementReference>$Record.HS_Q2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_3__c</field>
            <value>
                <elementReference>$Record.HS_Q3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_4__c</field>
            <value>
                <elementReference>$Record.HS_Q4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_6__c</field>
            <value>
                <stringValue>Form Submission Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Name__c</field>
            <value>
                <elementReference>$Record.HS_Marketing_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_1__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_2__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_3__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_4__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Affiliate_5__c</field>
            <value>
                <elementReference>$Record.HS_Sub_Affiliate_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Intake__c</field>
            <value>
                <elementReference>$Record.HS_Test_Intake__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trusted_Form_Certificate_URL__c</field>
            <value>
                <elementReference>$Record.HS_Trusted_Form_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Channel__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Click_ID__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Click_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_with_another_law_firm__c</field>
            <value>
                <elementReference>$Record.HS_Working_with_another_law_firm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brioapi__API_External_ID__c</field>
            <value>
                <elementReference>$Record.HS_API_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_Type__c</field>
            <value>
                <stringValue>a03UJ00000Nx22KYAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Email__c</field>
            <value>
                <elementReference>$Record.litify_pm__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Medium__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Source__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__UTM_Term__c</field>
            <value>
                <elementReference>$Record.HS_UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Uncheck_HS_Test_Intake</name>
        <label>Uncheck &quot;HS Test Intake&quot;</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Create_Intake_Trigger2</targetReference>
        </connector>
        <inputAssignments>
            <field>HS_Test_Intake__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unchecks the field &quot;Create Intake Trigger&quot; on the triggering party to reset the intake creation process if a new intake needs to be created in the future for the same party.</description>
        <name>Update_Create_Intake_Trigger</name>
        <label>Update &quot;Create Intake Trigger&quot;</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Create_Intake_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unchecks the field &quot;Create Intake Trigger&quot; on the triggering party to reset the intake creation process if a new intake needs to be created in the future for the same party.</description>
        <name>Update_Create_Intake_Trigger2</name>
        <label>Update &quot;Create Intake Trigger&quot;</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Create_Intake_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recent_Depo_Intake</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Intake_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hubspot_Campaign_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Depo-Provera</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
