unpackaged/main/default/flows/Intake_AS_Create_or_Update_Injured_Party_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Injured_Party</name>
        <label>Has Injured Party?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Injured_Party</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Injured Party</defaultConnectorLabel>
        <rules>
            <name>Has_Injured_Party_Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Injured_Party__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Injured_Party</targetReference>
            </connector>
            <label>Has Injured Party Relationship</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Self_Case</name>
        <label>Is Self Case?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Loved One</defaultConnectorLabel>
        <rules>
            <name>Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSSNum</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSSNum</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Self</label>
        </rules>
    </decisions>
    <description>FOR ROUND UP AND PFAS ONLY</description>
    <environments>Default</environments>
    <interviewLabel>Intake: AS | Create or Update Injured Party Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intake: AS | Create or Update Injured Party Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Injured_Party</name>
        <label>Create Injured Party</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Intake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Is_Executor_Of_Will__c</field>
            <value>
                <elementReference>$Record.Next_of_Kin_NOK_Check__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Is_Representative_Of_Estate__c</field>
            <value>
                <elementReference>$Record.Executor_of_Estate_EOE_Check__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Death__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Date_of_Death__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estate_Has_Been_Opened__c</field>
            <value>
                <elementReference>$Record.Client_Estate_Opened__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estate_Is_Currently_Open__c</field>
            <value>
                <elementReference>$Record.Estate_Currently_Open__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Injured_Party_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.InjuredPartyGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Middle_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number__c</field>
            <value>
                <elementReference>varSSNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Suffix__c</elementReference>
            </value>
        </inputAssignments>
        <object>srlg_Injured_Party__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>We have to do this because it&#39;s an encrypted field</description>
        <name>Get_SSN</name>
        <label>Get SSN</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Injured_Party</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <outputAssignments>
            <assignToReference>varSSNum</assignToReference>
            <field>Injured_Party_s_SSN__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>litify_pm__Social_Security_Number__c</field>
            <value>
                <elementReference>varSSNum</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.litify_pm__Client__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_Self_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Injured_Party__c</field>
            <value>
                <elementReference>Create_Injured_Party</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Injured_Party</name>
        <label>Update Related Injured Party</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Is_Self_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Is_Executor_Of_Will__c</field>
            <value>
                <elementReference>$Record.Next_of_Kin_NOK_Check__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Is_Representative_Of_Estate__c</field>
            <value>
                <elementReference>$Record.Executor_of_Estate_EOE_Check__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Death__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Date_of_Death__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estate_Has_Been_Opened__c</field>
            <value>
                <elementReference>$Record.Client_Estate_Opened__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estate_Is_Currently_Open__c</field>
            <value>
                <elementReference>$Record.Estate_Currently_Open__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Injured_Party_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.InjuredPartyGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Middle_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number__c</field>
            <value>
                <elementReference>varSSNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix__c</field>
            <value>
                <elementReference>$Record.Injured_Party_Suffix__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Injured_Party__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SSN</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14) AND (15 OR 16)</filterLogic>
        <filters>
            <field>Injured_Party_First_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_Last_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_Middle_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_Suffix__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Executor_of_Estate_EOE_Check__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Next_of_Kin_NOK_Check__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_Date_of_Death__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_Birthdate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_s_SSN__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_Estate_Opened__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estate_Currently_Open__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_Marital_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InjuredPartyGender__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_Date_of_Death__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Name_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PFAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type_Name_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Round Up</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSSNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
