unpackaged/main/default/flows/Keller_Postman_Self_Claim_Send.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_File_Info_Strings_For_Processing_To_Get_Docs</name>
        <label>Extract File Info Strings For Processing To Get Docs</label>
        <locationX>374</locationX>
        <locationY>816</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_ALL_Docrio_URLs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>litify_docs__File_Info__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_All_Doc_Info_Records_For_Intake</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <outputParameters>
            <assignToReference>docFileInfoExtraction</assignToReference>
            <name>fieldValueCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Extract_File_Info_Strings_For_Processing_To_Get_Docs_For_Rep_Claims</name>
        <label>Extract File Info Strings For Processing To Get Docs For Rep Claims</label>
        <locationX>1430</locationX>
        <locationY>816</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_ALL_Docrio_URLs_For_Rep_Claims</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>litify_docs__File_Info__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_All_Doc_Info_Records_For_Intake_For_Rep_Claim</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <outputParameters>
            <assignToReference>docFileInfoExtraction</assignToReference>
            <name>fieldValueCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_ALL_Docrio_URLs</name>
        <label>Get ALL Docrio URLs</label>
        <locationX>374</locationX>
        <locationY>924</locationY>
        <actionName>SaddlerockGetDocrioDownloadUrlInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_Each_Docrio_URL_For_File_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileInfoIds</name>
            <value>
                <elementReference>docFileInfoExtraction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SaddlerockGetDocrioDownloadUrlInvocable</nameSegment>
        <outputParameters>
            <assignToReference>docrioFilesOutput</assignToReference>
            <name>data</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_ALL_Docrio_URLs_For_Rep_Claims</name>
        <label>Get ALL Docrio URLs For Rep Claims</label>
        <locationX>1430</locationX>
        <locationY>924</locationY>
        <actionName>SaddlerockGetDocrioDownloadUrlInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_Each_Docrio_URL_For_File_Info_For_Rep_Claims</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileInfoIds</name>
            <value>
                <elementReference>docFileInfoExtraction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SaddlerockGetDocrioDownloadUrlInvocable</nameSegment>
        <outputParameters>
            <assignToReference>docrioFilesOutput</assignToReference>
            <name>data</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Keller_Postman_POST_Referred_Out_Case</name>
        <label>Keller Postman POST Referred Out Case</label>
        <locationX>1430</locationX>
        <locationY>1998</locationY>
        <actionName>KellerPostmanRepCallout.Keller Postman Rep Callout</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>kellerPostmanRepClaimSend</elementReference>
            </value>
        </inputParameters>
        <nameSegment>KellerPostmanRepCallout.Keller Postman Rep Callout</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>KellerPostman_POST_Referred_Out_Case</name>
        <label>KellerPostman POST Referred Out Case</label>
        <locationX>374</locationX>
        <locationY>1998</locationY>
        <actionName>KellerPostmanCallout.KellerPostmanSend</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>kellerPostmanBeautifulBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>KellerPostmanCallout.KellerPostmanSend</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Client_Info</name>
        <label>Assign Client Info</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.address1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.address2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Date_of_birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.dateOfDeath</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.Date_of_Death__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.demographicData</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Phone_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.residenceStateAtDeath</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.client.zipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Injured_Party_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_Info_For_Rep_Claim</name>
        <label>Assign Client Info For Rep Claim</label>
        <locationX>1430</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.address1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.address2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Date_of_birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.dateOfDeath</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.Date_of_Death__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.demographicData</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Phone_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.residenceStateAtDeath</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.client.zipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Injured_Party_Info_For_Rep_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Docrio_URL_To_Single_URL_Record</name>
        <label>Assign Current Docrio URL To Single URL Record</label>
        <locationX>814</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>singleDocumentKP.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Docrio_URL_For_File_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocumentKP.url</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Docrio_URL_For_File_Info.SignedUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_File_Info_Records_For_KP_Send</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Docrio_URL_To_Single_URL_Record_For_Rep_Claims</name>
        <label>Assign Current Docrio URL To Single URL Record For Rep Claims</label>
        <locationX>1870</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>repClaimSingleDocumentKP.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Docrio_URL_For_File_Info_For_Rep_Claims.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>repClaimSingleDocumentKP.url</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Docrio_URL_For_File_Info_For_Rep_Claims.SignedUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_File_Info_Records_For_KP_Send_For_Rep_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Info_To_Document_Array_For_Send</name>
        <label>Assign Document Info To Document Array For Send</label>
        <locationX>374</locationX>
        <locationY>1890</locationY>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.documents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentArray</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KellerPostman_POST_Referred_Out_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Info_To_Document_Array_For_Send_For_Rep_Claims</name>
        <label>Assign Document Info To Document Array For Send For Rep Claims</label>
        <locationX>1430</locationX>
        <locationY>1890</locationY>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.documents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>repClaimDocumentArray</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Keller_Postman_POST_Referred_Out_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_File_Info_Fields_To_Single_KP_Document_Record</name>
        <label>Assign File Info Fields To Single KP Document Record</label>
        <locationX>902</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>singleDocumentKP.completedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocumentKP.contentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_File_Info_Records_For_KP_Send.litify_docs__File_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocumentKP.expiration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>docrioURLExpirationDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocumentKP.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_File_Info_Records_For_KP_Send.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocumentKP.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentTypeSelfClaim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>documentArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDocumentKP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Process_Each_Docrio_URL_For_File_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_File_Info_Fields_To_Single_KP_Document_Record_For_Rep_Claims</name>
        <label>Assign File Info Fields To Single KP Document Record For Rep Claims</label>
        <locationX>1958</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>repClaimSingleDocumentKP.completedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>repClaimSingleDocumentKP.contentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_File_Info_Records_For_KP_Send.litify_docs__File_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>repClaimSingleDocumentKP.expiration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>docrioURLExpirationDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>repClaimSingleDocumentKP.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_File_Info_Records_For_KP_Send_For_Rep_Claims.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>repClaimSingleDocumentKP.z0type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentTypeRepClaim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>repClaimDocumentArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>repClaimSingleDocumentKP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Process_Each_Docrio_URL_For_File_Info_For_Rep_Claims</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Go and assign client</description>
        <name>Assign_Initial_Refer_Out_Data</name>
        <label>Assign Initial Refer Out Data</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.campaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mVE9blbqnt6v</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.caseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.relationshipToClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Calling_on_behalf_of_you_or_loved_one__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.retainerSignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retainer_AgreementSigned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.sourceClaimId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.sourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saddle Rock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Client_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Go and assign client</description>
        <name>Assign_Initial_Refer_Out_Data_For_Rep_Claim</name>
        <label>Assign Initial Refer Out Data For Rep Claim</label>
        <locationX>1430</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.campaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mVE9blbqnt6v</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.caseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.relationshipToClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Signing_authority_as__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.retainerSignedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retainer_AgreementSigned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.sourceClaimId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.sourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saddle Rock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Client_Info_For_Rep_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Injured_Party_Info</name>
        <label>Assign Injured Party Info</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.address1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.address2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Date_of_birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.dateOfDeath</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Case__r.Patient_Date_of_Death__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.demographicData</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.email</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Gender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.phoneNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.residenceStateAtDeath</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Case__r.State_Death_Occurred__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Case__r.State_of_Residency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanBeautifulBody.injuredParty.zipCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Doc_Info_Records_For_Intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Injured_Party_Info_For_Rep_Claim</name>
        <label>Assign Injured Party Info For Rep Claim</label>
        <locationX>1430</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.address1</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.address2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.city</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Injured_Party_Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.dateOfDeath</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Case__r.Patient_Date_of_Death__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.demographicData</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.email</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Injured_Party_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InjuredPartyGender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Injured_Party_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.phoneNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.residenceStateAtDeath</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Case__r.State_Death_Occurred__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign_Case__r.State_of_Residency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>kellerPostmanRepClaimSend.injuredParty.zipCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Doc_Info_Records_For_Intake_For_Rep_Claim</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If yes, it ties the signed url to the file info record for processing</description>
        <name>Is_Doc_File_Info_Equal_To_Docrio_URL_Id</name>
        <label>Is Doc File Info Equal To Docrio URL Id?</label>
        <locationX>1034</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>Process_File_Info_Records_For_KP_Send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Broken Dreams</defaultConnectorLabel>
        <rules>
            <name>EQUATION_COMPLETE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>singleDocumentKP.id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Process_File_Info_Records_For_KP_Send.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_File_Info_Fields_To_Single_KP_Document_Record</targetReference>
            </connector>
            <label>EQUATION COMPLETE</label>
        </rules>
    </decisions>
    <decisions>
        <description>If yes, it ties the signed url to the file info record for processing</description>
        <name>Is_Doc_File_Info_Equal_To_Docrio_URL_Id_for_Rep_Claims</name>
        <label>Is Doc File Info Equal To Docrio URL Id for Rep Claims?</label>
        <locationX>2090</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>Process_File_Info_Records_For_KP_Send_For_Rep_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Promises, Promises</defaultConnectorLabel>
        <rules>
            <name>EQUATION_COMPLETE_FOR_REP_CLAIMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>repClaimSingleDocumentKP.id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Process_File_Info_Records_For_KP_Send_For_Rep_Claims.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_File_Info_Fields_To_Single_KP_Document_Record_For_Rep_Claims</targetReference>
            </connector>
            <label>EQUATION COMPLETE FOR REP CLAIMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Self_or_Rep_claim</name>
        <label>Is this a Self or Rep claim?</label>
        <locationX>1034</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NO REPRESENTATION</defaultConnectorLabel>
        <rules>
            <name>Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Refer_Out_Data</targetReference>
            </connector>
            <label>Self</label>
        </rules>
        <rules>
            <name>Rep_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loved one</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Refer_Out_Data_For_Rep_Claim</targetReference>
            </connector>
            <label>Rep Claim</label>
        </rules>
    </decisions>
    <description>2024-08-27: Updating the flow to make it more performant and do less call out.
Send a self-claim to Keller Postman</description>
    <environments>Default</environments>
    <formulas>
        <name>docrioURLExpirationDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (4.5/1440)</expression>
    </formulas>
    <formulas>
        <name>documentTypeRepClaim</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Process_File_Info_Records_For_KP_Send_For_Rep_Claims.Name}, &quot;Retainer&quot;), &quot;Retainer&quot;,
IF(CONTAINS({!Process_File_Info_Records_For_KP_Send_For_Rep_Claims.Name}, &quot;retainer&quot;), &quot;Retainer&quot;,
IF(CONTAINS({!Process_File_Info_Records_For_KP_Send_For_Rep_Claims.Name}, &quot;Intake&quot;), &quot;IntakePacket&quot;,
IF(CONTAINS({!Process_File_Info_Records_For_KP_Send_For_Rep_Claims.Name}, &quot;intake&quot;), &quot;IntakePacket&quot;,
&quot;Unknown&quot;))))</expression>
    </formulas>
    <formulas>
        <name>documentTypeSelfClaim</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Process_File_Info_Records_For_KP_Send.Name}, &quot;Retainer&quot;), &quot;Retainer&quot;,
IF(CONTAINS({!Process_File_Info_Records_For_KP_Send.Name}, &quot;retainer&quot;), &quot;Retainer&quot;,
IF(CONTAINS({!Process_File_Info_Records_For_KP_Send.Name}, &quot;Intake&quot;), &quot;IntakePacket&quot;,
IF(CONTAINS({!Process_File_Info_Records_For_KP_Send.Name}, &quot;intake&quot;), &quot;IntakePacket&quot;,
&quot;Unknown&quot;))))</expression>
    </formulas>
    <formulas>
        <name>expirationDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (4.5/1440)</expression>
    </formulas>
    <interviewLabel>Keller-Postman Self Claim Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Keller-Postman Self Claim Send</label>
    <loops>
        <name>Process_Each_Docrio_URL_For_File_Info</name>
        <label>Process Each Docrio URL For File Info</label>
        <locationX>374</locationX>
        <locationY>1032</locationY>
        <collectionReference>docrioFilesOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Docrio_URL_To_Single_URL_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Document_Info_To_Document_Array_For_Send</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Each_Docrio_URL_For_File_Info_For_Rep_Claims</name>
        <label>Process Each Docrio URL For File Info For Rep Claims</label>
        <locationX>1430</locationX>
        <locationY>1032</locationY>
        <collectionReference>docrioFilesOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Docrio_URL_To_Single_URL_Record_For_Rep_Claims</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Document_Info_To_Document_Array_For_Send_For_Rep_Claims</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_File_Info_Records_For_KP_Send</name>
        <label>Process File Info Records For KP Send</label>
        <locationX>814</locationX>
        <locationY>1248</locationY>
        <collectionReference>Get_All_Doc_Info_Records_For_Intake</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Doc_File_Info_Equal_To_Docrio_URL_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Each_Docrio_URL_For_File_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_File_Info_Records_For_KP_Send_For_Rep_Claims</name>
        <label>Process File Info Records For KP Send For Rep Claims</label>
        <locationX>1870</locationX>
        <locationY>1248</locationY>
        <collectionReference>Get_All_Doc_Info_Records_For_Intake_For_Rep_Claim</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Doc_File_Info_Equal_To_Docrio_URL_Id_for_Rep_Claims</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Each_Docrio_URL_For_File_Info_For_Rep_Claims</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Doc_Info_Records_For_Intake</name>
        <label>Get All Doc Info Records For Intake</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_File_Info_Strings_For_Processing_To_Get_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Doc_Info_Records_For_Intake_For_Rep_Claim</name>
        <label>Get All Doc Info Records For Intake For Rep Claim</label>
        <locationX>1430</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_File_Info_Strings_For_Processing_To_Get_Docs_For_Rep_Claims</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>litify_docs__File_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Partner_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Keller Postman, LLC</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_this_a_Self_or_Rep_claim</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>docFileInfoExtraction</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docrioFilesOutput</name>
        <apexClass>SaddlerockDocrioSignedUrlModel</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentArray</name>
        <apexClass>ExternalService__KellerPostmanCallout_KellerPostmanSend_IN_body_documents</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This body is as beautiful as it can get</description>
        <name>kellerPostmanBeautifulBody</name>
        <apexClass>ExternalService__KellerPostmanCallout_KellerPostmanSend_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kellerPostmanRepClaimSend</name>
        <apexClass>ExternalService__KellerPostmanRepCallout_Kellerx20Postmanx20Repx20Callout_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repClaimDocumentArray</name>
        <apexClass>ExternalService__KellerPostmanRepCallout_Kellerx20Postmanx20Repx20Callout_IN_body_documents</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repClaimSingleDocumentKP</name>
        <apexClass>ExternalService__KellerPostmanRepCallout_Kellerx20Postmanx20Repx20Callout_IN_body_documents</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleDocumentKP</name>
        <apexClass>ExternalService__KellerPostmanCallout_KellerPostmanSend_IN_body_documents</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
