unpackaged/main/default/flows/LoganVanessa_Training_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Asana_task_Action_1</name>
        <label>Create Asana task Action 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>AsanaPublic__AsanaCustomTaskAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>addObjectDetails</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>Intake Updated From Imported Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>project</name>
            <value>
                <elementReference>var_AsanaProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AsanaPublic__AsanaCustomTaskAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Changed_From_Imported</name>
        <label>Check If Changed From Imported</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No, Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed_From_Imported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Imported</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asana_task_Action_1</targetReference>
            </connector>
            <label>Yes, Changed From Imported</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LoganVanessa Training Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoganVanessa Training - Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Changed_From_Imported</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0CUJ00002oiWWB2A2</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Project Id of the PD Current Sprint Project in Asana</description>
        <name>var_AsanaProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1207615789396407</stringValue>
        </value>
    </variables>
</Flow>
