unpackaged/main/default/flows/Questionnaire_Question_BS_Set_Default_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Call_Script</name>
        <label>Assign Call Script</label>
        <locationX>248</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Call_Script__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Question__r.Call_Script__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Sequence_Number</name>
        <label>Set Sequence Number</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sequence_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSequenceNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Call_Script</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sequence_Number_1</name>
        <label>Set Sequence Number</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sequence_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Call_Script</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Parent</name>
        <label>Has Parent?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Child_Sequence_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent</defaultConnectorLabel>
        <rules>
            <name>No_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Questionnaire_Question__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Sequence_Number</targetReference>
            </connector>
            <label>No Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Sequence</name>
        <label>Needs Sequence #?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Call_Script</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Needed</defaultConnectorLabel>
        <rules>
            <name>Needs_Sequence_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Parent</targetReference>
            </connector>
            <label>Needs Sequence Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Sequence_Number_Found</name>
        <label>Previous Sequence Number Found?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_Sequence_Number_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrevSequenceNumber</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Sequence_Number</targetReference>
            </connector>
            <label>Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Call_Script</name>
        <label>Update Call Script?</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Do Not Set</defaultConnectorLabel>
        <rules>
            <name>Set_Call_Script_From_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Script__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Question__r.Call_Script__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Call_Script</targetReference>
            </connector>
            <label>Set Call Script From Question</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextSequenceNumber</name>
        <dataType>Number</dataType>
        <expression>{!NextSequenceNumber} + 5</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Questionnaire Question: BS | Set Default Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Questionnaire Question: BS | Set Default Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Child_Sequence_Number</name>
        <label>Get Previous Child Sequence Number</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Sequence_Number_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Questionnaire_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Questionnaire_Question__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sequence_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Questionnaire_Question__c</object>
        <outputAssignments>
            <assignToReference>PrevSequenceNumber</assignToReference>
            <field>Sequence_Order__c</field>
        </outputAssignments>
        <sortField>Sequence_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Sequence_Number</name>
        <label>Get Previous Sequence Number</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Sequence_Number_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Questionnaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Questionnaire__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Questionnaire_Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Questionnaire_Section__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sequence_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Questionnaire_Question__c</object>
        <outputAssignments>
            <assignToReference>PrevSequenceNumber</assignToReference>
            <field>Sequence_Order__c</field>
        </outputAssignments>
        <sortField>Sequence_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Needs_Sequence</targetReference>
        </connector>
        <object>Questionnaire_Question__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PrevSequenceNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
