unpackaged/main/default/flows/Questionnaire_AL_Build_Intake_s_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Is the Intake is missing a Case Type we can&#39;t launch any Questionnaire</description>
        <name>Has_Case_Type</name>
        <label>Has Case Type?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Case Type it does not</defaultConnectorLabel>
        <rules>
            <name>Case_Type_it_has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Intake.litify_pm__Case_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Questionnaire</targetReference>
            </connector>
            <label>Case Type it has</label>
        </rules>
    </decisions>
    <description>Creates the Answer Records that is used to show the questions and store answers on for an Intake.</description>
    <environments>Default</environments>
    <interviewLabel>Questionnaire: AL | Build Intake&#39;s Questionnaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Questionnaire: AL | Build Intake&#39;s Questionnaire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Answer_Records</name>
        <label>Create Answer Records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>Map_Answers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Questionnaire</name>
        <label>Get Questionnaire</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Questionnaire_s_Questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Intake.litify_pm__Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isAvailable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Questionnaire__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>External_Access__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Questionnaire_s_Questions</name>
        <label>Get Questionnaire&#39;s Questions</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Questionnaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Questionnaire.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_Access__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>isExternal</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questionnaire_Question__c</object>
        <sortField>Section_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Case_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Map_Answers</name>
        <label>Map Answers</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Answer_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Answer__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Section_Number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Questionnaire_s_Questions[$EachItem].Section_Number__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Section_Label__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Questionnaire_s_Questions[$EachItem].Section_Label__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Questionnaire_Question__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Questionnaire_s_Questions[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sequence_Number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Questionnaire_s_Questions[$EachItem].Sequence_Order__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Intake__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Intake.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Question_Label__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Questionnaire_s_Questions[$EachItem].Question_Label__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Intake</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
    <variables>
        <name>isExternal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
