unpackaged/main/default/flows/Questionnaire_Question_AS_Build_Child_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Created_From_Template</name>
        <label>Created From Template?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Creation</defaultConnectorLabel>
        <rules>
            <name>Template_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Created_From_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Questionnaire_Questions</targetReference>
            </connector>
            <label>Template Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questionnaire_Questions_Found</name>
        <label>Questionnaire Questions Found?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>QQ_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Questionnaire_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_QQ</targetReference>
            </connector>
            <label>QQ Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questions_Found</name>
        <label>Questions Found?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Q_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Q</targetReference>
            </connector>
            <label>Q Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Questionnaire Question: AS | Build Child Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Questionnaire Question: AS | Build Child Questions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_QQ_From_Q</name>
        <label>Create QQ From Q</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputReference>Build_Q</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_QQ_From_Template</name>
        <label>Create QQ From Template</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>Build_QQ</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Questionnaire_Questions</name>
        <label>Get Child Questionnaire Questions</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questionnaire_Questions_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Questionnaire_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Created_From_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questionnaire_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Questions</name>
        <label>Get Child Questions</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questions_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Question__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_From_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Questionnaire_Question__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Questionnaire_Question__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Build_Q</name>
        <label>Build Q</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_QQ_From_Q</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Questionnaire_Question__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Active__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questions[$EachItem].Active__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>External_Access__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questions[$EachItem].External_Access__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Question__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questions[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Parent_Questionnaire_Question__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Questionnaire__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Questionnaire__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Questionnaire_Section__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Questionnaire_Section__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Call_Script__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questions[$EachItem].Call_Script__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Build_QQ</name>
        <label>Build QQ</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_QQ_From_Template</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Questionnaire_Question__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Active__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Active__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Created_From_Template__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>External_Access__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].External_Access__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Help_Text_Override__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Help_Text_Override__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Question__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Question__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Question_Label_Override__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Question_Label_Override__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Required__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Required__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Parent_Questionnaire_Question__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Questionnaire_Section__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Questionnaire_Section__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Questionnaire__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Questionnaire__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sequence_Order__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Sequence_Order__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Call_Script__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Call_Script__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Override_Call_Script__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Questionnaire_Questions[$EachItem].Override_Call_Script__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
