unpackaged/main/default/flows/Referral_to_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>cm</name>
        <label>cm</label>
        <locationX>282</locationX>
        <locationY>1046</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>Referral_AT_2_Notification_CM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>m</name>
        <label>m</label>
        <locationX>916</locationX>
        <locationY>1083</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>Referral_AT_2_Notification_M</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>mt</name>
        <label>mt</label>
        <locationX>638</locationX>
        <locationY>1069</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>Referral_AT_2_Notification_MT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>nib2</name>
        <label>nib</label>
        <locationX>1214</locationX>
        <locationY>1067</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>Referral_AT_2_Notification_NIB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>td</name>
        <label>td</label>
        <locationX>1699</locationX>
        <locationY>1073</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>Referral_AT_2_Notification_TD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>te</name>
        <label>te</label>
        <locationX>1459</locationX>
        <locationY>1069</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>Referral_AT_2_Notification_TE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Concussion_Media</name>
        <label>Concussion Media</label>
        <locationX>269</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Mass_Tort</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqFIAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cm</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mass_Tort</name>
        <label>Mass Tort</label>
        <locationX>629</locationX>
        <locationY>578</locationY>
        <defaultConnector>
            <targetReference>Mischeia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqBIAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mischeia</name>
        <label>Mischeia</label>
        <locationX>900</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>NIB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002QDUIA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>m</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NIB</name>
        <label>NIB</label>
        <locationX>1202</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Tort_Experts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KpyIAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nib2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tort_Experts</name>
        <label>Tort Experts</label>
        <locationX>1442</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>Transport_Digital</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KpxIAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>te</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_Digital</name>
        <label>Transport Digital</label>
        <locationX>1686</locationX>
        <locationY>639</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002QDKIA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>td</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Referral to Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral to Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Email</name>
        <label>Log Email</label>
        <locationX>289</locationX>
        <locationY>1319</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Referral_AT_2_Notification_CM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0</name>
        <label>Log Email</label>
        <locationX>644</locationX>
        <locationY>1361</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Referral_AT_2_Notification_MT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0</name>
        <label>Log Email</label>
        <locationX>917</locationX>
        <locationY>1399</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Referral_AT_2_Notification_M</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0</name>
        <label>Log Email</label>
        <locationX>1206</locationX>
        <locationY>1396</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Referral_AT_2_Notification_NIB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>1431</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Referral_AT_2_Notification_TE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>1691</locationX>
        <locationY>1377</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Referral_AT_2_Notification_TD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Owner_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>693</locationX>
        <locationY>1</locationY>
        <connector>
            <targetReference>Concussion_Media</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Referral_AT_2_Notification_CM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Michael and Greg,
&lt;br&gt;&lt;br&gt;
Please be advised that we have accepted {!$Record.litify_pm__First_Name__c} for a {!$Record.Case_Type_Name_del__c} case and referred them to our partnering firm outside of our core criteria.
&lt;br&gt;&lt;br&gt;
Contact Information:
{!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c}
{!$Record.litify_pm__Phone__c}
{!$Record.FX_Client_Email__c}
DOB: {!$Record.litify_pm__Client__r.Date_of_Birth_Text__c}
&lt;br&gt;&lt;br&gt;
Best regards,&lt;br&gt;
Saddle Rock Legal Group &lt;br&gt;
(888) 327-1194</text>
    </textTemplates>
    <textTemplates>
        <name>Referral_AT_2_Notification_M</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Michael,
&lt;br&gt;&lt;br&gt;
Please be advised that we have accepted {!$Record.litify_pm__First_Name__c} for a {!$Record.Case_Type_Name_del__c} case and referred them to our partnering firm outside of our core criteria.
&lt;br&gt;&lt;br&gt;
Contact Information:
{!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c}
{!$Record.litify_pm__Phone__c}
{!$Record.FX_Client_Email__c}
DOB: {!$Record.litify_pm__Client__r.Date_of_Birth_Text__c}
&lt;br&gt;&lt;br&gt;
Best regards,&lt;br&gt;
Saddle Rock Legal Group &lt;br&gt;
(888) 327-1194</text>
    </textTemplates>
    <textTemplates>
        <name>Referral_AT_2_Notification_MT</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Kelly, Sean, Hannah, and Tim,
&lt;br&gt;&lt;br&gt;
Please be advised that we have accepted {!$Record.litify_pm__First_Name__c} for a {!$Record.Case_Type_Name_del__c} case and referred them to our partnering firm outside of our core criteria.
&lt;br&gt;&lt;br&gt;
Contact Information:
{!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c}
{!$Record.litify_pm__Phone__c}
{!$Record.FX_Client_Email__c}
DOB: {!$Record.litify_pm__Client__r.Date_of_Birth_Text__c}
&lt;br&gt;&lt;br&gt;
Best regards,&lt;br&gt;
Saddle Rock Legal Group &lt;br&gt;
(888) 327-1194</text>
    </textTemplates>
    <textTemplates>
        <name>Referral_AT_2_Notification_NIB</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Coryn,
&lt;br&gt;&lt;br&gt;
Please be advised that we have accepted {!$Record.litify_pm__First_Name__c} for a {!$Record.Case_Type_Name_del__c} case and referred them to our partnering firm outside of our core criteria.
&lt;br&gt;&lt;br&gt;
Contact Information:
{!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c}
{!$Record.litify_pm__Phone__c}
{!$Record.FX_Client_Email__c}
DOB: {!$Record.litify_pm__Client__r.Date_of_Birth_Text__c}
&lt;br&gt;&lt;br&gt;
Best regards,&lt;br&gt;
Saddle Rock Legal Group &lt;br&gt;
(888) 327-1194</text>
    </textTemplates>
    <textTemplates>
        <name>Referral_AT_2_Notification_TD</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Holden and Zack,
&lt;br&gt;&lt;br&gt;
Please be advised that we have accepted {!$Record.litify_pm__First_Name__c} for a {!$Record.Case_Type_Name_del__c} case and referred them to our partnering firm outside of our core criteria.
&lt;br&gt;&lt;br&gt;
Contact Information:
{!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c}
{!$Record.litify_pm__Phone__c}
{!$Record.FX_Client_Email__c}
DOB: {!$Record.litify_pm__Client__r.Date_of_Birth_Text__c}
&lt;br&gt;&lt;br&gt;
Best regards,&lt;br&gt;
Saddle Rock Legal Group &lt;br&gt;
(888) 327-1194</text>
    </textTemplates>
    <textTemplates>
        <name>Referral_AT_2_Notification_TE</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Janice and Client Services,
&lt;br&gt;&lt;br&gt;
Please be advised that we have accepted {!$Record.litify_pm__First_Name__c} for a {!$Record.Case_Type_Name_del__c} case and referred them to our partnering firm outside of our core criteria.
&lt;br&gt;&lt;br&gt;
Contact Information:
{!$Record.litify_pm__First_Name__c} {!$Record.litify_pm__Last_Name__c}
{!$Record.litify_pm__Phone__c}
{!$Record.FX_Client_Email__c}
DOB: {!$Record.litify_pm__Client__r.Date_of_Birth_Text__c}
&lt;br&gt;&lt;br&gt;
Best regards,&lt;br&gt;
Saddle Rock Legal Group &lt;br&gt;
(888) 327-1194</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.litify_pm__First_Name__c}: Accepted Outside of Core Criteria</text>
    </textTemplates>
</Flow>
