unpackaged/main/default/flows/SRLG_PFAS_Injury_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Extract_Injury_Ids_to_Strings</name>
        <label>Extract Injury Ids to Strings</label>
        <locationX>534</locationX>
        <locationY>2330</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>srlg_Injury__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Updated_Injury_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recordIds</assignToReference>
            <name>fieldValueString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Id_To_Collection</name>
        <label>Add Id To Collection</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>InjuryRecordsIds2Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Removed.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Removed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Injuries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Injury</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Variables</name>
        <label>Assign Record Variables</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Injury.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.TypeAndSubType.picklist2Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.InjurySeverity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Diagnosis_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.InjuryDiagnosisDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Residence_State_At_Diagnosis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.InjuryResidenceStateAtDiagnosis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Treated_With_Surgery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.TreatedWithSurgery1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Surgery_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.SurgeryDetails1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Chemotherapy_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.ChemotherapyDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Treated_With_Radiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.TreatedWithRadiation1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Radiation_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.RadiationDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Treated_With_Immunotherapy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.TreatedWithImmunotherapy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Remission_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.RemissionCheck</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.InjuryNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.TypeAndSubType.picklist3Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.State_Of_Diagnosis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.InjuryStateOfDiagnosis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Remission_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.RemissionStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Years_In_Remission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.YearsInRemission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Recurrence_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.Have_there_been_any_recurrences</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Last_Date_of_Recurrence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.If_so_what_is_the_last_date_of_reccurrence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Treated_With_Chemotherapy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.TreatedWithChemotherapy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Injury.Case_Type_Routing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Intakes.litify_pm__Case_Type__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_The_User_Sure</name>
        <label>Was The User Sure?</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Injury_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>They_Said_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Injury_Records</targetReference>
            </connector>
            <label>They Said Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Records_Removed</name>
        <label>Were Records Removed</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Injury_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Removed</defaultConnectorLabel>
        <rules>
            <name>Records_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Repeater.RemovedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SRLG_Flow_Related_Record_Deletion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Removed</targetReference>
            </connector>
            <label>Records Removed</label>
        </rules>
    </decisions>
    <description>6/26 AV - Added a dynamic script for the agents to note the reason behind a different residence and dx state per Ops and QC&#39;s request.
6/23 AV - Added script for if there is more than one dx.
6/19 AV - Removed the &quot;Kidney transplant prior to dx&quot; question from the injury flow as D&amp;C requested it to be in the &quot;Additional Case Detail&quot; object instead.
6/13 AV- Fixed picklist that was mapped to the wrong field.
6/12 AV - Added clarification to dx state question and changed the button from &quot;Finish&quot; to &quot;Done&quot;.
6/11 AV- Moved question, &quot;When did you receive your diagnosis?&quot; up because it should be placed before the recurrence questions.
6/9 AV - When looking into the questionnaire output. Noticed, the deprecated &quot;subtype&quot; field was being mapped here. Fixed that mapping.
6/5 AV - Fixed comp visibility
6/5/ AV - Added new kidney transplant question.
6/2 AV - Fixed &quot;Multi-picklist&quot; label on subtype.
6/2 AV - Remapped subtype.
5/28 RE - Making the isTreated fields required. 
5/27 AV - Fixed a filter that was not working for a question.
5/27 AV - Added RU tweaks and visibility changes needed.
5/21 AV - Accidentally added the wrong field in the assignment. Just fixed that and added the correct remission years field.
5/21 AV - Added remission dates per QC&#39;s request.
5/12 LP Updated detail question dependancies
5/12 VP Added multi picklist help text 
Injury Questions to collect answers for Object: srlg_Injury__c
5/14 Removed script placeholder and added new dependent picklist&#39;s component.</description>
    <dynamicChoiceSets>
        <name>InjuryMultiSubTypeChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Sub_Type__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjuryResidenceStateAtDiangosis1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Residence_State_At_Diagnosis__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjurySeveritys</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Severity__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjuryStatesOfDiangnosis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>State_Of_Diagnosis__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjurySubTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SubType__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjuryTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>KidneyTransplantChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Kidney_Trans_Prior_To_Dx__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecurrenceCheckValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Recurrence_Check__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RemissionCheck1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Remission_Check__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithChemotherapy1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Chemotherapy__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithChemotherapy2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Chemotherapy__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithImmunotherapy1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Immunotherapy__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithRadiation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Radiation__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithSurgery</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Surgery__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithSurgery2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Surgery__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SRLG | PFAS | Injury Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Injury Questions</label>
    <loops>
        <name>Loop_Removed</name>
        <label>Loop Removed</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <collectionReference>Repeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Removed_Injury_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Repeater</name>
        <label>Loop Repeater</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <collectionReference>Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upsert_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Upsert_Records</name>
        <label>Upsert Records</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Were_Records_Removed</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Injuries</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Injury_Records</name>
        <label>Delete Injury Records</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Get_Updated_Injury_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>InjuryRecordsIds2Delete</elementReference>
            </value>
        </filters>
        <object>srlg_Injury__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Injury_Records</name>
        <label>Get Injury Records</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1_Injury</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_1_Injury</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Injury__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intakes</name>
        <label>Get Intake</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Injury_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Removed_Injury_Records</name>
        <label>Get Removed Injury Records</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_You_Sure_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>InjuryRecordsIds2Delete</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Injury__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Injury_Records</name>
        <label>Get Updated Injury Records</label>
        <locationX>534</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Injury_Ids_to_Strings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Injury__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Are_You_Sure_Screen</name>
        <label>Are You Sure Screen</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_The_User_Sure</targetReference>
        </connector>
        <fields>
            <name>DeleteRecordsDataTable1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>srlg_Injury__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Records Being Deleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Removed_Injury_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-1505&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SubType__c&quot;,&quot;guid&quot;:&quot;column-b73a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;SubType&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Severity__c&quot;,&quot;guid&quot;:&quot;column-be71&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Severity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Diagnosis_Date__c&quot;,&quot;guid&quot;:&quot;column-b74d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Diagnosis Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:delete&quot;},{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:close&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Hey there, you tried to delete something you weren&#39;t supposed to. How ironic.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1_Injury</name>
        <label>Screen 1 Injury</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Repeater</targetReference>
        </connector>
        <fields>
            <name>Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>TypeAndSubType</name>
                <extensionName>c:dependentPicklistFlowComponent</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>picklist1Field</name>
                    <value>
                        <stringValue>Case_Type_Routing__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>picklist2Field</name>
                    <value>
                        <stringValue>Type__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>srlg_Injury__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>picklist1Value</name>
                    <value>
                        <elementReference>Get_Intakes.litify_pm__Case_Type__r.Name</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>picklist2Label</name>
                    <value>
                        <stringValue>What illness were you formally diagnosed with by a medical professional?</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>picklist3Label</name>
                    <value>
                        <stringValue>Is there a subtype associated with this injury (e.g., Goiter for Thyroid Disease)? </stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>picklist3Field</name>
                    <value>
                        <stringValue>Sub_Type__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>picklist2Value</name>
                    <value>
                        <elementReference>Get_Injury_Records[$EachItem].Type__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>picklist3Value</name>
                    <value>
                        <elementReference>Get_Injury_Records[$EachItem].Sub_Type__c</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>MultipleDiagnosesScript</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;**ONLY READ IF THERE&#39;S MORE THAN 1 DX**&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;&quot;Thank you for sharing that with me. Just to clarify for our records, do you know if the diagnosis of [qualifying cancer] was separate from the [disqualifying cancer]—meaning it did not spread from or metastasize from the [disqualifying cancer] and was an independent diagnosis?&quot;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Note:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; If the disqualifying cancer DID spread to the qualifying cancer (and the diagnosis is not independent), this would be a disqualifier. Please turn the file down and add a note.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].TypeAndSubType.picklist2Value</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].TypeAndSubType.picklist2Value</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>None of the Above</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>InjuryDiagnosisDate</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Diagnosis_Date__c</elementReference>
                </defaultValue>
                <fieldText>When did you receive your diagnosis?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Have_there_been_any_recurrences</name>
                <choiceReferences>RecurrenceCheckValues</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Recurrence_Check__c</elementReference>
                </defaultValue>
                <fieldText>Have there been any recurrences?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Intakes.litify_pm__Case_Type__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Round Up</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>If_so_what_is_the_last_date_of_reccurrence</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Last_Date_of_Recurrence__c</elementReference>
                </defaultValue>
                <fieldText>If so, what is the last date of reccurrence?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Intakes.litify_pm__Case_Type__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Round Up</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].Have_there_been_any_recurrences</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Yes</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>InjurySeverity</name>
                <choiceReferences>InjurySeveritys</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Severity__c</elementReference>
                </defaultValue>
                <fieldText>What was the stage at the time of diagnosis?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>InjuryStateOfDiagnosis</name>
                <choiceReferences>InjuryStatesOfDiangnosis</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].State_Of_Diagnosis__c</elementReference>
                </defaultValue>
                <fieldText>In which state were you diagnosed? (Could be different from residence state. For example, client saw an out-of-state specialist, snowbirds)</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>InjuryResidenceStateAtDiagnosis</name>
                <choiceReferences>InjuryResidenceStateAtDiangosis1</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Residence_State_At_Diagnosis__c</elementReference>
                </defaultValue>
                <fieldText>In which state were you living at the time of diagnosis?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>DifferentResidentAndDxState</name>
                <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;﻿If you selected a diagnosis state different from the client’s residence state. Please ask why and briefly note the reason in the notes text field &lt;em&gt;(NOTE: It&#39;s the last question in this screen)&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Intakes.litify_pm__Case_Type__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>PFAS</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].InjuryResidenceStateAtDiagnosis</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].InjuryStateOfDiagnosis</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>RemissionCheck</name>
                <choiceReferences>RemissionCheck1</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Remission_Check__c</elementReference>
                </defaultValue>
                <fieldText>Have you been in remission?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>RemissionStartDate</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Remission_Start_Date__c</elementReference>
                </defaultValue>
                <fieldText>What was your remission start date?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].RemissionCheck</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Yes</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>YearsInRemission</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Years_In_Remission__c</elementReference>
                </defaultValue>
                <fieldText>How many years have you been in remission?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].RemissionCheck</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Yes</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>TreatedWithSurgery1</name>
                <choiceReferences>TreatedWithSurgery2</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Treated_With_Surgery__c</elementReference>
                </defaultValue>
                <fieldText>Were you treated with surgery?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>SurgeryDetails1</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Surgery_Details__c</elementReference>
                </defaultValue>
                <fieldText>Please provide any other notes regarding your surgery.</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].TreatedWithSurgery1</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Yes</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>TreatedWithChemotherapy</name>
                <choiceReferences>TreatedWithChemotherapy2</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Treated_With_Chemotherapy__c</elementReference>
                </defaultValue>
                <fieldText>Were you treated with chemotherapy?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>ChemotherapyDetails</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Chemotherapy_Details__c</elementReference>
                </defaultValue>
                <fieldText>Please provide any other notes regarding your chemotherapy treatment.</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].TreatedWithChemotherapy</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Yes</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>TreatedWithRadiation1</name>
                <choiceReferences>TreatedWithRadiation</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Treated_With_Radiation__c</elementReference>
                </defaultValue>
                <fieldText>Were you treated with radiation therapy?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>RadiationDetails</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Radiation_Details__c</elementReference>
                </defaultValue>
                <fieldText>Please provide any other notes regarding your radiation treatment.</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>1</conditionLogic>
                    <conditions>
                        <leftValueReference>Repeater.AllItems[$EachItem].TreatedWithRadiation1</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Yes</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>TreatedWithImmunotherapy</name>
                <choiceReferences>TreatedWithImmunotherapy1</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Injury_Records[$EachItem].Treated_With_Immunotherapy__c</elementReference>
                </defaultValue>
                <fieldText>Were you treated with immunotherapy?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Intakes.litify_pm__Case_Type__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>PFAS</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>InjuryNotes</name>
                <defaultValue>
                    <stringValue>{!Get_Injury_Records[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Is there any additional information or notes regarding this injury?</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Intakes.litify_pm__Case_Type__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>PFAS</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Injury_Records</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intakes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Injuries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Injury__c</objectType>
    </variables>
    <variables>
        <name>Injury</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Injury__c</objectType>
    </variables>
    <variables>
        <name>InjuryRecordsIds2Delete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
