unpackaged/main/default/flows/SRLG_Create_or_Update_Address_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Extract_Ids_to_String_ClientAddresses</name>
        <label>Extract Ids to String</label>
        <locationX>270</locationX>
        <locationY>2846</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>srlg_Address__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Updated_Client_Address_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recordIds</assignToReference>
            <name>fieldValueString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Extract_Ids_to_String_IPAddresses</name>
        <label>Extract Ids to String</label>
        <locationX>534</locationX>
        <locationY>2846</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>srlg_Address__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Updated_IP_Address_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recordIds</assignToReference>
            <name>fieldValueString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Id_To_Collection</name>
        <label>Add Id To Collection</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>AddressIds2Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Removed.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Removed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>622</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>UpsertAddressRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client_Lookup</name>
        <label>Assign Client Lookup</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varAddress.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Intakes.litify_pm__Client__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Client_Address_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IP_Loopkup</name>
        <label>Assign IP Loopkup</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varAddress.Injured_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Intakes.Injured_Party__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IP_Address_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Variables</name>
        <label>Assign Record Variables</label>
        <locationX>622</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varAddress.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Client_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.AddressFields.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Client_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.AddressFields.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Client_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.AddressFields.provinceCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Client_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.AddressFields.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Client_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.AddressFields.countryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Is_Mailing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.Is_Mailing_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Is_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.Is_the_address_provided_your_home_of_residence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddress.Primary_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Collection_ClientAddresses</name>
        <label>Assign To Collection</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AddressRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Client_Address_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Collection_IPAddresses</name>
        <label>Assign To Collection</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AddressRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IP_Address_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Input_Type</name>
        <label>Input Type</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Lookup</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Injured_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Injured Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IP_Loopkup</targetReference>
            </connector>
            <label>Injured Party</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_Type_FinalGetCall</name>
        <label>Input Type</label>
        <locationX>534</locationX>
        <locationY>2630</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Client_Address_Records</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Injured_Party_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Injured Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_IP_Address_Records</targetReference>
            </connector>
            <label>Injured Party</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_The_User_Sure</name>
        <label>Was The User Sure?</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Input_Type_FinalGetCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>They_Said_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Addresses</targetReference>
            </connector>
            <label>They Said Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Records_Removed</name>
        <label>Were Records Removed</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Input_Type_FinalGetCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Removed</defaultConnectorLabel>
        <rules>
            <name>Records_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressRepeater.RemovedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Removed</targetReference>
            </connector>
            <label>Records Removed</label>
        </rules>
    </decisions>
    <description>6/13- AV - Added address script for 2nd line and changed the button to &quot;Done&quot;.
6/2 LP - removed visibility for is residence, is mailing, and is primary address questions so it will show for both IP and Client.
5/16 AV - Added missing &quot;Display&quot; fields so that information will display when coming back to the flow. And removed script placeholder since we don&#39;t currently have a script for this flow.
5/14 RE - Changed from Client Record to &quot;Client&quot; string. 
5/13 LP Added visibility to Primary address check box to only show for Client Input type.
5/12 LP Added New field Check Box to indicate &quot;Primary Address&quot;.
For Client and Injured Party:
The subflow ensures only one address exists. It will update an existing address if found; otherwise, it creates a new one.

For Exposure:
The subflow allows multiple address records. Each invocation of the flow will create a new related address without checking for duplicates.

Allowed for any address since it appears that restricting to USA was causing an issue.</description>
    <dynamicChoiceSets>
        <name>InjuryResidenceStateAtDiangosis1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Residence_State_At_Diagnosis__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjurySeveritys</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Severity__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjuryStatesOfDiangnosis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Residence_State_Of_Diagnosis__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjurySubTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SubType__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjuryTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MailingAddress</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Is_Mailing__c</picklistField>
        <picklistObject>srlg_Address__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RemissionCheck1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Remission_Check__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResidenceChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Is_Residence__c</picklistField>
        <picklistObject>srlg_Address__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>States</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>State__c</picklistField>
        <picklistObject>srlg_Address__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithChemotherapy1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Chemotherapy__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithChemotherapy2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Chemotherapy__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithImmunotherapy1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Immunotherapy__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithRadiation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Radiation__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithSurgery</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Surgery__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TreatedWithSurgery2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treated_With_Surgery__c</picklistField>
        <picklistObject>srlg_Injury__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>isPrimary</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Loop_Repeater.primaryaddress} != true, false, true)</expression>
    </formulas>
    <interviewLabel>SRLG | Address | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Create or Update Address Subflow</label>
    <loops>
        <name>Loop_Removed</name>
        <label>Loop Removed</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <collectionReference>AddressRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Removed_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Repeater</name>
        <label>Loop Repeater</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <collectionReference>AddressRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upsert_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Upsert_Records</name>
        <label>Upsert Records</label>
        <locationX>534</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Were_Records_Removed</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>UpsertAddressRecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Addresses</name>
        <label>Delete Addresses</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Input_Type_FinalGetCall</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Removed_Addresses</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Client_Address_Records</name>
        <label>Get Client Address Records</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_Collection_ClientAddresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intakes.litify_pm__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intakes</name>
        <label>Get Intake</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IP_Address_Records</name>
        <label>Get IP Address Records</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_To_Collection_IPAddresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Injured_Party__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intakes.Injured_Party__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Removed_Addresses</name>
        <label>Get Removed Addresses</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_You_Sure_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AddressIds2Delete</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Client_Address_Records</name>
        <label>Get Updated Client Address Records</label>
        <locationX>270</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Ids_to_String_ClientAddresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intakes.litify_pm__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_IP_Address_Records</name>
        <label>Get Updated IP Address Records</label>
        <locationX>534</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Ids_to_String_IPAddresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Injured_Party__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intakes.Injured_Party__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Address</name>
        <label>Address</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Repeater</targetReference>
        </connector>
        <fields>
            <name>AddressRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>AddressFormatGuide</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;IMPORTANT NOTE:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; If the address includes a second address line (e.g. apt #, suite #, etc.), please enter address as follows:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;img src=&quot;https://saddlerock.file.force.com/sfc/servlet.shepherd/version/download/068UJ00000Tzx5h?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>AddressFields</name>
                <extensionName>flowruntime:address</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>addressLabel</name>
                    <value>
                        <stringValue>Address</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>street</name>
                    <value>
                        <elementReference>AddressRecords[$EachItem].Client_Address__Street__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>city</name>
                    <value>
                        <elementReference>AddressRecords[$EachItem].Client_Address__City__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>provinceCode</name>
                    <value>
                        <elementReference>AddressRecords[$EachItem].Client_Address__StateCode__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>postalCode</name>
                    <value>
                        <elementReference>AddressRecords[$EachItem].Client_Address__PostalCode__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>countryCode</name>
                    <value>
                        <elementReference>AddressRecords[$EachItem].Client_Address__CountryCode__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>showAddressLookup</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>addressLookupLabel</name>
                    <value>
                        <stringValue>Use This Address Autofill</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Is_Mailing_Address</name>
                <choiceReferences>MailingAddress</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>AddressRecords[$EachItem].Is_Mailing__c</elementReference>
                </defaultValue>
                <fieldText>Is the address provided your mailing address?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Is_the_address_provided_your_home_of_residence</name>
                <choiceReferences>ResidenceChoices</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>AddressRecords[$EachItem].Is_Residence__c</elementReference>
                </defaultValue>
                <fieldText>Is the address provided your home of residence?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>primaryaddress</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>AddressRecords[$EachItem].Primary_Address__c</elementReference>
                </defaultValue>
                <fieldText>Is the address provided your primary address?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>AddressRecords</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;asasdf&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_You_Sure_Screen</name>
        <label>Are You Sure Screen</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_The_User_Sure</targetReference>
        </connector>
        <fields>
            <name>DeleteRecordsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>srlg_Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Records To Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Removed_Addresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7392&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Address Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Client_Address__City__s&quot;,&quot;guid&quot;:&quot;column-5d3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Client Address (City)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Client_Address__StateCode__s&quot;,&quot;guid&quot;:&quot;column-ffb1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Client Address (State/Province)&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hey there, you tried to delete something you weren&#39;t supposed to. How ironic.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intakes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressIds2Delete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Address__c</objectType>
    </variables>
    <variables>
        <name>Injury</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Injury__c</objectType>
    </variables>
    <variables>
        <name>inputType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>State</description>
        <name>State1</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpsertAddressRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Address__c</objectType>
    </variables>
    <variables>
        <name>varAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Address__c</objectType>
    </variables>
</Flow>
