unpackaged/main/default/flows/SRLG_Intake_Create_Missing_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Name_Check</name>
        <label>Name Check</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loved_One_Caller</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loved one</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.Caller__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake</targetReference>
            </connector>
            <label>Loved One Caller</label>
        </rules>
        <rules>
            <name>Self_Caller</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.Caller__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.Injured_Party_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Client_to_Intake</targetReference>
            </connector>
            <label>Self Caller</label>
        </rules>
        <rules>
            <name>Self_Client</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.litify_pm__Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_Client_to_Intake</targetReference>
            </connector>
            <label>Self Client</label>
        </rules>
        <rules>
            <name>Loved_One_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.litify_pm__Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pull_Intake_for_Latest_Info.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loved one</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Intake</targetReference>
            </connector>
            <label>Loved One Client</label>
        </rules>
    </decisions>
    <description>Used to create missing client when a vendor submits an intake with caller details only. (Added consideration for &quot;Self&quot; clients to auto fill the record|6/6/24) 9/11/24 | made updates to entry filter to accept internal / seprate options for internal ones</description>
    <environments>Default</environments>
    <formulas>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT(
{!$Record.Vendor_Injured_Party__c}, FIND(&quot; &quot;, {!$Record.Vendor_Injured_Party__c})-1)
)</expression>
    </formulas>
    <formulas>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Vendor_Injured_Party__c}, LEN({!$Record.Vendor_Injured_Party__c}) - FIND (&quot; &quot;, {!$Record.Vendor_Injured_Party__c})
)</expression>
    </formulas>
    <interviewLabel>SRLG | Intake | Create Missing Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Intake | Create Missing Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pull_Caller_Info</name>
        <label>Pull Caller Info</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pull_Intake_for_Latest_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Client__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pull_Intake_for_Latest_Info</name>
        <label>Pull Intake for Latest Info</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Client_to_Intake</name>
        <label>Add Client to Intake</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Caller__c</field>
            <value>
                <elementReference>Pull_Caller_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_First_Name__c</field>
            <value>
                <elementReference>Pull_Caller_Info.litify_pm__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Last_Name__c</field>
            <value>
                <elementReference>Pull_Caller_Info.litify_pm__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Middle_Name__c</field>
            <value>
                <elementReference>Pull_Caller_Info.Middle_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Add_Client_to_Intake</name>
        <label>Copy 1 of Add Client to Intake</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Injured_Party_First_Name__c</field>
            <value>
                <elementReference>Pull_Caller_Info.litify_pm__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Last_Name__c</field>
            <value>
                <elementReference>Pull_Caller_Info.litify_pm__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Middle_Name__c</field>
            <value>
                <elementReference>Pull_Caller_Info.Middle_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>$Record.Caller__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Intake</name>
        <label>Copy 1 of Update Intake</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>$Record.Caller__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Caller__c</field>
            <value>
                <elementReference>Pull_Caller_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pull_Caller_Info</targetReference>
        </connector>
        <filterLogic>((1 OR 6) AND (2 OR 3 OR 4)) OR (5 AND (2 OR 3))</filterLogic>
        <filters>
            <field>Caller__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Calling_on_behalf_of_you_or_loved_one__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loved one</stringValue>
            </value>
        </filters>
        <filters>
            <field>Calling_on_behalf_of_you_or_loved_one__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Self</stringValue>
            </value>
        </filters>
        <filters>
            <field>Question_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injured_Party_First_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Client__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
