unpackaged/main/default/flows/SRLG_Update_Party_and_IP_Address_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>SRLG | Update Party and IP Address Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Update Party and IP Address Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Client</name>
        <label>Update Client</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Client_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>$Record.Client_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Client_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>$Record.Client_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Client_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Client__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Injured_Party</name>
        <label>Update Injured Party</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>Injured_Party_Address__City__s</field>
            <value>
                <elementReference>$Record.Client_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Address__CountryCode__s</field>
            <value>
                <elementReference>$Record.Client_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Address__PostalCode__s</field>
            <value>
                <elementReference>$Record.Client_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Address__StateCode__s</field>
            <value>
                <elementReference>$Record.Client_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Address__Street__s</field>
            <value>
                <elementReference>$Record.Client_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Injured_Party__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Injured_Party</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>srlg_Address__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
