unpackaged/main/default/flows/SRLG_Questionnaire_Section_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Section_Change_To_Collection</name>
        <label>Assign Section Change To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPE_EventsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Section_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Section_Template_Only_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transform_Final_Section_Change_To_Collection</name>
        <label>Assign Transform Final Section Change To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPE_EventsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Final_Section_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_To_Create</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ObjectApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Questionnaire_Section__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Records_To_Create</name>
        <label>Records To Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>New_Records_In_Collection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPE_EventsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Questionnaire_Updates</targetReference>
            </connector>
            <label>New Records In Collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Section_Change</name>
        <label>Section # Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Section_Template_Only_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Section_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Section__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Section__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Section_Change</targetReference>
            </connector>
            <label>Section Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Section_Template_Only_Changes</name>
        <label>Section Template Only Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Records_To_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Template_Only_Changes</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isTemplate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Section__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Final_Section__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Active__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Access__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.External_Access__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Section_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Section_Category__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Final_Section_Change</targetReference>
            </connector>
            <label>Template Only Changes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SRLG | Questionnaire Section Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Questionnaire Section Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Questionnaire_Updates</name>
        <label>Create Questionnaire Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varPE_EventsToCreate</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Section_Change</targetReference>
        </connector>
        <object>Questionnaire_Section__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Final_Section_Change</name>
        <label>Transform Final Section Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Transform_Final_Section_Change_To_Collection</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Questionnaire_Update__e</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Questionnaire_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Questionnaire__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Record_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Change_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;Template Only Changes&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Object__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ObjectApiName</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Section_Change</name>
        <label>Transform Section Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Section_Change_To_Collection</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Questionnaire_Update__e</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Questionnaire_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Questionnaire__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Record_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Change_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;Section Change&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Object__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ObjectApiName</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>varIntakeStatuses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPE_EventsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire_Update__e</objectType>
    </variables>
</Flow>
