unpackaged/main/default/flows/SRLG_Questionnaire_Facility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Extract_Ids_to_String</name>
        <label>Extract Ids to String</label>
        <locationX>534</locationX>
        <locationY>2696</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>CM_Location__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Updated_Facilities</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recordIds</assignToReference>
            <name>fieldValueString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Id_To_Collection</name>
        <label>Add Id To Collection</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>FacilityIds2Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Removed.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Removed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Facilities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Facility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Variables</name>
        <label>Assign Record Variables</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Facility.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.Facility_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Name_of_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.Facility_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Primary_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.FacilityPhoneNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Procedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.What_procedure_did_you_receive_at_this_facility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.Do_you_have_any_additional_notes_or_comments_about_this_facility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Business_CompoundAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.FacilityInformation.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Business_CompoundAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.FacilityInformation.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Business_CompoundAddress__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.FacilityInformation.provinceCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Business_CompoundAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.FacilityInformation.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.Business_CompoundAddress__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.FacilityInformation.countryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Facility.National_Provider_Identifier_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Repeater.What_is_the_National_Provider_Identifier_NPI_number_for_this_provider_if_you_cou</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Client_Know_Provider_Info</name>
        <label>Does Client Know Provider Info?</label>
        <locationX>534</locationX>
        <locationY>2180</locationY>
        <defaultConnector>
            <targetReference>DelayScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&#39;t Know Provider Info</defaultConnectorLabel>
        <rules>
            <name>Knows_Provider_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientKnowsProviderInfo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SRLG_Provider_Questions_Array_Flow</targetReference>
            </connector>
            <label>Knows Provider Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_The_User_Sure</name>
        <label>Was The User Sure?</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Does_Client_Know_Provider_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>They_Said_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Facilities</targetReference>
            </connector>
            <label>They Said Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Records_Removed</name>
        <label>Were Records Removed</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Does_Client_Know_Provider_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Removed</defaultConnectorLabel>
        <rules>
            <name>Records_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Repeater.RemovedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SRLG_Flow_Related_Record_Deletion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Removed</targetReference>
            </connector>
            <label>Records Removed</label>
        </rules>
    </decisions>
    <description>6/12- AV - Replaced old address example image with new one.
6/12 AV - Changed button to &quot;Done&quot; and hid the providers for Roundup.
6/2 AV Replaced &quot;Category type&quot; with &quot;Facility type&quot;.
6/2 AV Added NPI to the screen per D&amp;C&#39;s instructions.
5/16 VP Added deletion permission
5/14 VP Updated assignment to new field Category type
5/14 LP Updated field from Facility Type to Category Type for &quot;Can you please specify the type of medical facility where you were diagnosed with your caner?&quot; question.
Re-named a few question labels for agent&#39;s clarity.</description>
    <dynamicChoiceSets>
        <name>Category_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Category_Type__c</picklistField>
        <picklistObject>CM_Location__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FacilityTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Facility_Type__c</picklistField>
        <picklistObject>CM_Location__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FacilityName</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!Get_Intake.litify_pm__Case_Type__r.Name},
    &#39;PFAS&#39;, &#39;What is the name of the medical facility you visited?&#39;,
     &#39;What is the name of the facility you were diagnosed at? (DX Facility)&#39;
)</expression>
    </formulas>
    <interviewLabel>SRLG | Questionnaire | Medical Facility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Questionnaire | Facility</label>
    <loops>
        <name>Loop_Removed</name>
        <label>Loop Removed</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <collectionReference>Repeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Removed_Facilities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Repeater</name>
        <label>Loop Repeater</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <collectionReference>Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upsert_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Upsert_Records</name>
        <label>Upsert Records</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Were_Records_Removed</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Facilities</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Facilities</name>
        <label>Delete Facilities</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Does_Client_Know_Provider_Info</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Removed_Facilities</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Facilities</name>
        <label>Get Facilities</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake</name>
        <label>Get Intake</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Facilities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Removed_Facilities</name>
        <label>Get Removed Facilities</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_You_Sure_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FacilityIds2Delete</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Facilities</name>
        <label>Get Updated Facilities</label>
        <locationX>534</locationX>
        <locationY>2588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Ids_to_String</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Are_You_Sure_Screen</name>
        <label>Are You Sure Screen</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_The_User_Sure</targetReference>
        </connector>
        <fields>
            <name>DeleteRecordsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CM_Location__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Records Being Deleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-db73&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;CM Location Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Business_CompoundAddress__City__s&quot;,&quot;guid&quot;:&quot;column-83fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;City&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Address (City)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Business_CompoundAddress__StateCode__s&quot;,&quot;guid&quot;:&quot;column-2ab8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;State&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Business Address (State/Province)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Facility_Type__c&quot;,&quot;guid&quot;:&quot;column-feb4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Facility Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Removed_Facilities</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:delete&quot;},{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:close&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DelayScreen</name>
        <label>DelayScreen</label>
        <locationX>534</locationX>
        <locationY>2480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Updated_Facilities</targetReference>
        </connector>
        <fields>
            <name>DelaySpinner</name>
            <extensionName>c:flowSpinnerDelayInteraction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>navigationAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Client_Know_Provider_Info</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Hey there, you tried to delete something you weren&#39;t supposed to. How ironic.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Repeater</targetReference>
        </connector>
        <fields>
            <name>Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Facility_Name</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Facilities[$EachItem].Name_of_Location__c</elementReference>
                </defaultValue>
                <fieldText>{!FacilityName}</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Facility_Type</name>
                <choiceReferences>FacilityTypeChoices</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Facilities[$EachItem].Facility_Type__c</elementReference>
                </defaultValue>
                <fieldText>Can you please specify the type of medical facility where you were diagnosed with your cancer? (DX Facility)</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>FacilityPhoneNumber</name>
                <extensionName>flowruntime:phone</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>What is the phone number for this facility?</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>Get_Facilities[$EachItem].Primary_Phone__c</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>AddressFormatGuide</name>
                <fieldText>&lt;p&gt;&lt;strong&gt;IMPORTANT NOTE:&lt;/strong&gt; If the address includes a second address line (e.g. apt #, suite #, etc.), please enter address as follows:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://saddlerock.file.force.com/sfc/servlet.shepherd/version/download/068UJ00000TvNGx?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>FacilityInformation</name>
                <extensionName>flowruntime:address</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>addressLabel</name>
                    <value>
                        <stringValue>Address</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>street</name>
                    <value>
                        <elementReference>Get_Facilities[$EachItem].Business_CompoundAddress__Street__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>city</name>
                    <value>
                        <elementReference>Get_Facilities[$EachItem].Business_CompoundAddress__City__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>provinceCode</name>
                    <value>
                        <elementReference>Get_Facilities[$EachItem].Business_CompoundAddress__StateCode__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>postalCode</name>
                    <value>
                        <elementReference>Get_Facilities[$EachItem].Business_CompoundAddress__PostalCode__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>countryCode</name>
                    <value>
                        <elementReference>Get_Facilities[$EachItem].Business_CompoundAddress__CountryCode__s</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>showAddressLookup</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>addressLookupLabel</name>
                    <value>
                        <stringValue>Use This to Autofill Address</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>What_procedure_did_you_receive_at_this_facility</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Facilities[$EachItem].Procedure__c</elementReference>
                </defaultValue>
                <fieldText>What procedure did you receive at this facility?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Intake.litify_pm__Case_Type__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>PFAS</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Start_Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_Facilities[$EachItem].Start_Date__c</elementReference>
                </defaultValue>
                <fieldText>When did you first start going to this facility?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>End_Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_Facilities[$EachItem].End_Date__c</elementReference>
                </defaultValue>
                <fieldText>If applicable, when did you stop going to this facility?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>What_is_the_National_Provider_Identifier_NPI_number_for_this_provider_if_you_cou</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Facilities[$EachItem].National_Provider_Identifier_Number__c</elementReference>
                </defaultValue>
                <fieldText>What is the National Provider Identifier (NPI) number for this provider? (if you couldn&#39;t find enter, &quot;NPI wasn&#39;t found.&quot;)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Do_you_have_any_additional_notes_or_comments_about_this_facility</name>
                <defaultValue>
                    <stringValue>{!Get_Facilities[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Do you have any additional notes or comments about this facility?</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Facilities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ClientKnowsProviderInfoScript</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Do you know the name of the provider who formally diagnosed you?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Intake.litify_pm__Case_Type__r.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PFAS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ClientKnowsProviderInfo</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;No&quot;,&quot;value&quot;:&quot;No&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive-text&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Yes&quot;,&quot;value&quot;:&quot;Yes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Intake.litify_pm__Case_Type__r.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PFAS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SRLG_Provider_Questions_Array_Flow</name>
        <label>SRLG - Provider Questions (Array Flow)</label>
        <locationX>402</locationX>
        <locationY>2288</locationY>
        <connector>
            <targetReference>DelayScreen</targetReference>
        </connector>
        <flowName>SRLG_Provider_Questions</flowName>
        <inputAssignments>
            <name>intakeId</name>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>recordIds</assignToReference>
            <name>recordIds</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Facilities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CM_Location__c</objectType>
    </variables>
    <variables>
        <name>Facility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CM_Location__c</objectType>
    </variables>
    <variables>
        <name>FacilityIds2Delete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RemovedFacilites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CM_Location__c</objectType>
    </variables>
</Flow>
