unpackaged/main/default/flows/SRLG_INTAKE_PD_Team_button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Remove_All_Contact</name>
        <choiceText>Remove All Contact (Removes from Email, Text, and Calls)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove All Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_From_Call_List</name>
        <choiceText>Remove from call list</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Remove_From_Emails</name>
        <choiceText>Remove From Emails</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove From Emails</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_From_SMS_Text</name>
        <choiceText>Remove From SMS Text</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove From SMS Text</stringValue>
        </value>
    </choices>
    <decisions>
        <name>What_Choice_was_Selected</name>
        <label>What Choice was Selected?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_not_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_From_Call_List</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_DNC</targetReference>
            </connector>
            <label>Do not Call</label>
        </rules>
        <rules>
            <name>Remove_From_Emails_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_From_Emails</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Undate_Intake_Do_not_email</targetReference>
            </connector>
            <label>Remove From Email</label>
        </rules>
        <rules>
            <name>Remove_From_Text_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_From_SMS_Text</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_Do_Not_Text</targetReference>
            </connector>
            <label>Remove From Text</label>
        </rules>
        <rules>
            <name>Do_not_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_All_Contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_Remove_all_Contact</targetReference>
            </connector>
            <label>Do not Contact</label>
        </rules>
    </decisions>
    <description>Used by the PD Team to execute specific tasks to help automate more items and simplify record updates for any issues.</description>
    <environments>Default</environments>
    <interviewLabel>SRLG | INTAKE | PD Team button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | INTAKE | PD Team button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Intake</name>
        <label>Get Intake</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PD_Team_Choices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates to stop emails</description>
        <name>Undate_Intake_Do_not_email</name>
        <label>Undate Intake Do not email</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Email_Intake__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_DNC</name>
        <label>Update Intake DNC</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Removed_from_Dialer_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Call_Intake__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Do_Not_Text</name>
        <label>Update Intake Do Not Text</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Text_Intake__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Remove_all_Contact</name>
        <label>Update Intake Remove all Contact</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Call_Intake__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Email_Intake__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Text_Intake__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <screens>
        <description>Used to select the choices for PD Team to execute on.</description>
        <name>PD_Team_Choices</name>
        <label>PD Team Choices</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Choice_was_Selected</targetReference>
        </connector>
        <fields>
            <name>SelectedDoNotContact_Display</name>
            <fieldText>&lt;p&gt;Contact methods already removed will show here as checked. (If empty, no methods have been removed yet)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Intake.Do_Not_Text_Intake__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Intake.Do_Not_Text_Intake__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Intake.Do_Not_Email_Intake__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Intake.Do_Not_Email_Intake__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Intake.Do_Not_Call_Intake__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Intake.Do_Not_Call_Intake__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_what_you_would_like_to_do</name>
            <choiceReferences>Remove_From_Call_List</choiceReferences>
            <choiceReferences>Remove_From_Emails</choiceReferences>
            <choiceReferences>Remove_From_SMS_Text</choiceReferences>
            <choiceReferences>Remove_All_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose what you would like to do:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Removed_from_Dialer_List</name>
        <label>Removed from Dialer List</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Displayed_Text</name>
            <fieldText>&lt;p&gt;Dialer List has been Deleted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
