unpackaged/main/default/flows/SRLG_MMS_Fixed_Agency_Fee_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Will choose path based on source, Tierra or XSocial.</description>
        <name>Source_decision</name>
        <label>Source decision</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XSocial_Source</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_mktgROI__Source__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0YUJ00000SQfnS2AT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_mktgROI__Source__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0YDn000000o8GkMAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Agency_Fee_to_15_for_XSocial</targetReference>
            </connector>
            <label>XSocial Source</label>
        </rules>
        <rules>
            <name>Tierra_Source</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_mktgROI__Source__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0YUJ00000JnWzv2AF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_mktgROI__Source__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0YUJ00000QwcE42AJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_mktgROI__Source__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0YUJ00000Etizh2AB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Agency_Fee_to_10_for_Tierra</targetReference>
            </connector>
            <label>Tierra Source</label>
        </rules>
    </decisions>
    <description>updated formula resources to show %
Fixed Agency Fee Calculations</description>
    <environments>Default</environments>
    <formulas>
        <description>Will multiply Actual Spend by Agency Fee % to get the Agency Fee.</description>
        <name>FixedAgencyFeeCalculation</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.FX_Actual_Spend__c} * {!$Record.Agency_Fee_Percent__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Will set Tierra Agency Fee to 10%</description>
        <name>TIerraAgencyFeePercent</name>
        <dataType>Number</dataType>
        <expression>10/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Will set XSocial Agency Fee to 15%</description>
        <name>XSocialAgencyFeePercent</name>
        <dataType>Number</dataType>
        <expression>15/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SRLG | MMS | Fixed Agency Fee Calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | MMS | Fixed Agency Fee Calculations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Will Update Agency Fee % to 10 for Tierra</description>
        <name>Copy_2_of_Update_Agency_Fee_to_10_for_Tierra</name>
        <label>Update Agency Fee % to 10 for Tierra</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Agency_Fee_for_Tierra</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Fee_Percent__c</field>
            <value>
                <elementReference>TIerraAgencyFeePercent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Will multiply the Actual Spend by the Agency fee % to get the Agency fee to populate that field.</description>
        <name>Update_Agency_Fee_for_Tierra</name>
        <label>Update Agency Fee for Tierra</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Manual_Agency_Fee__c</field>
            <value>
                <elementReference>FixedAgencyFeeCalculation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Will multiply the Actual Spend by the Agency fee % to get the Agency fee to populate that field.</description>
        <name>Update_Agency_Fee_for_XSocial</name>
        <label>Update Agency Fee for XSocial</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Manual_Agency_Fee__c</field>
            <value>
                <elementReference>FixedAgencyFeeCalculation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Will  Update Agency Fee % to 15 for XSocial</description>
        <name>Update_Agency_Fee_to_15_for_XSocial</name>
        <label>Update Agency Fee % to 15 for XSocial</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Agency_Fee_for_XSocial</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Fee_Percent__c</field>
            <value>
                <elementReference>XSocialAgencyFeePercent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Source_decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>litify_mktgROI__Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0YUJ00000SQfnS2AT</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_mktgROI__Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0YDn000000o8GkMAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_mktgROI__Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0YUJ00000JnWzv2AF</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_mktgROI__Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0YUJ00000QwcE42AJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_mktgROI__Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0YUJ00000Etizh2AB</stringValue>
            </value>
        </filters>
        <object>litify_mktgROI__Monthly_Marketing_Spend__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
