unpackaged/main/default/flows/SRLG_Provider_Questions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Ids_to_String</name>
        <label>Extract Ids to String</label>
        <locationX>534</locationX>
        <locationY>2222</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>srlg_Provider__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Updated_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recordIds</assignToReference>
            <name>fieldValueString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Id_To_Collection</name>
        <label>Add Id To Collection</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ProviderIdsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Provider_Info_Loop_Removed.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provider_Info_Loop_Removed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Variables</name>
        <label>Assign Record Variables</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Provider.Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Provider.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provider_Information_Repeater.What_is_the_first_name_of_the_provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Provider.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provider_Information_Repeater.What_is_the_last_name_of_the_provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Provider.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provider_Information_Repeater.What_is_the_provider_s_title_e_g_Oncologist_Surgeon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Provider.CM_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provider_Information_Repeater.Select_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Provider.National_Provider_Identifier_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provider_Information_Repeater.National_Provider_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Add To Collection</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Providers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provider_Information_Repeater</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Was_The_User_Sure</name>
        <label>Was The User Sure?</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Provider_s</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Records_Removed</name>
        <label>Were Records Removed?</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Removed</defaultConnectorLabel>
        <rules>
            <name>Records_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProviderRepeater.RemovedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.SRLG_Flow_Related_Record_Deletion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Info_Loop_Removed</targetReference>
            </connector>
            <label>Records Removed</label>
        </rules>
    </decisions>
    <description>5/16 AV - Added the national provider to the variable assignment as it wasn&#39;t included there.
5/16 VP Add the deletion permission
5/14 changed question label
5/14 LP Added NPI number Field and script to ask for or find NPI number, also added a hyperlink for the NPI website in script.
This flow is to display array provider fields.</description>
    <dynamicChoiceSets>
        <name>Locations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <object>CM_Location__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SRLG - Provider Questions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Provider Questions</label>
    <loops>
        <name>Provider_Info_Loop_Removed</name>
        <label>Provider Info Removed</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <collectionReference>ProviderRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Removed_Providers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Provider_Information_Repeater</name>
        <label>Provider Information Repeater</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <collectionReference>ProviderRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upsert_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Upsert_Records</name>
        <label>Upsert Records</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Were_Records_Removed</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>Providers</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Provider_s</name>
        <label>Delete Provider(s)</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Get_Updated_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProviderIdsToDelete</elementReference>
            </value>
        </filters>
        <object>srlg_Provider__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Providers</name>
        <label>Get Providers</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SRLG_Provider_Information</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SRLG_Provider_Information</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Provider__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Removed_Providers</name>
        <label>Get Removed Providers</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_You_Sure_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProviderIdsToDelete</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Provider__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Records</name>
        <label>Get Updated Providers</label>
        <locationX>534</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Ids_to_String</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>srlg_Provider__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Are_You_Sure_Screen</name>
        <label>Are You Sure Screen</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_The_User_Sure</targetReference>
        </connector>
        <fields>
            <name>DeletionScript</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Are you sure you would like to &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;remove &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;the provider below?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteProviderDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>srlg_Provider__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Records Being Deleted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Removed_Providers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;First_Name__c&quot;,&quot;guid&quot;:&quot;column-6ecf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Name__c&quot;,&quot;guid&quot;:&quot;column-c4c0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title__c&quot;,&quot;guid&quot;:&quot;column-fe11&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Remove&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ProviderRemovalErrorMessage</name>
            <fieldText>&lt;p&gt;Unfortunately, we were unable to remove the provider. Please reach out to the PD Team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SRLG_Provider_Information</name>
        <label>SRLG - Provider Information</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Provider_Information_Repeater</targetReference>
        </connector>
        <fields>
            <name>ProviderRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Select_Location</name>
                <choiceReferences>Locations</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Providers[$EachItem].CM_Location__c</elementReference>
                </defaultValue>
                <fieldText>Select Location</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>What_is_the_first_name_of_the_provider</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Providers[$EachItem].First_Name__c</elementReference>
                </defaultValue>
                <fieldText>What is the first name of the provider?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>What_is_the_last_name_of_the_provider</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Providers[$EachItem].Last_Name__c</elementReference>
                </defaultValue>
                <fieldText>What is the last name of the provider? (Please add designation at the end. e.g. MD, NP, PHD)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>What_is_the_provider_s_title_e_g_Oncologist_Surgeon</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Providers[$EachItem].Title__c</elementReference>
                </defaultValue>
                <fieldText>What is the provider’s title? (e.g., Surgeon, Oncologist...)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Script</name>
                <fieldText>&lt;blockquote&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;&lt;em style=&quot;color: rgb(105, 105, 105);&quot;&gt;“Do you have the provider’s NPI number?”&lt;/em&gt;&lt;/p&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;&lt;strong style=&quot;color: rgb(105, 105, 105);&quot;&gt;If YES:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;&lt;em style=&quot;color: rgb(105, 105, 105);&quot;&gt;“Great, can you read that to me?”&lt;/em&gt;&lt;/p&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(105, 105, 105);&quot;&gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(105, 105, 105);&quot;&gt;[Repeat back to confirm.]&lt;/em&gt;&lt;/p&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;&lt;strong style=&quot;color: rgb(105, 105, 105);&quot;&gt;If NO:&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-quote-block&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(105, 105, 105);&quot;&gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(105, 105, 105);&quot;&gt;[Use the Provider Name and City/Zip info to search on Google or&lt;/em&gt;&lt;span style=&quot;color: rgb(105, 105, 105);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;npiregistry.cms.hhs.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(105, 105, 105);&quot;&gt;NPI Registry website&lt;/a&gt;&lt;span style=&quot;color: rgb(105, 105, 105);&quot;&gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(105, 105, 105);&quot;&gt;to find the NPI.]&lt;/em&gt;&lt;/p&gt;&lt;/blockquote&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>National_Provider_Id</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Providers[$EachItem].National_Provider_Identifier_Number__c</elementReference>
                </defaultValue>
                <fieldText>What is the National Provider Identifier (NPI) number for this provider? (if you couldn&#39;t find enter, &quot;NPI wasn&#39;t found.&quot;)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Providers</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Providers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>intakeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Provider</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Provider__c</objectType>
    </variables>
    <variables>
        <name>ProviderIdsToDelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Providers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Provider__c</objectType>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
