unpackaged/main/default/flows/SRLG_Intake_Vendors_Submission_Corrections.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Intake_Vendor_Name_Is_Changed</name>
        <label>Check If Intake Vendor Name Is Changed</label>
        <locationX>754</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No, Is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Intake_Vendor_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Intake.Intake_Vendor_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Intake_Vendor_Name_Field</targetReference>
            </connector>
            <label>Yes, Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Living_check</name>
        <label>Living check</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_CaseOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake.Is_your_loved_one_still_living__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.What_is_your_relationship_to_IP_pk__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqBIAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fixed_Vendor_Input__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Intake_for_Caseopps</targetReference>
            </connector>
            <label>Yes CaseOpp</label>
        </rules>
        <rules>
            <name>No_CaseOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake.Is_your_loved_one_still_living__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.What_is_your_relationship_to_IP_pk__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqBIAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fixed_Vendor_Input__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_for_Caseopps</targetReference>
            </connector>
            <label>No CaseOpp</label>
        </rules>
        <rules>
            <name>Marked_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fixed_Vendor_Input__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqBIAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake.Is_your_loved_one_still_living__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Intake_for_Caseopps</targetReference>
            </connector>
            <label>Marked Yes</label>
        </rules>
        <rules>
            <name>Marked_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fixed_Vendor_Input__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqBIAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake.Is_your_loved_one_still_living__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Intake_for_Caseopps</targetReference>
            </connector>
            <label>Marked No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendor_Checker</name>
        <label>Vendor Checker</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_If_Intake_Vendor_Name_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mass_Tort_Strategies</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mass Tort Strategies</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqBIAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake</targetReference>
            </connector>
            <label>Mass Tort Strategies</label>
        </rules>
        <rules>
            <name>Living_Inputs_Fix</name>
            <conditionLogic>(1 OR 2) OR (3 OR 4) OR (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CaseOpp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KqLIAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viribuz Media, Inc.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pDn0000002KpwIAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Vendor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2pUJ000002ngL7YAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Living_check</targetReference>
            </connector>
            <label>Living Inputs Fix</label>
        </rules>
    </decisions>
    <description>10/3/2024 - Changed reference FROM What_is_your_relation_to_this_individual__c TO What_is_your_relationship_to_IP_pk__c
This is designed to fix any problems being created by Vendor Submissions until we can get them to fix it. Adding Etech and Virabuz
10/8/24 - Updated to update the vendor name field used in sharing settings.</description>
    <environments>Default</environments>
    <interviewLabel>SRLG | Intake | Vendors | Submission Corrections {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Intake | Vendors | Submission Corrections</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Intake</name>
        <label>Get Intake</label>
        <locationX>754</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendor_Checker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Intake_for_Caseopps</name>
        <label>Copy 2 of Update Intake for Caseopps</label>
        <locationX>754</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Check_If_Intake_Vendor_Name_Is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Fixed_Vendor_Input__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_your_loved_one_still_living__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_If_Intake_Vendor_Name_Is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Confirm_if_caller_is_next_of_kin__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fixed_Vendor_Input__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_for_Caseopps</name>
        <label>Update Intake for Caseopps</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Fixed_Vendor_Input__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_your_loved_one_still_living__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Intake_Vendor_Name_Field</name>
        <label>Updating Intake Vendor Name Field</label>
        <locationX>622</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Intake_Vendor_Name__c</field>
            <value>
                <elementReference>Get_Intake.Intake_Vendor__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <filterLogic>(((1 OR 2) AND 3) OR (4 OR 5) OR (6 OR 7) OR (8 OR 9)) AND 10</filterLogic>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2pDn0000002KqBIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mass Tort Strategies</stringValue>
            </value>
        </filters>
        <filters>
            <field>Confirm_if_caller_is_next_of_kin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>The caller is not the NOK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseOpp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2pDn0000002KqLIAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Viribuz Media, Inc.</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2pDn0000002KpwIAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Etech</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intake_Vendor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a2pUJ000002ngL7YAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fixed_Vendor_Input__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
