unpackaged/main/default/flows/SRLG_Questionnaire_Final_Choices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Delete_Values</name>
        <choiceText>Delete Values</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Values</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keep_Values</name>
        <choiceText>Keep Values</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keep Values</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_POA</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Property_TrustEstate</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_QC_Queue</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_POA</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Property_TrustEstate</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_QC_Queue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Move_QC_s_Queue</name>
        <label>Move to QC&#39;s Queue</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Newly_Created_Intakes_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If No</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_QC_Queue</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_with_QC_Values</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Newly_Created_Intakes_Check</name>
        <label>Newly Created Intakes Check</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Newly_Created_Intakes_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Col_Resident_Intakes</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Newly_Created_Intakes_Screen</targetReference>
            </connector>
            <label>Outcome 1 of Newly Created Intakes Check</label>
        </rules>
    </decisions>
    <description>These are the final choices of the questionnaire to help agents decide on what they would like to do based on the case type they may be working etc. Part of Phase 2 of Questionnaire build</description>
    <dynamicChoiceSets>
        <name>AffirmNoRepresentation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Affirm_No_Other_Representation__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AgreeToProvideInformation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Agree_to_provide_accurate_information__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AuthorityToSign</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Does_caller_have_authority_to_sign__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallingOnBehalf</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Calling_on_behalf_of_you_or_loved_one__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConfirmCallerNextOfKin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Confirm_if_caller_is_next_of_kin__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>List from field on intake</description>
        <name>ConsentReceiveNotification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Consent_Receive_Notification_oobo_SRLG__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExecutorOfEstate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Executor_of_Estate_EOE_Check__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjuredPartySuffix</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Injured_Party_Suffix__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LovedOneLiving</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Is_your_loved_one_still_living__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NextOfKin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Next_of_Kin_NOK_Check__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PoaDocuments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Do_you_have_legal_POA_documents__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipToInjuredParty</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>What_is_your_relationship_to_IP_pk__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkingWithLawFirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Working_with_another_law_firm__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SRLG | Questionnaire | Final Choices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Questionnaire | Final Choices</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Intake_with_QC_Values</name>
        <label>Update Intake with QC&#39;s Values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Newly_Created_Intakes_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <screens>
        <name>Intake_Questions_Complete_Screen</name>
        <label>Intake Complete Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Move_QC_s_Queue</targetReference>
        </connector>
        <fields>
            <name>Intake_Completed_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Intake Questions Completed&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Congratulations! This intake has been completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Would_you_like_to_add_this_intake_to_QC_s_Queue</name>
            <choiceReferences>Yes_QC_Queue</choiceReferences>
            <choiceReferences>No_QC_Queue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add this intake to QC&#39;s Queue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Newly_Created_Intakes_Screen</name>
        <label>Newly Created Intakes Screen</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Newly_Created_Intakes</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Newly Created Intakes&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Newly_Created_Intakes_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>litify_pm__Intake__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Intakes Created for Residents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_Col_Resident_Intakes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Client_Name__c&quot;,&quot;guid&quot;:&quot;column-81b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Client/Caller Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;litify_pm__lit_Display_Name_Link__c&quot;,&quot;guid&quot;:&quot;column-d175&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Intake&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-e495&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Closing_Questions_Stage</name>
        <isActive>true</isActive>
        <label>Closing Questions</label>
        <stageOrder>35</stageOrder>
    </stages>
    <stages>
        <name>Document_Generation_Stage</name>
        <isActive>true</isActive>
        <label>Generate Doc</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <description>Introductory Questions</description>
        <name>Intro_Q_Stage</name>
        <isActive>true</isActive>
        <label>Opener</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Long_Form_Stage</name>
        <isActive>true</isActive>
        <label>Long Form</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Loved_One_Stage</name>
        <isActive>false</isActive>
        <label>Loved One</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Partner_Assignment_Stage</name>
        <isActive>true</isActive>
        <label>Partner Assignment</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Send_for_Signature_Stage</name>
        <isActive>true</isActive>
        <label>Send for Signature</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Short_Form_Stage</name>
        <isActive>true</isActive>
        <label>Short Form</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Intake_Questions_Complete_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>disqualification_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disqualification_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disqualification_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disqualification_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Disqualification_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Disqualification_Reason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Col_Resident_Intakes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
</Flow>
