unpackaged/main/default/flows/SRLG_Opening_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Disqualification_Details_Reason</name>
        <label>Disqualification Details &amp; Reason</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>v_Disqualification_Details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_Opening_DQ_CQC_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_Disqualification_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_Opening_DQ_CQC_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Final_DQ_Intake</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment_1</name>
        <label>Stage Assignment 1</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intro_Q_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Intake_at_Start</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment_2</name>
        <label>Stage Assignment 2</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loved_One_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_Define_Relationship</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Delete_Values</name>
        <choiceText>Delete Values</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Values</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keep_Values</name>
        <choiceText>Keep Values</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keep Values</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_POA</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Property_TrustEstate</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_QC_Queue</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_POA</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Property_TrustEstate</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_QC_Queue</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Routes the chosen campaign questionnaire selected through case type by the agent.</description>
        <name>Campaign_Questionnair_Routing</name>
        <label>Campaign Questionnair Routing</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ending_Disqualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_CQC_DQ_Routing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disqualification_Details_Reason</targetReference>
            </connector>
            <label>Ending Disqualification</label>
        </rules>
        <rules>
            <name>PFAS_Case_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Intake_at_End.Case_Type_Name_del__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFAS</stringValue>
                </rightValue>
            </conditions>
            <label>PFAS Case Type</label>
        </rules>
        <rules>
            <name>LA_Wildfires</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Intake_at_End.Case_Type_Name_del__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LA Wildfires</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_LA_Wildfires_Questionnaire</targetReference>
            </connector>
            <label>LA Wildfires</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_QC_s_Queue</name>
        <label>Move to QC&#39;s Queue</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Newly_Created_Intakes_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If No</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_QC_Queue</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_with_QC_Values</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Newly_Created_Intakes_Check</name>
        <label>Newly Created Intakes Check</label>
        <locationX>710</locationX>
        <locationY>1898</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Newly_Created_Intakes_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Col_Resident_Intakes</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Newly_Created_Intakes_Screen</targetReference>
            </connector>
            <label>Outcome 1 of Newly Created Intakes Check</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to route the caller to questions depending on relationship to the client as either self or loved one.</description>
        <name>Questionnaire_Section_Routing</name>
        <label>Questionnaire Section Routing</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Stage_Assignment_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Calling for Loved One</defaultConnectorLabel>
        <rules>
            <name>Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_CQC_DQ_Routing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Intake_at_End</targetReference>
            </connector>
            <label>Disqualified</label>
        </rules>
        <rules>
            <name>Removal_of_Loved_One_Values</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_at_Start.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_at_Start.What_is_your_relationship_to_IP_pk__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_at_Start.Is_your_loved_one_still_living__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_at_Start.Does_caller_have_authority_to_sign__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_at_Start.Next_of_Kin_NOK_Check__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Intake_at_Start.Executor_of_Estate_EOE_Check__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Delete_Data_Check</targetReference>
            </connector>
            <label>Removal of Loved One Values</label>
        </rules>
        <rules>
            <name>Calling_for_Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_calling_in_on_behalf_of_you_or_a_loved_one</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Intake_at_End</targetReference>
            </connector>
            <label>Calling for &quot;Self&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Value_Deletion</name>
        <label>Value Deletion</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Loved_One_Values_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete Values</defaultConnectorLabel>
        <rules>
            <name>Keep_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Keep_Values</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Intake_at_End</targetReference>
            </connector>
            <label>Keep Values</label>
        </rules>
    </decisions>
    <description>Opening Questionnaire for agents to pull in general starting questions for Cases and route them to the appropriate Case Flow | Added a new consent script | Added a tweak to the script line breaks requested by intake management</description>
    <dynamicChoiceSets>
        <name>AffirmNoRepresentation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Affirm_No_Other_Representation__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AgreeToProvideInformation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Agree_to_provide_accurate_information__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AuthorityToSign</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Does_caller_have_authority_to_sign__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallingOnBehalf</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Calling_on_behalf_of_you_or_loved_one__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConfirmCallerNextOfKin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Confirm_if_caller_is_next_of_kin__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>List from field on intake</description>
        <name>ConsentReceiveNotification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Consent_Receive_Notification_oobo_SRLG__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExecutorOfEstate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Executor_of_Estate_EOE_Check__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjuredPartySuffix</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Injured_Party_Suffix__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LovedOneLiving</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Is_your_loved_one_still_living__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NextOfKin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Next_of_Kin_NOK_Check__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PoaDocuments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Do_you_have_legal_POA_documents__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipToInjuredParty</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>What_is_your_relationship_to_IP_pk__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkingWithLawFirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Working_with_another_law_firm__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fx_CQC_DQ_Routing</name>
        <dataType>String</dataType>
        <expression>IF({!Do_you_agree_to_provide_accurate_information} = &quot;No&quot;,  &quot;Fail&quot;,
IF({!Have_you_previously_signed_documents_either_physically_or_electronically_regardi} = &quot;Yes&quot;, &quot;Fail&quot;,
IF({!Do_you_have_authority_to_sign_on_behalf_of_the_Injured_Party} = &quot;No&quot;, &quot;Fail&quot;,
IF ({!Are_you_the_Next_of_Kin_NOK} = &quot;No&quot; &amp;&amp; ({!Are_you_the_Executor_of_Estate_EOE} = &quot;No&quot;), &quot;Fail&quot;,
&quot;Pass&quot;
))))</expression>
    </formulas>
    <formulas>
        <name>fx_Opening_DQ_CQC_Details</name>
        <dataType>String</dataType>
        <expression>IF({!Do_you_agree_to_provide_accurate_information} = &quot;No&quot;,  &quot;Client said they do not wish to provide accurate information&quot;,
IF({!Have_you_previously_signed_documents_either_physically_or_electronically_regardi} = &quot;Yes&quot;, &quot;Client said that they are currently working with another firm&quot;,
IF({!Do_you_have_authority_to_sign_on_behalf_of_the_Injured_Party} = &quot;No&quot;, &quot;Client said that they do not have authority to sign on behalf of the injured party&quot;,
IF ({!Are_you_the_Next_of_Kin_NOK} = &quot;No&quot; &amp;&amp; ({!Are_you_the_Executor_of_Estate_EOE} = &quot;No&quot;), &quot;Client said that they are neither the NOK nor the EOE (They cannot sign on behalf of the injured party)&quot;,
&quot;&quot;
))))</expression>
    </formulas>
    <formulas>
        <name>fx_Opening_DQ_CQC_Reason</name>
        <dataType>String</dataType>
        <expression>IF({!Do_you_agree_to_provide_accurate_information} = &quot;No&quot;,  &quot;Does not agree to provide accurate information&quot;,
IF({!Have_you_previously_signed_documents_either_physically_or_electronically_regardi} = &quot;Yes&quot;, &quot;Working with another firm&quot;,
IF({!Do_you_have_authority_to_sign_on_behalf_of_the_Injured_Party} = &quot;No&quot;, &quot;Not Power of Attorney&quot;,
IF ({!Are_you_the_Next_of_Kin_NOK} = &quot;No&quot; &amp;&amp; ({!Are_you_the_Executor_of_Estate_EOE} = &quot;No&quot;), &quot;Not Formal Next of Kin&quot;,
&quot;&quot;
))))</expression>
    </formulas>
    <interviewLabel>SRLG | Opening Questionnaire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | General | Opening Questionnaire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Grabs the intake from the screen they are on to begin referencing values.</description>
        <name>Get_Intake_at_Start</name>
        <label>Get Intake at Start</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opening_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Pulls the updated intake to reference for routing to enusre any changes are sent to the appropriate place.</description>
        <name>Get_Updated_Intake_at_End</name>
        <label>Get Updated Intake at End</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Questionnair_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_at_Start.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This is to update the turn down details and turn down reason fields in the intake, in the event that the client disqualifies.</description>
        <name>Update_Final_DQ_Intake</name>
        <label>Update Final DQ&#39;d Intake</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Disqualification_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Intake_at_End.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Turned Down</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turn_Down_Details__c</field>
            <value>
                <elementReference>v_Disqualification_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turn_Down_Reason__c</field>
            <value>
                <elementReference>v_Disqualification_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates screen selections to intake record.</description>
        <name>Update_Intake_Info_1</name>
        <label>Update Intake Info 1</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Questionnaire_Section_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agree_to_provide_accurate_information__c</field>
            <value>
                <elementReference>Do_you_agree_to_provide_accurate_information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calling_on_behalf_of_you_or_loved_one__c</field>
            <value>
                <elementReference>Are_you_calling_in_on_behalf_of_you_or_a_loved_one</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name_of_Trust_Estate__c</field>
            <value>
                <elementReference>Please_list_the_full_name_of_the_Trust_Estate_as_it_appears_on_the_document_Not</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trust_Estate_Verification__c</field>
            <value>
                <elementReference>Do_you_have_a_Trust_Estate_for_the_property</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_with_another_law_firm__c</field>
            <value>
                <elementReference>Have_you_previously_signed_documents_either_physically_or_electronically_regardi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates screen selections to intake record.</description>
        <name>Update_Intake_Info_2</name>
        <label>Update Intake Info 2</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Updated_Intake_at_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirm_if_caller_is_next_of_kin__c</field>
            <value>
                <elementReference>Confirm_if_caller_is_next_of_kin_or_Executor_of_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_caller_have_authority_to_sign__c</field>
            <value>
                <elementReference>Do_you_have_authority_to_sign_on_behalf_of_the_Injured_Party</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executor_of_Estate_EOE_Check__c</field>
            <value>
                <elementReference>Are_you_the_Executor_of_Estate_EOE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_First_Name__c</field>
            <value>
                <elementReference>Injured_Party_s_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Last_Name__c</field>
            <value>
                <elementReference>Injured_Party_s_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Middle_Name__c</field>
            <value>
                <elementReference>Injured_Party_s_Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Suffix__c</field>
            <value>
                <elementReference>Injured_Party_s_Suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_your_loved_one_still_living__c</field>
            <value>
                <elementReference>I_hate_to_ask_this_but_is_your_loved_one_still_living</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_of_Kin_NOK_Check__c</field>
            <value>
                <elementReference>Are_you_the_Next_of_Kin_NOK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_relationship_to_IP_pk__c</field>
            <value>
                <elementReference>What_is_your_relation_to_this_individual</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_with_QC_Values</name>
        <label>Update Intake with QC&#39;s Values</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Newly_Created_Intakes_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Intake_at_End.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This element is to set the record values for a &quot;Loved One&quot; case to null so that filters in screen work properly.</description>
        <name>Update_Loved_One_Values_Null</name>
        <label>Update Loved One Values Null</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_Updated_Intake_at_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_at_Start.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirm_if_caller_is_next_of_kin__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_caller_have_authority_to_sign__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executor_of_Estate_EOE_Check__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_your_loved_one_still_living__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_of_Kin_NOK_Check__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_relationship_to_IP_pk__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <screens>
        <name>Delete_Data_Check</name>
        <label>Delete Data Check</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Value_Deletion</targetReference>
        </connector>
        <fields>
            <name>deletion_Warning_Title</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;WARNING:  &lt;/strong&gt;You&#39;re changing this intake&#39;s relationship type. This intake contains Death/POA specific fields that will be cleared if you proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirm_Deletion_of_Values</name>
            <choiceReferences>Delete_Values</choiceReferences>
            <choiceReferences>Keep_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to delete Death/POA case information?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disqualification_Screen</name>
        <label>Disqualification Screen</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Disqualified_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Disqualified&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Your Intake has been turned down and properly updated.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Disqualication Reason: &lt;/strong&gt; {!fx_Opening_DQ_CQC_Reason}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Disqualification Details: &lt;/strong&gt;{!fx_Opening_DQ_CQC_Details}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intake_Questions_Complete_Screen</name>
        <label>Intake Complete Screen</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Move_QC_s_Queue</targetReference>
        </connector>
        <fields>
            <name>Intake_Completed_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Intake Questions Completed&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Congratulations! This intake has been completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Would_you_like_to_add_this_intake_to_QC_s_Queue</name>
            <choiceReferences>Yes_QC_Queue</choiceReferences>
            <choiceReferences>No_QC_Queue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add this intake to QC&#39;s Queue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Newly_Created_Intakes_Screen</name>
        <label>Newly Created Intakes Screen</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Newly_Created_Intakes</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Newly Created Intakes&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Newly_Created_Intakes_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>litify_pm__Intake__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Intakes Created for Residents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_Col_Resident_Intakes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Client_Name__c&quot;,&quot;guid&quot;:&quot;column-81b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Client/Caller Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;litify_pm__lit_Display_Name_Link__c&quot;,&quot;guid&quot;:&quot;column-d175&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Intake&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-e495&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>NOTE, I only need one DQ display moving forward if I am to make the rest of the fields contingent on the previous responses.  This should help simplify things.</description>
        <name>Opening_Information</name>
        <label>Opening Information</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Intake_Info_1</targetReference>
        </connector>
        <fields>
            <name>Opener_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Opening Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opening_Script</name>
            <fieldText>Opening Script (Click arrow to shrink when done)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opening_Script_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intro_Script_1</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 14px; background-color: transparent;&quot;&gt;Hi, I am looking for {!Get_Intake_at_Start.litify_pm__Client__r.Name}&lt;/em&gt;&lt;strong style=&quot;font-size: 14px; background-color: transparent;&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 14px; background-color: transparent;&quot;&gt;regarding their potential &lt;/em&gt;&lt;em style=&quot;font-size: 14px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;{!Get_Intake_at_Start.litify_pm__Case_Type__r.Name}&lt;/em&gt;&lt;em style=&quot;font-size: 14px; background-color: transparent;&quot;&gt; legal case.&amp;nbsp;My name is {!$User.FirstName}, and I am from Saddle Rock Legal Group/Legal Injury Advocates on a recorded line. Am I speaking with {!Get_Intake_at_Start.litify_pm__Client__r.litify_pm__First_Name__c}? Great, how is your day going?&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;I have a few follow-up questions to see how we can help you with your potential {!Get_Intake_at_Start.litify_pm__Case_Type__r.Name} case. Before we get started, I have a quick disclaimer to read – Please be advised this call may be recorded for quality and training purposes, and the recording will be subject to third-party AI call analytics software. Additionally, your responses will be recorded exactly as you state them and reviewed by our staff and counsel. The information you provide is very important should you have a case. You may be asked to verify your responses by affidavit, so your complete honesty is crucial. Do you agree to provide accurate information to the best of your knowledge?&quot;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Also, you agree to receive automated text notifications and phone calls by or on behalf of Saddle Rock to the number you are calling from regarding your potential case, please clearly say “Yes.” Your consent is not a condition of purchase.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_agree_to_provide_accurate_information</name>
            <choiceReferences>AgreeToProvideInformation</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Agree_to_provide_accurate_information__c</elementReference>
            </defaultValue>
            <fieldText>Do you agree to provide accurate information?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DQ_Accurate_Info</name>
            <fieldText>&lt;p&gt;I understand your concerns, {!Get_Intake_at_Start.litify_pm__Client__r.Name}. However, in order for us to proceed, we do need your consent to contact you. The attorneys may need to reach out from time to time with important updates or to ask questions regarding your case.&lt;/p&gt;&lt;p&gt;Without your consent, we wouldn’t be able to move forward in assisting you. Would you be open to reconsidering so we can proceed?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;(If they still refuse:)&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;﻿&lt;/em&gt;&lt;strong style=&quot;color: rgb(238, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;UNFORTUNATELY THEY ARE DQ&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;&quot;I completely respect your decision. Unfortunately, without your consent to be contacted, we won’t be able to move forward with your potential case. If you change your mind, feel free to reach out to us. Thank you for your time here at Saddle Rock Legal Group!&quot;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_agree_to_provide_accurate_information</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Case_Type_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>JUST TO CONFIRM: YOU ARE SUBMITTING A CLAIM FOR... (View Drop Down to Review Case Type Options)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>litify_pm__Intake__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Intake_at_Start.litify_pm__Case_Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>litify_pm__Case_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_agree_to_provide_accurate_information</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Do_you_agree_to_provide_accurate_information</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_previously_signed_documents_either_physically_or_electronically_regardi</name>
            <choiceReferences>WorkingWithLawFirm</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Working_with_another_law_firm__c</elementReference>
            </defaultValue>
            <fieldText>Have you previously signed documents, either physically or electronically, regarding this particular matter with any other law firm?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_agree_to_provide_accurate_information</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DQ_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 10, 10);&quot;&gt;UNFORTUNATELY THEY ARE DQ&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please Read:&amp;nbsp;“Unfortunately, we cannot accept your potential case at this time.&amp;nbsp;As such, we are not able to represent you and will not be filing a lawsuit on your behalf. This does not mean you don’t have a case.&amp;nbsp;Please consider contacting another law firm for a second opinion. Thank you for taking the time to speak with us at Saddle Rock Legal Group. Have a great day!”&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;**Note to Agent:&amp;nbsp;If the caller asked &#39;why&#39;, it’s okay to simply state that &#39;There’s a current lack of evidence to fit our case criteria.&#39; No further details than that.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_previously_signed_documents_either_physically_or_electronically_regardi</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_calling_in_on_behalf_of_you_or_a_loved_one</name>
            <choiceReferences>CallingOnBehalf</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Calling_on_behalf_of_you_or_loved_one__c</elementReference>
            </defaultValue>
            <fieldText>Are you calling in on behalf of you or a loved one?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_agree_to_provide_accurate_information</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Have_you_previously_signed_documents_either_physically_or_electronically_regardi</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_a_Trust_Estate_for_the_property</name>
            <choiceReferences>Yes_Property_TrustEstate</choiceReferences>
            <choiceReferences>No_Property_TrustEstate</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Trust_Estate_Verification__c</elementReference>
            </defaultValue>
            <fieldText>Do you have a Trust/Estate for the property?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_agree_to_provide_accurate_information</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Have_you_previously_signed_documents_either_physically_or_electronically_regardi</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_list_the_full_name_of_the_Trust_Estate_as_it_appears_on_the_document_Not</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Full_Name_of_Trust_Estate__c</elementReference>
            </defaultValue>
            <fieldText>Please list the full name of the Trust/Estate as it appears on the document: (Not mandatory)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_a_Trust_Estate_for_the_property</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Client_Caller</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>litify_pm__Intake__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>litify_pm__Client__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Client/Caller (person on the phone call)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Intake_at_Start.litify_pm__Client__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_agree_to_provide_accurate_information</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Have_you_previously_signed_documents_either_physically_or_electronically_regardi</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Define relationships between injured party and caller</description>
        <name>X2_Define_Relationship</name>
        <label>2 - Define Relationship</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Intake_Info_2</targetReference>
        </connector>
        <fields>
            <name>Relationship_Questions_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Relationship Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_your_relation_to_this_individual</name>
            <choiceReferences>RelationshipToInjuredParty</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.What_is_your_relationship_to_IP_pk__c</elementReference>
            </defaultValue>
            <fieldText>What is your relation to this individual?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>I_hate_to_ask_this_but_is_your_loved_one_still_living</name>
            <choiceReferences>LovedOneLiving</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Is_your_loved_one_still_living__c</elementReference>
            </defaultValue>
            <fieldText>I hate to ask this, but is your loved one still living?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Injured_Party_s_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Injured_Party_First_Name__c</elementReference>
            </defaultValue>
            <fieldText>Injured Party&#39;s First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Injured_Party_s_Middle_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Injured_Party_Middle_Name__c</elementReference>
            </defaultValue>
            <fieldText>Injured Party&#39;s Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Injured_Party_s_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Injured_Party_Last_Name__c</elementReference>
            </defaultValue>
            <fieldText>Injured Party&#39;s Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Injured_Party_s_Suffix</name>
            <choiceReferences>InjuredPartySuffix</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Injured_Party_Suffix__c</elementReference>
            </defaultValue>
            <fieldText>Injured Party&#39;s Suffix</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Authority_To_Sign_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Authority To Sign Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_hate_to_ask_this_but_is_your_loved_one_still_living</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_authority_to_sign_on_behalf_of_the_Injured_Party</name>
            <choiceReferences>Yes_POA</choiceReferences>
            <choiceReferences>No_POA</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Does_caller_have_authority_to_sign__c</elementReference>
            </defaultValue>
            <fieldText>Do you have authority to sign on behalf of the Injured Party?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_hate_to_ask_this_but_is_your_loved_one_still_living</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Authority_To_Sign_DQ</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 10, 10);&quot;&gt;UNFORTUNATELY THEY ARE DQ&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please Read:&amp;nbsp;“Unfortunately, we cannot accept your potential case at this time.&amp;nbsp;As such, we are not able to represent you and will not be filing a lawsuit on your behalf. This does not mean you don’t have a case.&amp;nbsp;Please consider contacting another law firm for a second opinion. Thank you for taking the time to speak with us at Saddle Rock Legal Group. Have a great day!”&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;**Note to Agent:&amp;nbsp;If the caller asked &#39;why&#39;, it’s okay to simply state that &#39;There’s a current lack of evidence to fit our case criteria.&#39; No further details than that.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_authority_to_sign_on_behalf_of_the_Injured_Party</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NOK_Questions_Followup</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Next of Kin Questions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_hate_to_ask_this_but_is_your_loved_one_still_living</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_if_caller_is_next_of_kin_or_Executor_of_Estate</name>
            <choiceReferences>ConfirmCallerNextOfKin</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Confirm_if_caller_is_next_of_kin__c</elementReference>
            </defaultValue>
            <fieldText>Confirm if caller is next of kin or Executor of Estate (Placeholder)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_hate_to_ask_this_but_is_your_loved_one_still_living</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_you_agree_to_provide_accurate_information</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_the_Next_of_Kin_NOK</name>
            <choiceReferences>NextOfKin</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Next_of_Kin_NOK_Check__c</elementReference>
            </defaultValue>
            <fieldText>Are you the Next of Kin (NOK)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_hate_to_ask_this_but_is_your_loved_one_still_living</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_the_Executor_of_Estate_EOE</name>
            <choiceReferences>ExecutorOfEstate</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Intake_at_Start.Executor_of_Estate_EOE_Check__c</elementReference>
            </defaultValue>
            <fieldText>Are you the Executor of Estate (EOE)?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_hate_to_ask_this_but_is_your_loved_one_still_living</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EOE_Or_NOK_DQ</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 10, 10);&quot;&gt;UNFORTUNATELY THEY ARE DQ&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please Read:&amp;nbsp;“Unfortunately, we cannot accept your potential case at this time.&amp;nbsp;As such, we are not able to represent you and will not be filing a lawsuit on your behalf. This does not mean you don’t have a case.&amp;nbsp;Please consider contacting another law firm for a second opinion. Thank you for taking the time to speak with us at Saddle Rock Legal Group. Have a great day!”&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;**Note to Agent:&amp;nbsp;If the caller asked &#39;why&#39;, it’s okay to simply state that &#39;There’s a current lack of evidence to fit our case criteria.&#39; No further details than that.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_the_Next_of_Kin_NOK</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Are_you_the_Executor_of_Estate_EOE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <description>Introductory Questions</description>
        <name>Intro_Q_Stage</name>
        <isActive>true</isActive>
        <label>Intro Q</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Loved_One_Stage</name>
        <isActive>false</isActive>
        <label>Loved One</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Assignment_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This is to route the opening answers to the &quot;LA Wildfires&quot; Questionnaire.</description>
        <name>Send_to_LA_Wildfires_Questionnaire</name>
        <label>Send to LA Wildfires Questionnaire</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Intake_Questions_Complete_Screen</targetReference>
        </connector>
        <flowName>SRLG_Case_Questionnaire_Eaton_Fire</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_col_Extra_Residents_Intakes</name>
            <value>
                <elementReference>var_Col_Resident_Intakes</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>disqualification_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disqualification_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disqualification_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disqualification_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Disqualification_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Disqualification_Reason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Col_Resident_Intakes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
</Flow>
