unpackaged/main/default/flows/SRLG_Case_Questionnaire_Long_Form_LA_WildFires.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Adult_Cloned_Campaign_Case</name>
        <label>Adult Cloned Campaign Case</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <actionName>DeepClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_New_Resident_Intake</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Campaign_Case__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRecord</typeName>
            <typeValue>Campaign_Case__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList1</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList2</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList3</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList4</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList5</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Get_Initiating_Campaign_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveImmediately</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>DeepClone</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Adult_Location_Cloning</name>
        <label>Adult Location Cloning</label>
        <locationX>963</locationX>
        <locationY>4748</locationY>
        <actionName>DeepClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_the_cloned_adult_Location</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>CM_Location__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRecord</typeName>
            <typeValue>CM_Location__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList1</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList2</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList3</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList4</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList5</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Get_Final_Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveImmediately</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>DeepClone</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Minor_Cloned_Campaign_Case</name>
        <label>Minor Cloned Campaign Case</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <actionName>DeepClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_New_Minor_Resident_Intake</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Campaign_Case__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRecord</typeName>
            <typeValue>Campaign_Case__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList1</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList2</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList3</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList4</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList5</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Get_Initiating_Campaign_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveImmediately</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>DeepClone</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Minor_Location_Cloning</name>
        <label>Minor Location Cloning</label>
        <locationX>699</locationX>
        <locationY>4964</locationY>
        <actionName>DeepClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_the_cloned_Location</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>CM_Location__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRecord</typeName>
            <typeValue>CM_Location__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList1</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList2</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList3</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList4</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList5</typeName>
            <typeValue>litify_pm__Intake__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Get_Final_Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveImmediately</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>DeepClone</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Minor_Resident_Values</name>
        <label>Assign Minor Resident Values</label>
        <locationX>699</locationX>
        <locationY>4532</locationY>
        <assignmentItems>
            <assignToReference>var_Resident_Intake_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Residents_With_Last_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Minor_Resident_Intake.Agent_Sent_E_Sign_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Resident_Intake.Qualification_Processed_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Resident_Intake.litify_pm__Retainer_Agreement_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Resident_Intake.litify_pm__Retainer_Agreement_Signed__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Minor_Campaign_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_13</name>
        <label>Assignment 13</label>
        <locationX>963</locationX>
        <locationY>4532</locationY>
        <assignmentItems>
            <assignToReference>var_Resident_Intake_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Residents_With_Last_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Adult_Campaign_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Resident_Variables</name>
        <label>Resident Minor Variables</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>ResidentCreationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_col_Extra_Residents_Intakes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Minor_Resident_Intake</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Intakes_for_New_Resident_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LongForm_Values</name>
        <label>LongForm Values</label>
        <locationX>611</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>var_Policy_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Insurance_Check</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Policy_Holder_Info</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Policy_Holder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Insurance_Provider_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Insurance_Provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Policy_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Policy_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Policy_Coverage_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Policy_Coverage_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Property_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Type_of_Property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LevelOfDamage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Level_Of_Damage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Total_Square_Foot2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Square_Footage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Received_Damage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Vehicle_Damage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Description_of_Property</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Vehicle_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Other_Structures_Damaged</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Property_OtherStructuresOrImprovementsDamaged_PSQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Business_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Type_of_Business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Title_At_Business</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Title_with_business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Years_in_Operations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Business_YearsInOperation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Annual_Revenue_Estimate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Business_AnnualRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Legal_Name_Of_Business</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_Business_LegalNameOfBusiness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Description_of_Injury</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_LF_DescriptionOfInjury_PSQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Services_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QU_FL_SeekMedicalAttention_PSQ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Policy_and_Damage_Claim_Creation_Routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resident_Variables</name>
        <label>Resident Variables</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>ResidentCreationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_col_Extra_Residents_Intakes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_New_Resident_Intake</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Intakes_for_New_Resident_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_LF_BusinessType_Commercial</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Commercial Business&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_LF_No_Damage</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Damaged</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_LF_Vehicles_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicles</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_SF_First_Responder</name>
        <choiceText>First Responder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Responder</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_SF_Visiting_Friend_or_Family</name>
        <choiceText>Visiting Friend or Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visiting Friend or Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Is_Affected_Verification</name>
        <choiceText>Client is inside of zone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inside of Zone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_is_Outside_Verification</name>
        <choiceText>Outside of Zone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outside of Zone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Generate_New_Document</name>
        <choiceText>Generate New Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate New Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>Go_to_Long_Form</name>
        <choiceText>Go to Long Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Go to Long Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Commercial</name>
        <choiceText>Commercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Insurance_Homeowners</name>
        <choiceText>Home Owners</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Owners</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Insurance_None_Above</name>
        <choiceText>None of the Above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None of the Above</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Insurance_Renters</name>
        <choiceText>Renters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renters</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Minor</name>
        <choiceText>Minor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Minor</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Moderate</name>
        <choiceText>Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Personal</name>
        <choiceText>Personal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Significant</name>
        <choiceText>Significant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Significant</stringValue>
        </value>
    </choices>
    <choices>
        <name>LF_C_Total_Loss</name>
        <choiceText>Total Loss</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Total Loss</stringValue>
        </value>
    </choices>
    <choices>
        <name>Move_On_to_Signature</name>
        <choiceText>Move On to Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Move On to Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_E_Sign_Again</name>
        <choiceText>Send E-Sign Again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send E-Sign Again</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_C_Physical_and_Property</name>
        <choiceText>Physical and Property (They received both Physical injuries and had property that was damaged)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical and Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_C_Physically</name>
        <choiceText>Physically Injured (Injuries of smoke/flame/etc. must have occurred inside perimeter of fire.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physically Injured</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_C_Property_Damaged</name>
        <choiceText>Property Damaged</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property Damaged</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Altadena</name>
        <choiceText>Altadena</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altadena</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Commercial</name>
        <choiceText>Commercial Property Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Property Owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Eaton</name>
        <choiceText>Eaton (Also known as Altadena)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Eaton</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Homeowner</name>
        <choiceText>Homeowner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homeowner</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Malibu</name>
        <choiceText>Malibu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Malibu</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_None_Above</name>
        <choiceText>None of the Above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None of the Above</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Palisades</name>
        <choiceText>Palisades</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Palisades</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Pasadena</name>
        <choiceText>Pasadena</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pasadena</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Renter</name>
        <choiceText>Renter (if home)/ Lesee (if a business and not the property owner)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renter</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Santa_Clarita</name>
        <choiceText>Santa Clarita</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santa Clarita</stringValue>
        </value>
    </choices>
    <choices>
        <name>SF_Fire_Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>routes the resident for intake creation based on age restrictions.</description>
        <name>Age_of_Resident_Routing</name>
        <label>Age of Resident Routing</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Adult_Cloned_Campaign_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>An Adult</defaultConnectorLabel>
        <rules>
            <name>Under_Age</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Resident_Age</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minor_Cloned_Campaign_Case</targetReference>
            </connector>
            <label>Under Age</label>
        </rules>
    </decisions>
    <decisions>
        <name>Policy_and_Damage_Claim_Creation_Routing</name>
        <label>Policy and Damage Claim Creation Routing</label>
        <locationX>611</locationX>
        <locationY>2720</locationY>
        <defaultConnector>
            <targetReference>Update_LongForm_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Records</defaultConnectorLabel>
        <rules>
            <name>Create_Policy_and_Damage_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LongForm_Policy</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LongForm_Damage_Claim</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Policy_Record</targetReference>
            </connector>
            <label>Create Policy and Damage Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Sign_Routing</name>
        <label>Post Sign Routing</label>
        <locationX>611</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_LongForm_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Residents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initiating_Intake.litify_pm__Client__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Intakes_for_New_Resident_Record</targetReference>
            </connector>
            <label>Add Residents</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_all_Resident_Routing</name>
        <label>Process all Resident Routing</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Newly_Created_Resident_Intakes_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_Residents_to_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intakes_for_New_Resident_Record.CM_Location_Count__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Resident_Creation_Screen</targetReference>
            </connector>
            <label>More Residents to Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Residents_with_long_form_info</name>
        <label>Update Residents with long form info</label>
        <locationX>831</locationX>
        <locationY>4424</locationY>
        <defaultConnector>
            <targetReference>Assignment_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Minors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Residents_With_Last_Info.Is_your_loved_one_still_living__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Minor_Resident_Values</targetReference>
            </connector>
            <label>Update Minors</label>
        </rules>
    </decisions>
    <description>Long form of the questionnaire for LA Wildfires, this is meant to collect important partner information that doesn&#39;t have to do with obtaining engagement letters, part of phase 2 of questionnaire flow to revamp and place each core item in separate flows.</description>
    <dynamicChoiceSets>
        <description>Personal info collection, used for client/party suffix collection</description>
        <name>Personal_Client_Suffix</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Suffix__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Personal_Florida_Resident</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Current_Florida_Resident__c</picklistField>
        <picklistObject>litify_pm__Intake__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>creates a name for the damage claim object</description>
        <name>fx_Damage_Claim_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Test&quot; + &quot; - &quot; + {!QU_LF_Type_of_Property}</expression>
    </formulas>
    <formulas>
        <description>grabs today date for updating fields</description>
        <name>fx_TODAY_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>SRLG | Case Questionnaire | Long Form | LA WildFires {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Case Questionnaire | Long Form | LA WildFires</label>
    <loops>
        <name>Update_Residents_With_Last_Info</name>
        <label>Update Residents With Last Info</label>
        <locationX>611</locationX>
        <locationY>4316</locationY>
        <collectionReference>var_col_Extra_Residents_Intakes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Residents_with_long_form_info</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates damage claim from address information in short form</description>
        <name>Create_Damage_Claim</name>
        <label>Create Damage Claim</label>
        <locationX>479</locationX>
        <locationY>3044</locationY>
        <connector>
            <targetReference>Update_Fields_for_Damage_Claim_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Property__c</field>
            <value>
                <elementReference>QU_LF_Vehicle_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_of_Damage__c</field>
            <value>
                <elementReference>QU_LF_Level_Of_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fx_Damage_Claim_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Structures_Damaged__c</field>
            <value>
                <elementReference>QU_LF_Property_OtherStructuresOrImprovementsDamaged_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Description_of_Injury__c</field>
            <value>
                <elementReference>QU_LF_DescriptionOfInjury_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>QU_LF_Type_of_Property</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_Damage__c</field>
            <value>
                <elementReference>QU_LF_Vehicle_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Required__c</field>
            <value>
                <elementReference>QU_FL_SeekMedicalAttention_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Square_Foot__c</field>
            <value>
                <elementReference>QU_LF_Square_Footage</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Damage_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Minor_Damage_Claim</name>
        <label>Create New Minor Damage Claim</label>
        <locationX>699</locationX>
        <locationY>4856</locationY>
        <connector>
            <targetReference>Minor_Location_Cloning</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_of_Property__c</field>
            <value>
                <elementReference>var_Description_of_Property</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>var_Resident_Intake_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_of_Damage__c</field>
            <value>
                <elementReference>var_LevelOfDamage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Minor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Structures_Damaged__c</field>
            <value>
                <elementReference>var_Other_Structures_Damaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Description_of_Injury__c</field>
            <value>
                <elementReference>var_Description_of_Injury</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>var_Property_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_Damage__c</field>
            <value>
                <elementReference>var_Received_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Required__c</field>
            <value>
                <elementReference>var_Services_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Square_Foot__c</field>
            <value>
                <elementReference>var_Total_Square_Foot2</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Damage_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Minor_Policy</name>
        <label>Create New Minor Policy</label>
        <locationX>699</locationX>
        <locationY>4748</locationY>
        <connector>
            <targetReference>Create_New_Minor_Damage_Claim</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Intake__c</field>
            <value>
                <elementReference>var_Resident_Intake_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Provider_Name__c</field>
            <value>
                <elementReference>var_Insurance_Provider_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Coverage_Description__c</field>
            <value>
                <elementReference>var_Policy_Coverage_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder_Info__c</field>
            <value>
                <elementReference>var_Policy_Holder_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>var_Policy_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Type__c</field>
            <value>
                <elementReference>var_Policy_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Minor_Resident_Intake</name>
        <label>Create New Minor Resident Intake</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Update_Minors_Intake</targetReference>
        </connector>
        <inputAssignments>
            <field>Calling_on_behalf_of_you_or_loved_one__c</field>
            <value>
                <stringValue>Loved one</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Case__c</field>
            <value>
                <elementReference>Minor_Cloned_Campaign_Case.clonedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Partner__c</field>
            <value>
                <elementReference>Get_Intakes_for_New_Resident_Record.Campaign_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_Initiating_Intake.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name_of_Trust_Estate__c</field>
            <value>
                <elementReference>Get_Initiating_Intake.Full_Name_of_Trust_Estate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trust_Estate_Verification__c</field>
            <value>
                <elementReference>Get_Initiating_Intake.Trust_Estate_Verification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_Type__c</field>
            <value>
                <elementReference>Get_Initiating_Intake.litify_pm__Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Resident_Intake</name>
        <label>Create New Resident Intake</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Get_New_Resident_Intake</targetReference>
        </connector>
        <inputAssignments>
            <field>Calling_on_behalf_of_you_or_loved_one__c</field>
            <value>
                <stringValue>Self</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Case__c</field>
            <value>
                <elementReference>Adult_Cloned_Campaign_Case.clonedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Partner__c</field>
            <value>
                <elementReference>Get_Intakes_for_New_Resident_Record.Campaign_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_Initiating_Intake.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Case_Type__c</field>
            <value>
                <elementReference>Get_Initiating_Intake.litify_pm__Case_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Client__c</field>
            <value>
                <elementReference>Create_New_Resident_Party</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Resident_Party</name>
        <label>Create New Resident Party</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Age_of_Resident_Routing</targetReference>
        </connector>
        <inputAssignments>
            <field>Age_Provided__c</field>
            <value>
                <elementReference>Loop_Resident_Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>Loop_Resident_Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix__c</field>
            <value>
                <elementReference>Loop_Resident_Suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Email__c</field>
            <value>
                <elementReference>Loop_Resident_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__First_Name__c</field>
            <value>
                <elementReference>Loop_Resident_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Last_Name__c</field>
            <value>
                <elementReference>Loop_Resident_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Phone_Mobile__c</field>
            <value>
                <elementReference>Loop_Resident_Phone_Number.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Policy_Record</name>
        <label>Create Policy Record</label>
        <locationX>479</locationX>
        <locationY>2828</locationY>
        <connector>
            <targetReference>Update_Policy_Record_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Intake__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Provider_Name__c</field>
            <value>
                <elementReference>QU_LF_Insurance_Provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_Insurance_Provider_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Coverage_Description__c</field>
            <value>
                <elementReference>QU_LF_Coverage_Limits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder_Info__c</field>
            <value>
                <elementReference>var_Policy_Holder_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>QU_LF_Policy_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Type__c</field>
            <value>
                <elementReference>QU_LF_Insurance_Check</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Record</name>
        <label>Get Client Record</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ShortForm_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initiating_Intake.litify_pm__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Campaign_Case</name>
        <label>Get Final Campaign Case</label>
        <locationX>611</locationX>
        <locationY>3668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Final_Party_Client_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Final_Intake_Outputs.Campaign_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Damage_Claim</name>
        <label>Get Final Damage Claim</label>
        <locationX>611</locationX>
        <locationY>3992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Final_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Damage_Claim</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Damage_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Intake_Outputs</name>
        <label>Get Final Intake Outputs</label>
        <locationX>611</locationX>
        <locationY>3560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Final_Campaign_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Location</name>
        <label>Get Final Location</label>
        <locationX>611</locationX>
        <locationY>4100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Intake_Questionnaire_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Party_Client_Record</name>
        <label>Get Final Party/Client Record</label>
        <locationX>611</locationX>
        <locationY>3776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Final_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Final_Intake_Outputs.litify_pm__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Policy</name>
        <label>Get Final Policy</label>
        <locationX>611</locationX>
        <locationY>3884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Final_Damage_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Policy_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initiating_Campaign_Case</name>
        <label>Get Initiating Campaign Case</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Signature_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initiating_Intake.Campaign_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initiating_Intake</name>
        <label>Get Initiating Intake</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intakes_for_New_Resident_Record</name>
        <label>Get Intakes for New Resident Record</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_all_Resident_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LongForm_Damage_Claim</name>
        <label>Get LongForm Damage Claim</label>
        <locationX>611</locationX>
        <locationY>2396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Long_Form_Eaton</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Damage_Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Grabs a longform policy info if previously created.</description>
        <name>Get_LongForm_Policy</name>
        <label>Get LongForm Policy</label>
        <locationX>611</locationX>
        <locationY>2288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LongForm_Damage_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associated_Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Minor_Resident_Intake</name>
        <label>Get Minor Resident Intake</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Resident_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Minor_Resident_Intake</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Resident_Intake</name>
        <label>Get New Resident Intake</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resident_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Resident_Intake</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If an agent already filled the information out we don&#39;t want them to recreate this.</description>
        <name>Get_ShortForm_Location</name>
        <label>Get ShortForm Location</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initiating_Campaign_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Adult_Campaign_Case</name>
        <label>Update Adult Campaign Case</label>
        <locationX>963</locationX>
        <locationY>4640</locationY>
        <connector>
            <targetReference>Adult_Location_Cloning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Residents_With_Last_Info.Campaign_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Cause__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>var_Resident_Intake_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Location_Affected__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Location__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Experience__c</field>
        </inputAssignments>
        <object>Campaign_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields_for_Damage_Claim_Created</name>
        <label>Update Fields for Damage Claim Created</label>
        <locationX>479</locationX>
        <locationY>3152</locationY>
        <connector>
            <targetReference>Update_Location_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LongForm_Policy.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description_of_Property__c</field>
            <value>
                <elementReference>QU_LF_Vehicle_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_of_Damage__c</field>
            <value>
                <elementReference>QU_LF_Level_Of_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Structures_Damaged__c</field>
            <value>
                <elementReference>QU_LF_Property_OtherStructuresOrImprovementsDamaged_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Description_of_Injury__c</field>
            <value>
                <elementReference>QU_LF_DescriptionOfInjury_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>QU_LF_Type_of_Property</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_Damage__c</field>
            <value>
                <elementReference>QU_LF_Vehicle_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Required__c</field>
            <value>
                <elementReference>QU_FL_SeekMedicalAttention_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Square_Foot__c</field>
            <value>
                <elementReference>QU_LF_Square_Footage</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Damage_Claim__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update all the questionnaire values into the field for questionnaire responses to generate a word doc output</description>
        <name>Update_Intake_Questionnaire_Output</name>
        <label>Update Intake Questionnaire Output</label>
        <locationX>611</locationX>
        <locationY>4208</locationY>
        <connector>
            <targetReference>Update_Residents_With_Last_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>litify_pm__Questions_and_answers__c</field>
            <value>
                <elementReference>QuestionnaireResponseDocumentOutput</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location_Information</name>
        <label>Update Location Information</label>
        <locationX>611</locationX>
        <locationY>3344</locationY>
        <connector>
            <targetReference>Alternate_ID_Form_Pause_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Annual_Revenue_Estimate__c</field>
            <value>
                <elementReference>QU_LF_Business_AnnualRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Business_Description__c</field>
            <value>
                <elementReference>QU_LF_Type_of_Business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Legal_Name_of_Business__c</field>
            <value>
                <elementReference>QU_LF_Business_LegalNameOfBusiness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Title_at_Business__c</field>
            <value>
                <elementReference>QU_LF_Title_with_business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Years_in_Operation__c</field>
            <value>
                <elementReference>QU_LF_Business_YearsInOperation</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Location__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LongForm_Damage_Claim</name>
        <label>Update LongForm Damage Claim</label>
        <locationX>743</locationX>
        <locationY>2936</locationY>
        <connector>
            <targetReference>Update_Location_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LongForm_Damage_Claim.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description_of_Property__c</field>
            <value>
                <elementReference>QU_LF_Vehicle_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_of_Damage__c</field>
            <value>
                <elementReference>QU_LF_Level_Of_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Structures_Damaged__c</field>
            <value>
                <elementReference>QU_LF_Property_OtherStructuresOrImprovementsDamaged_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Description_of_Injury__c</field>
            <value>
                <elementReference>QU_LF_DescriptionOfInjury_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>QU_LF_Type_of_Property</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_Damage__c</field>
            <value>
                <elementReference>QU_LF_Vehicle_Damage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Required__c</field>
            <value>
                <elementReference>QU_FL_SeekMedicalAttention_PSQ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Square_Foot__c</field>
            <value>
                <elementReference>QU_LF_Square_Footage</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Damage_Claim__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LongForm_Policy</name>
        <label>Update LongForm Policy</label>
        <locationX>743</locationX>
        <locationY>2828</locationY>
        <connector>
            <targetReference>Update_LongForm_Damage_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LongForm_Policy.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Insurance_Provider_Name__c</field>
            <value>
                <elementReference>QU_LF_Insurance_Provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Coverage_Description__c</field>
            <value>
                <elementReference>QU_LF_Coverage_Limits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder_Info__c</field>
            <value>
                <elementReference>QU_LF_Policy_Holder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>QU_LF_Policy_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Type__c</field>
            <value>
                <elementReference>QU_LF_Insurance_Check</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Policy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Minor_Campaign_Case</name>
        <label>Update Minor Campaign Case</label>
        <locationX>699</locationX>
        <locationY>4640</locationY>
        <connector>
            <targetReference>Create_New_Minor_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Residents_With_Last_Info.Campaign_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Cause__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>var_Resident_Intake_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Location_Affected__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Location__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Experience__c</field>
        </inputAssignments>
        <object>Campaign_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Minors_Intake</name>
        <label>Update Minors Intake</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Get_Minor_Resident_Intake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Minor_Resident_Intake</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calling_on_behalf_of_you_or_loved_one__c</field>
            <value>
                <stringValue>Loved one</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_legal_POA_documents__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_First_Name__c</field>
            <value>
                <elementReference>Loop_Resident_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Last_Name__c</field>
            <value>
                <elementReference>Loop_Resident_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Middle_Name__c</field>
            <value>
                <elementReference>Loop_Resident_Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injured_Party_Suffix__c</field>
            <value>
                <elementReference>Loop_Resident_Suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_your_loved_one_still_living__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Policy_Record_Created</name>
        <label>Update Fields Policy Record Created</label>
        <locationX>479</locationX>
        <locationY>2936</locationY>
        <connector>
            <targetReference>Create_Damage_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initiating_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Insurance_Provider_Name__c</field>
            <value>
                <elementReference>QU_LF_Insurance_Provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Coverage_Description__c</field>
            <value>
                <elementReference>QU_LF_Coverage_Limits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder_Info__c</field>
            <value>
                <elementReference>QU_LF_Policy_Holder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number__c</field>
            <value>
                <elementReference>QU_LF_Policy_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Type__c</field>
            <value>
                <elementReference>QU_LF_Insurance_Check</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Policy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_cloned_adult_Location</name>
        <label>Update the cloned adult Location</label>
        <locationX>963</locationX>
        <locationY>4856</locationY>
        <connector>
            <targetReference>Update_Residents_With_Last_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Adult_Location_Cloning.clonedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>var_Resident_Intake_ID</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Location__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_cloned_Location</name>
        <label>Update the cloned Location</label>
        <locationX>699</locationX>
        <locationY>5072</locationY>
        <connector>
            <targetReference>Update_Residents_With_Last_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Minor_Location_Cloning.clonedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>var_Resident_Intake_ID</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Location__c</object>
    </recordUpdates>
    <screens>
        <description>Used to pause the screen while agents manage it.</description>
        <name>Alternate_ID_Form_Pause_Screen</name>
        <label>Alternate ID Form Pause Screen</label>
        <locationX>611</locationX>
        <locationY>3452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Final_Intake_Outputs</targetReference>
        </connector>
        <fields>
            <name>alt_id_Ending_Display_Script_Guide</name>
            <fieldText>&lt;h3&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 13pt;&quot;&gt;Alternate ID Uploads&lt;/strong&gt;&lt;/h3&gt;&lt;h4&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 11pt;&quot;&gt;Question: &lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(102, 102, 102); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Do you have any proof of residency in the burn area that youd be willing to provide upfront? Acceptable documents include a utility bill, valid drivers license, etc.&lt;/span&gt;&lt;/h4&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Important Note:&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt; Providing an alternate ID is &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;NOT required.&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt; If the client is able and willing to share a proof of residency document, follow the steps below to upload it. Otherwise, proceed with the screen flow.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 13pt;&quot;&gt;Alternate ID Upload Instructions&lt;/strong&gt;&lt;/h3&gt;&lt;ol&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Request Upload Link:&lt;/strong&gt;&lt;/li&gt;&lt;/ol&gt;&lt;ul&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Click the &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;&quot;Request Proof of ID&quot;&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt; button in the top right of the client file.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Follow the on-screen prompts to send the upload link via &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;SMS or Email.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/ul&gt;&lt;ol&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Locate the Uploaded Document:&lt;/strong&gt;&lt;/li&gt;&lt;/ol&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Once the client uploads their document, access it here:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;&lt;/span&gt;&lt;a href=&quot;https://www.dropbox.com/scl/fo/rphganunlesih8bayxx8i/AJS6ypc5B0V1TZ36_CSYhmk?rlkey=lkwej2ac9vk5ej3gxyxz0nzal&amp;amp;st=in81f6wj&amp;amp;dl=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 12pt; color: rgb(0, 0, 0);&quot;&gt; &lt;/a&gt;&lt;a href=&quot;https://www.dropbox.com/scl/fo/rphganunlesih8bayxx8i/AJS6ypc5B0V1TZ36_CSYhmk?rlkey=lkwej2ac9vk5ej3gxyxz0nzal&amp;amp;st=in81f6wj&amp;amp;dl=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 12pt; color: rgb(17, 85, 204);&quot;&gt;&lt;u&gt;Proof of Residency Folder&lt;/u&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;ol&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Save &amp;amp; Upload the Document:&lt;/strong&gt;&lt;/li&gt;&lt;/ol&gt;&lt;ul&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Download the clients specific document to your computer.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Open the clients file and go to the &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;&quot;Documents&quot;&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt; tab.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Drag and drop the downloaded document into this tab. It should upload automatically.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/ul&gt;&lt;ol&gt;&lt;li&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Finalize the Upload:&lt;/strong&gt;&lt;/li&gt;&lt;/ol&gt;&lt;ul&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Add a description: &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Proof of Client Residency&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Verify the document appears in the clients file.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Delete&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt; the file from your computer once you confirm the upload.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Long_Form_Eaton</name>
        <label>Long Form Eaton</label>
        <locationX>611</locationX>
        <locationY>2504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LongForm_Values</targetReference>
        </connector>
        <fields>
            <name>CQC_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;-- Long Form Questions --&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Policy_Related_Questions_Section</name>
            <fieldText>Policy Related Questions Section</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Policy_Related_Questions_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QU_LF_Insurance_Check</name>
                    <choiceReferences>LF_C_Insurance_Homeowners</choiceReferences>
                    <choiceReferences>LF_C_Insurance_Renters</choiceReferences>
                    <choiceReferences>LF_C_Insurance_None_Above</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Policy.Policy_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Did you have Homeowner&#39;s or Renter&#39;s insurance at the time of the damage? (PSQ)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Insurance_Provider</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Policy.Insurance_Provider_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>What is the name of your insurance provider? (PSQ)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Coverage_Limits</name>
                    <defaultValue>
                        <stringValue>{!Get_LongForm_Policy.Policy_Coverage_Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>What are the coverage limits? (PSQ)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Policy_Related_Questions_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QU_LF_Policy_Holder</name>
                    <choiceReferences>Choice_Yes</choiceReferences>
                    <choiceReferences>Choice_No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Policy.Policy_Holder_Info__c</elementReference>
                    </defaultValue>
                    <fieldText>Are you the policy holder? (PSQ)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Policy_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Policy.Policy_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>What is your policy number?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Property_Related_Questions_Section</name>
            <fieldText>Property Related Questions Section</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Related_Questions_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QU_LF_Type_of_Property</name>
                    <choiceReferences>LF_C_Personal</choiceReferences>
                    <choiceReferences>LF_C_Commercial</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Damage_Claim.Property_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>What was the type of the property that got damaged in the fire? (PSQ)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Square_Footage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>QU_LF_Square_Footage</elementReference>
                    </defaultValue>
                    <fieldText>What is your estimate of Square Footage? (PSQ)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Vehicle_Description</name>
                    <defaultValue>
                        <stringValue>{!Get_LongForm_Damage_Claim.Description_of_Property__c}</stringValue>
                    </defaultValue>
                    <fieldText>Please describe the vehicle:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>QU_LF_Vehicle_Damage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>c_LF_Vehicles_Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Related_Questions_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QU_LF_Level_Of_Damage</name>
                    <choiceReferences>LF_C_Minor</choiceReferences>
                    <choiceReferences>LF_C_Moderate</choiceReferences>
                    <choiceReferences>LF_C_Significant</choiceReferences>
                    <choiceReferences>LF_C_Total_Loss</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Damage_Claim.Level_of_Damage__c</elementReference>
                    </defaultValue>
                    <fieldText>What was the level of damage to the property? (PSQ)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Vehicle_Damage</name>
                    <choiceReferences>c_LF_Vehicles_Yes</choiceReferences>
                    <choiceReferences>c_LF_No_Damage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Damage_Claim.Received_Damage__c</elementReference>
                    </defaultValue>
                    <fieldText>Were any vehicles damaged by the fire?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Property_OtherStructuresOrImprovementsDamaged_PSQ</name>
                    <choiceReferences>Choice_Yes</choiceReferences>
                    <choiceReferences>Choice_No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Damage_Claim.Other_Structures_Damaged__c</elementReference>
                    </defaultValue>
                    <fieldText>Do you have any other structures or improvements on the property that were damaged (Deck/pool/guest house/etc.)?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LF_Business_QU_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;____________________&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Business Related Questions&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;____________________&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QU_LF_Type_of_Property</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>LF_C_Commercial</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Business_Related_Questions_Section</name>
            <fieldText>Business Related Questions Section</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Related_Questions_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QU_LF_Type_of_Business</name>
                    <dataType>String</dataType>
                    <fieldText>What type of business was it?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>QU_LF_Type_of_Property</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>LF_C_Commercial</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QU_LF_Business_YearsInOperation</name>
                    <dataType>Number</dataType>
                    <fieldText>How many years in operation?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Business_LegalNameOfBusiness</name>
                    <dataType>String</dataType>
                    <fieldText>What is the exact legal name of the company?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Related_Questions_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QU_LF_Title_with_business</name>
                    <dataType>String</dataType>
                    <fieldText>What is your title(s) with the business</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QU_LF_Business_AnnualRevenue</name>
                    <dataType>Currency</dataType>
                    <fieldText>Estimate of annual revenue?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QU_LF_Type_of_Property</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>LF_C_Commercial</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Personal_Injury_Section</name>
            <fieldText>Personal Injury Section</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Injury_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QU_LF_DescriptionOfInjury_PSQ</name>
                    <defaultValue>
                        <stringValue>{!Get_LongForm_Damage_Claim.Physical_Description_of_Injury__c}</stringValue>
                    </defaultValue>
                    <fieldText>Please describe your injury:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Injury_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QU_FL_SeekMedicalAttention_PSQ</name>
                    <choiceReferences>Choice_Yes</choiceReferences>
                    <choiceReferences>Choice_No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_LongForm_Damage_Claim.Services_Required__c</elementReference>
                    </defaultValue>
                    <fieldText>Did you have to seek medical attention for your injuries?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Newly_Created_Resident_Intakes_Review</name>
        <label>Newly Created Resident Intakes Review</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_LongForm_Policy</targetReference>
        </connector>
        <fields>
            <name>NewlyCreatedIntakes_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quick show of the newly created intakes, they can be found at the end also.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Table_of_new_Residents</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>litify_pm__Intake__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Residents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_col_Extra_Residents_Intakes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;litify_pm__Client__c&quot;,&quot;guid&quot;:&quot;column-9974&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Client&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;litify_pm__lit_Display_Name_Link__c&quot;,&quot;guid&quot;:&quot;column-fe5d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Intake&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-654f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Used to navigate decisions post signature and provide any scripting as needed</description>
        <name>Post_Signature_Review</name>
        <label>Post Signature Review</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Post_Signature_Routing_Screen</targetReference>
        </connector>
        <fields>
            <name>Post_Signature_Display_Text_Living</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;-- Signature Has Been Sent --&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Make sure it has been signed before continuing&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;-- Signing Document Guidance Script --&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Great! Now that we have gone through our first set of questions, Ill walk you through our retainer agreement to ensure everything is clear before signing the document. Once weve completed the signature portion, well move on to the next set of questions to continue the intake process.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12pt; background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Explaining the Retainer Agreement:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;The very first page of the paperwork is our retainer agreement. It basically states that we&#39;ll evaluate your case for free, and if we are not successful in recovering funds for you, you won&#39;t have to pay for our time or expenses. You will owe us nothing. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;But if we do win, you&#39;ll get 70% of the settlement and the other 30% will go to our firm for our legal services. I also wanted to give you a rundown on some of the potential other costs you might encounter when pursuing any type of case, like court and filing costs, postage, photocopy, as well as retrieving medical records. In the event of a successful resolution, you agree to pay our firms a contingency fee equal to 30% of the value of your recovery, before all client expenses; which will have been advanced by us. Again though, we pay these fees on your behalf and only recover them if we achieve a successful outcome for you, so were taking all the risk and will work our hardest to get a good result for you. Do you have any questions about the agreement?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Then, you will see a HIPAA release form, this is just a medical release form we will send to your hospital to get information regarding this claim specifically and verify the information we just went over today.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;To enhance your understanding of the paperwork, I&#39;ll connect you to a brief 2-minute recording from our Managing Attorney, Shannon Overcash.&amp;nbsp;I will come back on the line when the recording is over.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Initiating_Intake.Calling_on_behalf_of_you_or_loved_one__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Self</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Initiating_Intake.Is_your_loved_one_still_living__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Post_Signature_Display_Text_Death</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;-- Signature Has Been Sent --&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Make sure it has been signed before continuing&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;-- Signing Document Guidance Script --&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent; font-size: 12pt;&quot;&gt;Great! Now that we have gone through our first set of questions, Ill walk you through our retainer agreement to ensure everything is clear before signing the document. Once weve completed the signature portion, well move on to the next set of questions to continue the intake process.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent; font-size: 12pt;&quot;&gt;Explaining the Retainer Agreement:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;The very first page of the paperwork is our retainer agreement. It basically states that we&#39;ll evaluate your case for free, and if we are not successful in recovering funds for you, you won&#39;t have to pay for our time or expenses. You will owe us nothing. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;But if we do win, you&#39;ll get 75% of the settlement and the other 25% will go to our firm for our legal services. I also wanted to give you a rundown on some of the potential other costs you might encounter when pursuing any type of case, like court and filing costs, postage, photocopy, as well as retrieving medical records. In the event of a successful resolution, you agree to pay our firms a contingency fee equal to 25% of the value of your recovery, before all client expenses; which will have been advanced by us. Again though, we pay these fees on your behalf and only recover them if we achieve a successful outcome for you, so were taking all the risk and will work our hardest to get a good result for you. Do you have any questions about the agreement?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Then, you will see a HIPAA release form, this is just a medical release form we will send to your hospital to get information regarding this claim specifically and verify the information we just went over today.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;To enhance your understanding of the paperwork, I&#39;ll connect you to a brief 2-minute recording from our Managing Attorney, Shannon Overcash.&amp;nbsp;I will come back on the line when the recording is over.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Initiating_Intake.Is_your_loved_one_still_living__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Post_Signature_Script</name>
            <fieldText>&lt;p&gt;[Script Place Holder]&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue After Signed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_Signature_Routing_Screen</name>
        <label>Post Signature Routing Screen</label>
        <locationX>611</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_Sign_Routing</targetReference>
        </connector>
        <fields>
            <name>Add_Resident_Display_PS_Script</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;-- Collect Extra Resident Information --&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;PRIORITY -- Complete this before Warm Transfer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&quot;We want to make sure the Law Firm is able to take care of everyone affected by the fire from your household.&quot;  &lt;/p&gt;&lt;p&gt;&quot;We need to quickly collect some information on each person and we will continue the final questions that will help the law firm process your case.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>High_Priority_Display_PS_Script</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;-- High Priority Warm Transfer Script --&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://saddlerock.file.force.com/sfc/servlet.shepherd/version/download/068UJ00000LUaV0?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Warm Transfers to Partner Firm:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;I have received your signed retainer agreement, and everything looks great! Ill now transfer you to our partner firm who will go through some more questions with you and discuss the next steps of your potential case. Do you have any questions before I transfer you to the firm?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Please stay on the line for a few minutes while I get you transferred. Thanks!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;When we connect with an A&amp;amp;T representative, please provide them with:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Caller name&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Client name&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;Injury (death case via physical injury or commercial property loss)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Long_Form_PS_Display_Script</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;&lt;u&gt;Long Form&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;If you are a Setter, please transfer to an available Closer to continue the process if applicable.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&quot;We will now continue filling out the final information to help the Law Firm process your case.&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resident_Creation_Screen</name>
        <label>Resident_Creation_Screen</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Resident_Party</targetReference>
        </connector>
        <fields>
            <name>Add_Resident_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;-- Add Resident --&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This is Resident Number {!ResidentCreationCount} out of .&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loop_Resident_First_Name</name>
            <dataType>String</dataType>
            <fieldText>What is the person&#39;s first name?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loop_Resident_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>What is the person&#39;s last name?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loop_Resident_Middle_Name</name>
            <dataType>String</dataType>
            <fieldText>Are you able to provide their middle name? (get it if you can)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loop_Resident_Suffix</name>
            <choiceReferences>Personal_Client_Suffix</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do they have a suffix? (get it if you can, N/A otherwise)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loop_Resident_Age</name>
            <dataType>Number</dataType>
            <fieldText>What is this person&#39;s age?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loop_Resident_Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What is the best phone number to reach them at?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Loop_Resident_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you know what the best email to reach them is? (Optional, but important if you can get it)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Alt_ID_Upload_Stage</name>
        <isActive>true</isActive>
        <label>Alt ID Upload</label>
        <stageOrder>35</stageOrder>
    </stages>
    <stages>
        <name>Generate_Document_Stage</name>
        <isActive>true</isActive>
        <label>Generate Document</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Long_Form_Stage</name>
        <isActive>true</isActive>
        <label>Long Form</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Partner_Assignment_Stage</name>
        <isActive>true</isActive>
        <label>Partner Assignment</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <description>First part of the shortform after basic intro questions</description>
        <name>Shortform_CQC_Stage</name>
        <isActive>true</isActive>
        <label>Shortform CQC</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>ShortForm_Personal_Stage</name>
        <isActive>true</isActive>
        <label>ShortForm Personal Info</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Signing_Review_stage</name>
        <isActive>true</isActive>
        <label>Signing Review</label>
        <stageOrder>25</stageOrder>
    </stages>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Initiating_Intake</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Used as the email template for high Priority Emails</description>
        <name>High_Priority_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;EB Garamond&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hi Everyone,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;EB Garamond&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;We have a high-value case coming your way shortly. Please be ready for a live transfer in the next few minutes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 11pt; font-family: &amp;quot;EB Garamond&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Client information:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;EB Garamond&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Caller Name: {!Get_Client_Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;EB Garamond&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Client Name: &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: &amp;quot;EB Garamond&amp;quot;, serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Client_Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;EB Garamond&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;CQC Outputs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;EB Garamond&amp;quot;, serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; -- Coming Soon --&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Used to fill in the questionnaire response document that creates a word doc to send via email to our partners.</description>
        <name>QuestionnaireResponseDocumentOutput</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Questionnaire Responses

Qualifying Questions:

Consent to Receive Notification On or Behalf of SRLG (MAY BE BLANK. Only asked if its an inbound call)
Answer: {!Get_Final_Intake_Outputs.Consent_Receive_Notification_oobo_SRLG__c}

Do you agree to provide accurate information?
Answer: {!Get_Final_Intake_Outputs.Agree_to_provide_accurate_information__c}

Case Type
Answer: {!Get_Final_Intake_Outputs.litify_pm__Case_Type__r.Name}

Have you previously signed documents, either physically or electronically, regarding this particular matter with any other law firm?
Answer: {!Get_Final_Intake_Outputs.Working_with_another_law_firm__c}

Are you calling in on behalf of you or a loved one?
Answer: {!Get_Final_Intake_Outputs.Calling_on_behalf_of_you_or_loved_one__c}

Client
Answer: {!Get_Final_Intake_Outputs.litify_pm__Client__r.Name}

What is your relation to this individual? (MAY BE BLANK. Only asked if its an OBO case)
Answer: {!Get_Final_Intake_Outputs.What_is_your_relationship_to_IP_pk__c}

I hate to ask this, but is your loved one still living? (MAY BE BLANK. Only asked if its an OBO case)
Answer: {!Get_Final_Intake_Outputs.Is_your_loved_one_still_living__c}

Injured Party&#39;s First Name
Answer: {!Get_Final_Intake_Outputs.Injured_Party_First_Name__c}

Injured Party&#39;s Middle Name
Answer: {!Get_Final_Intake_Outputs.Injured_Party_Middle_Name__c}

Injured Party&#39;s Last Name
Answer: {!Get_Final_Intake_Outputs.Injured_Party_Last_Name__c}

Injured Party&#39;s Suffix
Answer: {!Get_Final_Intake_Outputs.Injured_Party_Suffix__c}

Does the caller have authority to sign on behalf of the Injured Party? (MAY BE BLANK. Only asked if its a POA case)
Answer: {!Get_Final_Intake_Outputs.Does_caller_have_authority_to_sign__c}

Are you the Next of Kin (NOK)? (MAY BE BLANK. Only asked if its a death case)
Answer: {!Get_Final_Intake_Outputs.Next_of_Kin_NOK_Check__c}

Are you the Executor of Estate (EOE)? (MAY BE BLANK. Only asked if its a death case)
Answer: {!Get_Final_Intake_Outputs.Executor_of_Estate_EOE_Check__c}

What is the injured party&#39;s date of birth?
Answer: {!Get_Final_Intake_Outputs.Injured_Party_Birthdate__c}

What is the date of their death (passing)? (MAY BE BLANK. Only asked if its a death case)
Answer: {!Get_Final_Intake_Outputs.Injured_Party_Date_of_Death__c}

What is your date of birth?
Answer: {!Get_Final_Intake_Outputs.Injured_Party_Birthdate__c}

Which fire were you affected by?
Answer: {!Get_Final_Campaign_Case.Name_of_Location_Affected__c}

Were you physically injured from the fires or was your property damaged?
Answer: {!Get_Final_Campaign_Case.Type_of_Experience__c}

How were you physically injured in the fire? (MAY BE BLANK. Only asked if they were physically injured from the fire)
Answer: {!Get_Final_Campaign_Case.Associated_Cause__c}

Are you the Homeowner or Commercial Property Owner?
Answer: {!Get_Final_Campaign_Case.Relationship_to_Location__c}

Damaged Property Address Line 1: (Ex. 123 Main St.)
Answer: {!Get_Final_Location.Business_CompoundAddress__Street__s}

Damaged property City
Answer: {!Get_Final_Location.Business_CompoundAddress__City__s}

Damaged property State
Answer: {!Get_Final_Location.Business_CompoundAddress__StateCode__s}

Damaged property Zip
Answer: {!Get_Final_Location.Business_CompoundAddress__PostalCode__s}

Verifying Questions:

Clients First Name
Answer: {!Get_Final_Party_Client_Record.litify_pm__First_Name__c}

Clients Last Name
Answer: {!Get_Final_Party_Client_Record.litify_pm__Last_Name__c}

Clients Middle Name
Answer: {!Get_Final_Party_Client_Record.Middle_Name__c}

Clients suffix?
Answer:{!Get_Final_Party_Client_Record.Suffix__c}

Clients Street Address
Answer: {!Get_Final_Party_Client_Record.BillingStreet}

Clients City
Answer: {!Get_Final_Party_Client_Record.BillingCity}

Clients State
Answer: {!Get_Final_Party_Client_Record.BillingState}

Clients Zip
Answer: {!Get_Final_Party_Client_Record.BillingPostalCode}

What is a good email to reach you at?
Answer: {!Get_Final_Party_Client_Record.litify_pm__Email__c}

Client&#39;s Mobile Phone
Answer: {!Get_Final_Party_Client_Record.litify_pm__Phone_Mobile__c}

Are you currently residing in Florida?-- OR -- Were you diagnosed in Florida? -- OR -- IF DEATH -- Did the injured party pass away in Florida?
Answer: {!Get_Final_Intake_Outputs.Current_Florida_Resident__c}

How many people resided in the damaged property with you?
Answer: {!Get_Final_Intake_Outputs.Number_of_Affected_Parties__c}

Did you have homeowners or renter&#39;s insurance at the time of the damage?
Answer: {!Get_Final_Policy.Policy_Type__c}

Are you the policy holder?
Answer: {!Get_Final_Policy.Policy_Holder_Info__c}

What is the name of your insurance provider?
Answer: {!Get_Final_Policy.Insurance_Provider_Name__c}

What is your policy number?
Answer: {!Get_Final_Policy.Policy_Number__c}

What are the coverage limits?
Answer: {!Get_Final_Policy.Policy_Coverage_Description__c}

What was the type of property that got damaged in the fire?
Answer: {!Get_Final_Damage_Claim.Property_Type__c}

What was the level of damage to the property?
Answer: {!Get_Final_Damage_Claim.Level_of_Damage__c}

What is your estimate of square footage for the damaged property?
Answer: {!Get_Final_Damage_Claim.Total_Square_Foot__c}

Were any vehicles damaged by the fire?
Answer: {!Get_Final_Damage_Claim.Received_Damage__c}

Vehicle Description: (MAY BE BLANK. Only asked if its a vehicle was damages in the fire)
Answer: {!Get_Final_Damage_Claim.Description_of_Property__c}

Do you have any other structures or improvements on the property that were damaged?
(e.g., deck, pool, guest house, etc.)
Answer: {!Get_Final_Damage_Claim.Other_Structures_Damaged__c}

If this is a business loss, what type of business did you operate? (MAY BE BLANK. Only asked if business loss)
Answer: {!Get_Final_Location.Business_Business_Description__c}

What is your title(s) with the business entity? (MAY BE BLANK. Only asked if business loss)
Answer: {!Get_Final_Location.Business_Title_at_Business__c}

How many years has the business been in operation? (MAY BE BLANK. Only asked if business loss)
Answer: {!Get_Final_Location.Business_Years_in_Operation__c}

What is the estimated annual revenue of the business? (MAY BE BLANK. Only asked if business loss)
Answer: {!Get_Final_Location.Business_Annual_Revenue_Estimate__c}

If applicable, what is the exact legal name of the business? (MAY BE BLANK. Only asked if business loss)
Answer: {!Get_Final_Location.Business_Legal_Name_of_Business__c}

Do you have a Trust or Estate for the property?
Answer: {!Get_Final_Intake_Outputs.Trust_Estate_Verification__c}

Please describe any injuries you sustained: (MAY BE BLANK. Only asked if they were physically injured from the fire)
Answer: {!Get_Final_Damage_Claim.Physical_Description_of_Injury__c}

Did you have to seek medical attention for your injuries? (MAY BE BLANK. Only asked if they were physically injured from the fire)
Answer: {!Get_Final_Damage_Claim.Services_Required__c}

Do we have permission to communicate with you via SMS/text messages, email, or by phone to collect additional information and provide you with documents related to your potential case?
Answer:{!Get_Final_Intake_Outputs.Accepted_Form_of_Communication__c}

What is your marital status?
Answer: {!Get_Final_Party_Client_Record.Marital_Status__c}

What is your gender (injured party)?
Answer: {!Get_Final_Intake_Outputs.InjuredPartyGender__c}

Client&#39;s Home Phone
Answer: {!Get_Final_Party_Client_Record.litify_pm__Phone_Home__c}

Emergency Contact Name (for someone who lives with the client)
Answer: {!Get_Final_Party_Client_Record.Emergency_Contact_Name__c}

Emergency Contact Relationship (for someone who lives with the client)
Answer: {!Get_Final_Party_Client_Record.Emergency_Contact_Relationship__c}

Emergency Contact Phone Number (for someone who lives with the client)
Answer: {!Get_Final_Party_Client_Record.Emergency_Contact_Phone__c}

Do we have permission to reference your case to this person? (We will not discuss your case with anyone without your permission)
Answer: {!Get_Final_Party_Client_Record.Release_Information_Permission_Check__c}

Do we have permission to contact this person if we are unable to get a hold of you?
Answer: {!Get_Final_Party_Client_Record.Permission_to_Contact_Emergeny_Contact__c}

What was the cause of death listed on the death certificate? (MAY BE BLANK. Only asked if death case)
Answer: {!Get_Final_Campaign_Case.CM_Certified_Cause_of_Death__c}

What is the name and address of the coroner&#39;s office where the remains were sent? (MAY BE BLANK. Only asked if death case)
Answer: {!Get_Final_Campaign_Case.CM_Death_Information__c}

Do you have any official documents to show you are the POA? (MAY BE BLANK. Only asked if POA case)
Answer: {!Get_Final_Intake_Outputs.Do_you_have_legal_POA_documents__c}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResidentCreationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Annual_Revenue_Estimate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Business_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Extra residents that were also affected in this ordeal to be generated and information collected on them via flow.</description>
        <name>var_col_Extra_Residents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_col_Extra_Residents_Intakes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
    <variables>
        <name>var_Description_of_Injury</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Description_of_Property</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Disqualify_Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Disqualify_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Extra_Resident_Party</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Insurance_Provider_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Legal_Name_Of_Business</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LevelOfDamage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Newly_Created_Resident_Intake</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
    <variables>
        <name>var_Other_Structures_Damaged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Policy_Coverage_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Policy_Holder_Info</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Policy_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Policy_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Property_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Received_Damage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_res_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_res_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Resident_Intake_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Services_Required</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Title_At_Business</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Total_Square_Foot2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Years_in_Operations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMatchFoundBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPartnerIntakeAssignedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
