unpackaged/main/default/flows/SRLG_Intake_Generate_DocRio_Engagement_Doc_Packet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_URL</name>
        <label>Navigate to URL</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>https://saddlerock.lightning.force.com/lightning/n/litify_docs__Direct_Packet_Merge?litify_docs__autoMerge=true&amp;litify_docs__objectApiName=litify_pm__Intake__c&amp;litify_docs__packetIds={!getIntake.FX_Campaign_Partner_Packet_Id__c}&amp;litify_docs__recordId={!getIntake.Id}&amp;_self</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Generates a document in Docrio for an engagement pdf to be sent via hellosign/dropbox for e-signature.</description>
    <environments>Default</environments>
    <interviewLabel>SRLG | Intake | Generate DocRio Engagement Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Intake | Generate DocRio Engagement Doc Packet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getIntake</name>
        <label>getIntake</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Navigate_to_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getIntake</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>https://saddlerock--full.sandbox.lightning.force.com/lightning/n/litify_docs__Direct_Packet_Merge?litify_docs__autoMerge=true&amp;litify_docs__objectApiName=litify_pm__Intake__c&amp;litify_docs__packetIds={!getIntake.Campaign_Partner_Packet_Id__c}&amp;litify_docs__recordId={!getIntake.Id}</description>
        <name>varURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
