unpackaged/main/default/flows/Test_Dynamic_Flow_QnA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Answer_Criteria</name>
        <label>Evaluate Answer Criteria</label>
        <locationX>1326</locationX>
        <locationY>1598</locationY>
        <actionName>DynamicAnswerCriteriaEvaluator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Section_Answers</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>intakeId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sectionId</name>
            <value>
                <elementReference>Loop_Sections.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DynamicAnswerCriteriaEvaluator</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Refresh_After_Ending_Values</name>
        <label>Refresh After Ending Values</label>
        <locationX>666</locationX>
        <locationY>4838</locationY>
        <actionName>c:refreshPageData</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshPageData</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Refresh_After_Recent_Section</name>
        <label>Refresh After Recent Section</label>
        <locationX>974</locationX>
        <locationY>2030</locationY>
        <actionName>c:refreshPageData</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>QnA_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshPageData</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Refresh_After_Update</name>
        <label>Refresh After Update</label>
        <locationX>1194</locationX>
        <locationY>3638</locationY>
        <actionName>c:refreshPageData</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Update_Section_Variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshPageData</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Refresh_After_Working_Status</name>
        <label>Refresh After Working Status</label>
        <locationX>754</locationX>
        <locationY>866</locationY>
        <actionName>c:refreshPageData</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Case_Type_Questionnaire</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshPageData</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Page_Data</name>
        <label>Refresh Page Data</label>
        <locationX>1194</locationX>
        <locationY>4154</locationY>
        <actionName>c:refreshPageData</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Loop_Sections</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshPageData</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Apply_Relaunch_Variables</name>
        <label>Apply Relaunch Variables</label>
        <locationX>666</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>lastSectionOverride</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelaunch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Sections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Relaunch_Variable</name>
        <label>Clear Relaunch Variable</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varRelaunch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Override_Last_Section_and_DQ</name>
        <label>Override Last Section and DQ</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>lastSectionOverride</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isDisqualified</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_To_False</name>
        <label>Set Variable To False</label>
        <locationX>1414</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>hasUnansweredRequiredQuestions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delay_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_To_True</name>
        <label>Set Variable To True</label>
        <locationX>1370</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>hasUnansweredRequiredQuestions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Required_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Section_Variables</name>
        <label>Update Section Variables</label>
        <locationX>1326</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>lastSectionOverride</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Sections.Section__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_CQC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Required_Questions_Answered</name>
        <label>All Required Questions Answered?</label>
        <locationX>1282</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Set_Variable_To_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Pending_Required_Questions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasUnansweredRequiredQuestions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Section_Answers</targetReference>
            </connector>
            <label>Pending Required Questions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fast_Forward_To_Section</name>
        <label>Fast Forward To Section?</label>
        <locationX>908</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Answer_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Fast Forward</defaultConnectorLabel>
        <rules>
            <name>Fast_Forward</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Recent_Section__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Sections.Section__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>recordId.Recent_Section__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Sections.Section__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>lastSectionOverride</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRelaunch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isDisqualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Sections</targetReference>
            </connector>
            <label>Fast Forward</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_End_Date_Not_Null</name>
        <label>Intake End Date Not Null?</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Intake_Working_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Null</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_End_Date.litify_pm__Questionnaire_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_After_Working_Status</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Is</name>
        <label>Intake Is</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>DQ_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disqualified</defaultConnectorLabel>
        <rules>
            <name>Not_Disqualified</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastSectionOverride</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>recordId.Recent_Section__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Recent_Section__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.litify_pm__Questionnaire_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Answer_Records</targetReference>
            </connector>
            <label>Not Disqualified</label>
        </rules>
        <rules>
            <name>Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.litify_pm__Questionnaire_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finished_Screen</targetReference>
            </connector>
            <label>Finished</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Was</name>
        <label>Intake Was...</label>
        <locationX>402</locationX>
        <locationY>4514</locationY>
        <defaultConnector>
            <targetReference>Generate_Output_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Relaunched</defaultConnectorLabel>
        <rules>
            <name>Relaunched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelaunch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Case_Type_Questionnaire</targetReference>
            </connector>
            <label>Relaunched</label>
        </rules>
        <rules>
            <name>Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDisqualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>DQ_Screen</targetReference>
            </connector>
            <label>Disqualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launching_Questionnaire_1st_Time</name>
        <label>Launching Questionnaire 1st Time?</label>
        <locationX>1326</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Update_Section_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.X1st_Questionnaire_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.litify_pm__Questionnaire_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questions_Found_For_Section</name>
        <label>Questions Found For Section?</label>
        <locationX>1326</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Launching_Questionnaire_1st_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Questions_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Section_Answers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Section_Answers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Recent_Section</targetReference>
            </connector>
            <label>Questions Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relaunch_Flow</name>
        <label>Relaunch Flow?</label>
        <locationX>974</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Required_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next or Finish</defaultConnectorLabel>
        <rules>
            <name>Relaunch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NextButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relaunch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinishButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relaunch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Relaunch_Variables</targetReference>
            </connector>
            <label>Relaunch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Question_Answered</name>
        <label>Required Question Answered?</label>
        <locationX>1502</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Required_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Answered</defaultConnectorLabel>
        <rules>
            <name>Not_Answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Required_Completed.dynamicInput.required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Required_Completed.dynamicInput.answer</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_To_True</targetReference>
            </connector>
            <label>Not Answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_CQC</name>
        <label>Run CQC?</label>
        <locationX>1326</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>Loop_Sections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meh</defaultConnectorLabel>
        <rules>
            <name>Do_It</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lastSectionOverride</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>mostRecentSection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CQC_Router</targetReference>
            </connector>
            <label>Do It</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Answer_Records_Found</name>
        <label>Were Answer Records Found?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Answer_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Answer Records</defaultConnectorLabel>
        <rules>
            <name>Has_Answer_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Answer_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Type_Questionnaire</targetReference>
            </connector>
            <label>Has Answer Records</label>
        </rules>
    </decisions>
    <description>5/28 SC - Added Questionnaire Output update
5/21 AV - Made the delay on the delay screen a bit longer (3000 milliseconds).</description>
    <environments>Default</environments>
    <formulas>
        <name>mostRecentSection</name>
        <dataType>Number</dataType>
        <expression>IF({!recordId.Recent_Section__c} &gt; {!Loop_Sections.Section__c}, {!recordId.Recent_Section__c}, {!Loop_Sections.Section__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SRLG | Questionnaire | Dynamic Screen Flow</label>
    <loops>
        <name>Loop_Sections</name>
        <label>Loop Sections</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Sections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fast_Forward_To_Section</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Intake_Was</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Required_Completed</name>
        <label>Required Completed?</label>
        <locationX>1282</locationX>
        <locationY>2354</locationY>
        <collectionReference>QuestionsRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Required_Question_Answered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Required_Questions_Answered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Answer_Records</name>
        <label>Get Answer Records</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Answer_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2.0</numberValue>
        </limit>
        <object>Answer__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Type_Questionnaire</name>
        <label>Get Case Type Questionnaire</label>
        <locationX>402</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.litify_pm__Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isAvailable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Questionnaire__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_End_Date</name>
        <label>Get End Date</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_End_Date_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FX_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>litify_pm__Questionnaire_End_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Section_Answers</name>
        <label>Get Section Answers</label>
        <locationX>1326</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questions_Found_For_Section</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Section_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Sections.Section__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Criteria_Met__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Answer__c</object>
        <sortField>Sequence_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sections</name>
        <label>Get Sections</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Relaunch_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Questionnaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Type_Questionnaire.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questionnaire_Section__c</object>
        <sortField>Section__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>1194</locationX>
        <locationY>3530</locationY>
        <connector>
            <targetReference>Refresh_After_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X1st_Questionnaire_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Questionnaire_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Ending_Values</name>
        <label>Update Intake Ending Values</label>
        <locationX>666</locationX>
        <locationY>4730</locationY>
        <connector>
            <targetReference>Refresh_After_Ending_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>litify_pm__Questionnaire_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intake_Working_Status</name>
        <label>Update Intake Working Status</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Refresh_After_Working_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Status__c</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turn_Down_Details__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Turn_Down_Reason__c</field>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recent_Section</name>
        <label>Update Recent Section</label>
        <locationX>974</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Refresh_After_Recent_Section</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recent_Section__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Loop_Sections.Section__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recent_Section__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Recent_Section__c</field>
            <value>
                <elementReference>Loop_Sections.Section__c</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Intake__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Are_You_Ready_Screen</name>
        <label>Are You Ready Screen</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Type_Questionnaire</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Staging the questionnaire... Please remain still while we calibrate your impending judgement.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Spinner</name>
            <extensionName>c:flowSpinnerDelayInteraction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>delay</name>
                <value>
                    <numberValue>3000.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>So Litify Can Catch up</description>
        <name>Delay_Screen</name>
        <label>Delay Screen</label>
        <locationX>1414</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Launching_Questionnaire_1st_Time</targetReference>
        </connector>
        <fields>
            <name>DelayMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(82, 82, 82); font-size: 16px;&quot;&gt;Saving your answers...&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DelaySpinner</name>
            <extensionName>c:flowSpinnerDelayInteraction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>delay</name>
                <value>
                    <numberValue>3000.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DQ_Screen</name>
        <label>DQ Screen</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Override_Last_Section_and_DQ</targetReference>
        </connector>
        <fields>
            <name>DQMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(251, 0, 0);&quot;&gt;UNFORTUNATELY THEY ARE DQ&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please Read: &quot;Unfortunately, we cannot accept your potential case at this time. As such, we are not able to represent you and will not be filing a lawsuit on your behalf. This does not mean you don&#39;t have a case. Please consider contacting another law firm for a second opinion. Thank you for taking the time to speak with us as Saddle Rock Legal Group. Have a great day!&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;**Note to Agent: If the caller asked &#39;why&#39;, it&#39;s okay to simply state that &#39;There&#39;s a current lack of evidence to fit our case criteria.&#39; No further details than that.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Relaunch</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finished_Screen</name>
        <label>Finished Screen</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Override_Last_Section_and_DQ</targetReference>
        </connector>
        <fields>
            <name>FinishedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Questionnaire Completed&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If you would like to restart from the beginning please click Relaunch below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Relaunch</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QnA_Screen</name>
        <label>QnA Screen</label>
        <locationX>974</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Relaunch_Flow</targetReference>
        </connector>
        <fields>
            <name>SectionName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Loop_Sections.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RequiredQuestionsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(202, 0, 0);&quot;&gt;You have required Questions that are unanswered that must be completed before continuing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hasUnansweredRequiredQuestions</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QuestionsRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>callScriptText</name>
                <fieldText>&lt;p&gt;{!Get_Section_Answers[$EachItem].Questionnaire_Question__r.Call_Script__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>dynamicInput</name>
                <extensionName>c:dynamicInputs</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>answer</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Answer__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>answerId</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Id</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>answerType</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Questionnaire_Question__r.Question__r.Answer_Type__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>buttonLabel</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Questionnaire_Question__r.Question__r.Button_Label__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>flowApiName</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Questionnaire_Question__r.Question__r.Flow_API_Name__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>intakeId</name>
                    <value>
                        <elementReference>recordId.Id</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Questionnaire_Question__r.Question_Label__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>lookupObject</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Questionnaire_Question__r.Question__r.Lookup_Object__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>options</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Questionnaire_Question__r.Question__r.Answer_Options__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>required</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Questionnaire_Question__r.Required__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>helpText</name>
                    <value>
                        <elementReference>Get_Section_Answers[$EachItem].Questionnaire_Question__r.Help_Text__c</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Section_Answers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NextButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Relaunch&quot;,&quot;value&quot;:&quot;Relaunch&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Sections.Final_Section__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FinishButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Relaunch&quot;,&quot;value&quot;:&quot;Relaunch&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Sections.Final_Section__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Intake_Is</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CQC_Router</name>
        <label>CQC Router</label>
        <locationX>1194</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>Refresh_Page_Data</targetReference>
        </connector>
        <flowName>SRLG_Questionnaire_CQC_Router</flowName>
        <inputAssignments>
            <name>caseType</name>
            <value>
                <elementReference>recordId.litify_pm__Case_Type__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>intakeId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>isDisqualified</assignToReference>
            <name>Disqualified</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>This will create the Answer records needed on the Intake to run this flow</description>
        <name>Create_Answer_Records</name>
        <label>Create Answer Records</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Are_You_Ready_Screen</targetReference>
        </connector>
        <flowName>Questionnaire_AL_Build_Intake_s_Questionnaire</flowName>
        <inputAssignments>
            <name>Intake</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isExternal</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Output_Field</name>
        <label>Generate Output Field</label>
        <locationX>666</locationX>
        <locationY>4622</locationY>
        <connector>
            <targetReference>Update_Intake_Ending_Values</targetReference>
        </connector>
        <flowName>SRLG_Questionnaire_Output_Sub_Flow</flowName>
        <inputAssignments>
            <name>intakeId</name>
            <value>
                <elementReference>recordId.FX_Id__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Client_Addresses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Address__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Answer__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Only_Current_Loop_Section</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Answer__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Out_Unmet_Criteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Answer__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Injured_Party_Addresses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>srlg_Address__c</objectType>
    </variables>
    <variables>
        <name>hasUnansweredRequiredQuestions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isDisqualified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lastSectionOverride</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>recordId.Recent_Section__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>litify_pm__Intake__c</objectType>
    </variables>
    <variables>
        <name>varRelaunch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
