unpackaged/main/default/flows/Unable_to_Reach_30_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>765</locationX>
        <locationY>636</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>Send_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>DR - 6/24/24 - Replaced by outbound comm records</description>
    <environments>Default</environments>
    <interviewLabel>Unable to Reach 30+ Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEPRECATED Unable to Reach 30+ Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Email</name>
        <label>Log Email</label>
        <locationX>762</locationX>
        <locationY>868</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Send_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Thirty_Days</name>
            <connector>
                <targetReference>SendEmail</targetReference>
            </connector>
            <label>Thirty Days</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Send_Email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.litify_pm__First_Name__c}:
&lt;br&gt;&lt;br&gt;
We have been unable to reach you about your potential {!$Record.Case_Type_Name_del__c} case. We do need to reach you as soon as possible to be able to go through our intake and hopefully file a case for you. 
&lt;br&gt;&lt;br&gt;
Our intake specialists are still available for a free consultation and are very interested in your {!$Record.Case_Type_Name_del__c} case.  The consultation will only take 5-10 minutes.  Please don&#39;t delay calling as how quickly you reach out to us may be the difference between receiving compensation or not.  
&lt;br&gt;&lt;br&gt;
Just call us at {!$Organization.Phone} between 7 AM and 7 PM EST Monday through Friday or Saturday between 10 AM and 7 PM EST. If we don&#39;t hear from you, we will try you back soon.
&lt;br&gt;&lt;br&gt;
Regards, &lt;br&gt;
Saddle Rock Legal Group&lt;br&gt;
{!$Organization.Phone}</text>
    </textTemplates>
    <textTemplates>
        <name>SendSMS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This is Saddle Rock Legal Group, reaching out for a potential {!$Record.Case_Type_Name_del__c} case. Please call us at 888-463-0699. Thanks!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.litify_pm__First_Name__c}, Important Notice from Saddle Rock Legal Group</text>
    </textTemplates>
    <triggerOrder>1240</triggerOrder>
</Flow>
