unpackaged/main/default/flows/Waiting_Attorney_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>847</locationX>
        <locationY>547</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0</name>
        <label>Send Email</label>
        <locationX>922</locationX>
        <locationY>622</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0</name>
        <label>Send Email</label>
        <locationX>997</locationX>
        <locationY>697</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0</name>
        <label>Send Email</label>
        <locationX>1072</locationX>
        <locationY>772</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0_0</name>
        <label>Send Email</label>
        <locationX>1147</locationX>
        <locationY>847</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0_0_0</name>
        <label>Send Email</label>
        <locationX>1222</locationX>
        <locationY>922</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0_0_0_0</name>
        <label>Send Email</label>
        <locationX>1297</locationX>
        <locationY>997</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0_0_0_0_0</name>
        <label>Send Email</label>
        <locationX>1372</locationX>
        <locationY>1072</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_0_0_0_0_0_0_0_0</name>
        <label>Send Email</label>
        <locationX>725</locationX>
        <locationY>440</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Email_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>366</locationX>
        <locationY>1111</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0</name>
        <label>Send SMS</label>
        <locationX>441</locationX>
        <locationY>1186</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0</name>
        <label>Send SMS</label>
        <locationX>516</locationX>
        <locationY>1261</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0</name>
        <label>Send SMS</label>
        <locationX>591</locationX>
        <locationY>1336</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>666</locationX>
        <locationY>1411</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>741</locationX>
        <locationY>1486</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>816</locationX>
        <locationY>1561</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>891</locationX>
        <locationY>1636</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_0_0_0_0_0_0_0_0</name>
        <label>Send SMS</label>
        <locationX>187</locationX>
        <locationY>899</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_SMS_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Number</name>
        <label>Has Number</label>
        <locationX>503</locationX>
        <locationY>1000</locationY>
        <defaultConnector>
            <targetReference>Send_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Number_0</name>
        <label>Has Number</label>
        <locationX>578</locationX>
        <locationY>1074</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Number_0_0</name>
        <label>Has Number</label>
        <locationX>653</locationX>
        <locationY>1149</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Number_0_0_0</name>
        <label>Has Number</label>
        <locationX>728</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Number_0_0_0_0</name>
        <label>Has Number</label>
        <locationX>803</locationX>
        <locationY>1299</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Number_0_0_0_0_0</name>
        <label>Has Number</label>
        <locationX>878</locationX>
        <locationY>1374</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Number_0_0_0_0_0_0</name>
        <label>Has Number</label>
        <locationX>953</locationX>
        <locationY>1449</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Number_0_0_0_0_0_0_0</name>
        <label>Has Number</label>
        <locationX>1028</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Number_0_0_0_0_0_0_0_0</name>
        <label>Has Number</label>
        <locationX>337</locationX>
        <locationY>778</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DR - 6/24/24 - Replaced by outbound comm records</description>
    <environments>Default</environments>
    <interviewLabel>Waiting Attorney Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEPCREATED Waiting Attorney Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Email</name>
        <label>Log Email</label>
        <locationX>684</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Has_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0</name>
        <label>Log Email</label>
        <locationX>760</locationX>
        <locationY>948</locationY>
        <connector>
            <targetReference>Has_Number_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0</name>
        <label>Log Email</label>
        <locationX>835</locationX>
        <locationY>1023</locationY>
        <connector>
            <targetReference>Has_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0</name>
        <label>Log Email</label>
        <locationX>910</locationX>
        <locationY>1098</locationY>
        <connector>
            <targetReference>Has_Number_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>985</locationX>
        <locationY>1173</locationY>
        <connector>
            <targetReference>Has_Number_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>1060</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Has_Number_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>1136</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Has_Number_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>1210</locationX>
        <locationY>1398</locationY>
        <connector>
            <targetReference>Has_Number_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_0_0_0_0_0_0_0_0</name>
        <label>Log Email</label>
        <locationX>532</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Has_Number_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>info@saddlerocklegal.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>***URGENT- Attorney Transfer**</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.FX_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS</name>
        <label>Log SMS</label>
        <locationX>227</locationX>
        <locationY>1256</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0</name>
        <label>Log SMS</label>
        <locationX>302</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0</name>
        <label>Log SMS</label>
        <locationX>377</locationX>
        <locationY>1406</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0</name>
        <label>Log SMS</label>
        <locationX>452</locationX>
        <locationY>1481</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>527</locationX>
        <locationY>1556</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>602</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>677</locationX>
        <locationY>1706</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>752</locationX>
        <locationY>1781</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_SMS_0_0_0_0_0_0_0_0</name>
        <label>Log SMS</label>
        <locationX>50</locationX>
        <locationY>1059</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SMS Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__To_Number__c</field>
            <value>
                <elementReference>$Record.litify_pm__Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1026</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Send_Email_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting Attorney Call</stringValue>
            </value>
        </filters>
        <object>litify_pm__Intake__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>five_hours</name>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>five hours</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>day_one</name>
            <connector>
                <targetReference>Send_Email_0</targetReference>
            </connector>
            <label>day one</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>day_three</name>
            <connector>
                <targetReference>Send_Email_0_0</targetReference>
            </connector>
            <label>day three</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>day_five</name>
            <connector>
                <targetReference>Send_Email_0_0_0</targetReference>
            </connector>
            <label>day five</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>day_seven</name>
            <connector>
                <targetReference>Send_Email_0_0_0_0</targetReference>
            </connector>
            <label>day seven</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>day_ten</name>
            <connector>
                <targetReference>Send_Email_0_0_0_0_0</targetReference>
            </connector>
            <label>day ten</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>day_twelve</name>
            <connector>
                <targetReference>Send_Email_0_0_0_0_0_0</targetReference>
            </connector>
            <label>day twelve</label>
            <offsetNumber>12</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>day_fifteen</name>
            <connector>
                <targetReference>Send_Email_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>day fifteen</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>SendEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi{!$Record.litify_pm__First_Name__c},
&lt;br&gt;&lt;br&gt;
We at Saddle Rock Legal Group hope this email finds you well. You have previously shown interest in a possible{!$Record.Case_Type_Name_del__c} claim. We have finished the intake questions and signed the paperwork for a preliminary review, but are still waiting to transfer you over to our attorneys. We want to be sure that we get you in contact with them so you can discuss the engagement letter and go over a few more case details. We only have 21 days to contact these attorneys, or your case will be dismissed. Please call our firm as soon as possible, this should be a pretty quick and easy call (about 3-5 minutes).
&lt;br&gt;&lt;br&gt;
Our number is {!$Organization.Phone}. We would love to hear from youas soon as possible so we can get you transferred!
&lt;br&gt;&lt;br&gt;
All the best,&lt;br&gt;
Saddle Rock Legal Group&lt;br&gt;
{!$Organization.Phone}</text>
    </textTemplates>
    <textTemplates>
        <name>SMS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hithis is Saddle Rock Legal Group, and we need to transfer you to our attorneys! Please call {!$Organization.Phone} right away!</text>
    </textTemplates>
    <triggerOrder>1300</triggerOrder>
</Flow>
